<mat-expansion-panel  [hideToggle] = "collapsed">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="" aria-hidden="true"></i>
          <span>Masks</span>
        </mat-panel-title>
      
        <mat-panel-description>
          
        </mat-panel-description>
      </mat-expansion-panel-header>



<!--  <button  matTooltip="mask filled cells in selection with {{ pat.name }}" 
     [disabled] = "brush !=='select'" 
     name="mask_{{pat.id}}" 
     class="button is-primary is-small is-fullwidth" 
     (click)="maskEvent($event, pat.id)">
      <i class="fill_name">{{ pat.name }}</i>
     </button> 
 -->
</mat-expansion-panel>