.mixer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.designtools{
    width: 100%;
    margin: 20px;

}

.undoredo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button{
        width: 48%;
    }
}


.button{
    margin: 4px;
}
// .sidebar{
//     display: flex;
//     flex-direction: column;
//     justify-content:flex-start;
//     font-size: .8em;

// }

// .swatch{
//     width: 10px;
//     height: 10px;
//     display: inline-block;
//     border: 1px solid grey;
// }

// .is-active{
//    color:#ff3860;
// }


// span{
//     padding-right: 10px;
// }