.draft-container {
  margin: 10px;
  position: relative;
  text-align: center;
  height: 100%;

  canvas {
    cursor: pointer;
    margin: 0px;
  }

}

.weftSelections{
  width:200px;
}


.drawdown-container{
  position: absolute;

  canvas{
    position: absolute;
  }
}

.tieups-container {
  position:absolute;

}

.treadling-container{
  position: absolute;

}

.threading-container{
  canvas{
    position:absolute;
  }
}

.selection {
  position: absolute;
  border: dashed black 2px;
  background: #ffffff98;
  pointer-events: none;
  overflow: visible;
  z-index: 1;
}

.shuttles {
  position: absolute;
  background: #303030;
  height: 100%;
  cursor: pointer;
  width: 50px;
}

.warp_systems {
  position: absolute;
  background: #303030;
  height: 50px;
  cursor: pointer;
  width: 100%;
}

.view-toggle{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;

    mat-slider {
      width: 200px;
    }
}

.insert-button-group {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;

  .insert-button {
    height: 20px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      display: none;
      padding-right: 5px;
    }

    .fa-plus-circle {
      color: hsl(141, 71%, 48%);
    }

    .fa-clone {
      color: hsl(204, 86%, 53%)
    }

    .fa-trash {
      color: hsl(348, 100%, 61%);
    }

    &:hover {
      span {
        display: block;
      }
    }
  }
}

.view_frames {
  position: absolute;
  width: 20px;
  height: 100%;


    span {
      display: inline-flex;
      padding-right: 5px;
    }

    .fa-eye-slash {
      color: hsl(0, 100%, 100%);
    }

    .fa-eye{
      color: hsl(0, 100%, 100%);
    }

    /*span.view_frame_text{
      font-size:.7em;
      width: 500px;
      height:20px;
      margin-left: 20px;
    }*/
}