a.help{
    width: 80% !important;
    margin: 10%;
    border: thin solid #ff4081 !important;
    color: #ff4081;
    padding: 8px;
    text-align: center;

}

.design-container{
    display: flex;
    flex-direction: column;
    width:100%;
    max-height: 50vh;
}

.detail_data{
    width: 100%;
    min-height: 33vh;
    padding: 18px;

    
}

.mat-form-field{
    width: 100%;
}