<app-topbar 
[drawer] = "drawer"
[loomtypes] = "loomtypes"
[timeline] = "timeline"
[density_units] = "density_units"
[undoItem]="undoItem" 
[redoItem]="redoItem"
[filename]="draft?.name"
[draftelement]="draftelement"
  (onUndo)="undo();" 
  (onRedo)="redo();"
  (onReInit)="reInit($event);"
  (onSave)="onSave($event);">
</app-topbar>

<mat-drawer-container  style="background: #3d3d3d;" #container class="mat-drawer-container" cdkScrollable>
  
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end" opened>  

      <div class ="design-container">
       
        <mat-accordion multi>

        <app-weaverview 
          [weft_systems] = "draft?.weft_systems"
          [warp_systems]="draft?.warp_systems" 
          [front] = "render?.view_front"
          [view_modes] = "view_modes"
          [zoom] = "render?.zoom"
          [view] ="render?.current_view"
          (onViewChange) ="viewChange($event);"
          (onZoomChange) ="renderChange($event);"
          (onViewFront) ="renderChange($event);"
          (onHideWeftSystem)="hideWeftSystem($event);"
          (onShowWeftSystem)="showWeftSystem($event);"
          (onHideWarpSystem)="hideWarpSystem($event);"
          (onShowWarpSystem)="showWarpSystem($event);"
        >


        </app-weaverview>


        <app-weaverdesign
        [design_mode]="design_mode"
        [design_modes]="design_modes"
        [design_actions]="design_actions"
        [view_mode] = "render?.current_view"
        [materials]="draft?.shuttles"
        [patterns]="draft?.patterns"
        [selection] = "copy"
        (onDesignModeChange)="onDesignModeChange($event)" 
        (onFill)="onFill($event)" 
        (onCopy)="onCopy();"
        (onClear)="onClear($event);" 
        (onPaste)="onPaste($event);"
        (onPatternChange)="updatePatterns($event);"
        (onCreatePattern)="createPattern($event);"
        (onRemovePattern)="removePattern($event);"
        (onChange) = "onChange($event);"
        (onGenerativeModeChange)="onGenerativeModeChange($event)"
        >
        </app-weaverdesign> 
 
        <app-materials 
          [material_types]="material_types"
          [shuttles]="draft?.shuttles"
          (onColorChange)="shuttleColorChange()" 
          (onThicknessChange) ="thicknessChange($event)"
          (onCreateShuttle) ="createShuttle($event)"
        >

        </app-materials>

        <app-masks [hidden] = "render?.current_view != 'mask'"
          (onMask)="onMask($event);" >
        </app-masks>

        <app-systems
         [weft_systems]="draft?.weft_systems"
         [warp_systems]="draft?.warp_systems"
         [weft_systems_pattern]="draft?.rowSystemPattern"
         [warp_systems_pattern]="draft?.colSystemPattern"
         [shuttles]="draft?.shuttles"
         [warp_shuttles_pattern]="draft?.colShuttlePattern"
         [weft_shuttles_pattern]="draft?.rowShuttlePattern"
         (onUpdateWarpSystems) = "updateWarpSystems($event)"
         (onUpdateWeftSystems) = "updateWeftSystems($event)"
         (onUpdateWarpShuttles) = "updateWarpShuttles($event)"
         (onUpdateWeftShuttles) = "updateWeftShuttles($event)"
        >
       </app-systems>


        <app-loom 
          [epi] = "draft?.epi"
          [warps] = "draft?.warps"
          [wefts] = "draft?.wefts"
          [frames] = "draft?.loom.min_frames"
          [treadles] = "draft?.loom.min_treadles"
          [loomtypes] = "loomtypes"
          [loomtype] = "draft?.loom.type"
          [density_units] = "density_units"
          [units] = "draft?.units"
          [width] = "draft?.width"
          (onWarpNumChange) = "warpNumChange($event)"
          (onWeftNumChange) = "weftNumChange($event)"
          (onEpiNumChange) = "epiChange($event)"
          (onUnitChange) = "unitChange($event)"
          (onThicknessChange) = "thicknessChange($event)"
          (onLoomTypeChange) = "loomChange($event)"
          (onFrameChange) = "frameChange($event)"
          (onTreadleChange) = "treadleChange($event)"
          >
        </app-loom>
        
        <app-notes
         [notes] = "draft?.notes"
         (onChange) = "notesChanged($event)"
         >
        </app-notes>
        <div class="generative-options" *ngIf="weaveRef.selected==false">
          <h1>testing</h1>
          <button matTooltip="start making changes" 
          [name]='changesFromGenerative'
          class="button material is-small is-primary fas fa-square"
          >
        </button>
        </div>
    

        <app-schematic  [hidden] = "render?.current_view != 'yarn'"
        (onConnectionCreate)="openConnectionDialog();"
        (onLabelCreate)="openLabelDialog()"
        >

      </app-schematic> 


    </mat-accordion>

    </div>

  </mat-drawer>



  <div #weaveRef weave [render]="render" [(design_mode)]="design_mode" [(generative_mode)]="generativeMode" [(copy)]="copy" [timeline]="timeline" width="500" height="500" [draft]="draft" class="draft-container" id="draft-container" (onNewSelection) = "updateSelection($event)">

  
   <canvas id="weft-systems" #weft_systems>  </canvas>
   <canvas id="weft-materials" #weft_materials>  </canvas>
  
   <canvas id="warp-systems" #warp_systems>  </canvas>
   <canvas id="warp-materials" #warp_materials>  </canvas>
  
   <canvas id="threading"></canvas>
   <canvas id="tieups" #tieups ></canvas>
   <canvas id="drawdown" #drawDown >  </canvas>
   <canvas id="treadling" #treadling></canvas>


    <svg #mySelection class="selection">
      <text x="5" y="5" text-anchor="start"></text>
    </svg>


              
    
    <div id = 'view_frames' [class.hidden]="draft?.loom.type !== 'frame'"  matTooltip="Show/Hide Threading, Tie-Up, and Treadling" class="view_frames" 
   (click)="toggleViewFrames();">

      <span><i class="fas" [class.fa-eye-slash]="!render?.view_frames" [class.fa-eye]="render?.view_frames">
      </i></span>

    </div>

         
  <div class="weft-systems-text">
    <div class="weft-system-row" *ngFor="let i of (draft?.visibleRows); let j = index;" >


          <span class="weft_number" 
          [style.visibility]="(i % render?.getTextInterval() == 0)  ? 'visible' : 'hidden'" >
          {{i}}
          </span>

          <span class = "weft_insert" 
          (click)="insertRow(i + 1, draft?.rowToShuttle(i),draft?.rowToSystem(i));">
          <i class="fa fa-plus-circle"></i>
          </span>

          <span class = "weft_clone" 
          (click)="cloneRow(i + 1, i, draft?.rowToShuttle(i),draft?.rowToSystem(i));">
          <i class="fa fa-clone"></i>
          </span>
          
          <span class="weft_delete" 
           (click)="deleteRow(i);">
           <i class="fa fa-trash"></i>
          </span>
    </div>
  </div> 



      
  <div class="warp-systems-text">

    <div class="warp-system-col" 
    *ngFor="let i of (draft?.colShuttleMapping); let j = index;" >

      <span class="warp_delete" (click)="deleteCol(j);"><i class="fa fa-trash"></i>
        </span>

      <span class="warp_clone"
      (click)="cloneCol(j,draft?.colToShuttle(j), draft?.colToSystem(j));">
        <i class="fa fa-clone"></i>
      </span>


      <span class="warp_insert" 
      (click)="insertCol(j + 1, draft?.colToShuttle(j),draft?.colToSystem(j));">
      <i class="fa fa-plus-circle"></i></span>
      
      <span  class="warp_number"
       [style.visibility]="(j % render?.getTextInterval() == 0)  ? 'visible' : 'hidden'">{{j}}</span>


    </div>
   </div>  



  
    <svg #activeRow class="active_row">
    </svg>

    <svg #activeCol class="active_col">
    </svg>
              


    <canvas #bitmapImage hidden></canvas>

<!--       <svg #connections [style.left]="drawDown.offsetLeft" [attr.width]="draft?.warps * 20" [attr.height]="draft?.wefts * 20" style="position:absolute" [class.hidden]="view !== 'yarn'">
        <g *ngFor="let c of (draft?.connections)">
          <line 
          [attr.x1]="c.start.x === 1? c.start.x * 20 - 15 : c.start.x * 20 - 5" 
          [attr.y1]="c.start.y * 20 - 10"       
          [attr.x2]="c.end.x === 1? c.end.x * 20 - 15 : c.end.x * 20 - 5"
          [attr.y2]="c.end.y * 20 - 10"
          [attr.stroke]="draft?.shuttles[c.shuttleId]?.color"
          stroke-width="5"/>
          <circle 
          [attr.cx]="c.start.x === 1? c.start.x * 20 - 15 : c.start.x * 20 - 5" 
          [attr.cy]="c.start.y * 20 - 10" r="7" 
          [attr.fill]="draft?.shuttles[c.shuttleId]?.color"/>
          <circle
          [attr.cx]="c.end.x === 1? c.end.x * 20 - 15 : c.end.x * 20 - 5"
          [attr.cy]="c.end.y * 20 - 10" r="7" 
          [attr.fill]="draft?.shuttles[c.shuttleId]?.color"/>
        </g>
      </svg> -->



  </div>


</mat-drawer-container>
