.draft-container {
  text-align: center;
  margin: 10px;
  position: relative;
  overflow: scroll;

  canvas {
    position: relative;
    margin-left: 65px;
    margin-right: 70px;
    cursor: pointer;
  }
}
.threading-container{
  canvas {
    position: static;
  }
}
.treadling-container{
  position: absolute;
  top: 166px;
  canvas {
    position: absolute;
  }
}

.selection {
  position: absolute;
  border: dashed black 2px;
  background: #ffffff98;
  pointer-events: none;
  overflow: visible;
}

.shuttles {
  position: absolute;
  top: 166px;
  background: #303030;
  height: 100%;
  cursor: pointer;
  width: 50px;
}

.insert-button-group {
  position: absolute;
  top: 0;
  width: 20px;
  height: 100%;

  .insert-button {
    height: 20px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    span {
      display: none;
      padding-right: 5px;
    }

    .fa-plus-circle {
      color: hsl(141, 71%, 48%);
    }

    .fa-clone {
      color: hsl(204, 86%, 53%)
    }

    .fa-trash {
      color: hsl(348, 100%, 61%);
    }

    &:hover {
      span {
        display: block;
      }
    }
  }
}