<app-topbar></app-topbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav mode="side" position="end" opened>
    <mat-tab-group #group (click)="selected = group.selectedIndex;">
      <mat-tab label="Design">
        <app-design [brush]="brush" [favorites]="patterns | filter: {favorite: true }"
        (onViewChange)="onViewChange($event);"
        (onBrushChange)="onBrushChange($event)" 
        (onFill)="onFill($event)" 
        (onCopy)="onCopy();"
        (onClear)="onClear();" 
        (onMask)="onMask($event);" 
        (onPaste)="onPaste($event);"
        (onConnectionCreate)="openDialog();"></app-design> 
      </mat-tab>
      <mat-tab label="Layers">
        <app-layers *ngIf="selected === 1" [layers]="draft.layers" (onColorChange)="redraw()"
        (onCreateLayer)="createLayer($event);"></app-layers> 
      </mat-tab>
      <mat-tab label="Pattern">
        <app-patterns *ngIf="selected === 2" [patterns]="patterns"
        (onChange)="updatePatterns($event);"
        (onCreatePattern)="createPattern($event);"></app-patterns>  
      </mat-tab>
    </mat-tab-group>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- <div class="layers-container">
      <button mat-mini-fab class="rowLayer" *ngFor="let row of draft.rowLayerMapping">
      </button>
    </div> -->
    <div #weaveDraft weave [(brush)]="brush" width="500" height="500" [draft]="draft" class="draft-container" (scroll)="print($event);">
      <canvas #myCanvas style="background:#fbfbfb;"  >
      </canvas>
      <svg #connections [style.left]="myCanvas.offsetLeft" [attr.width]="draft.warps * 20" [attr.height]="draft.wefts * 20" style="position:absolute" [class.hidden]="view !== 'yarn'">
        <g *ngFor="let c of (draft.connections)">
          <line 
          [attr.x1]="c.start.x === 1? c.start.x * 20 - 15 : c.start.x * 20 - 5" 
          [attr.y1]="c.start.y * 20 - 10"       
          [attr.x2]="c.end.x === 1? c.end.x * 20 - 15 : c.end.x * 20 - 5"
          [attr.y2]="c.end.y * 20 - 10"
          [attr.stroke]="draft.layers[c.layerId]?.color"
          stroke-width="5"/>
          <circle 
          [attr.cx]="c.start.x === 1? c.start.x * 20 - 15 : c.start.x * 20 - 5" 
          [attr.cy]="c.start.y * 20 - 10" r="7" 
          [attr.fill]="draft.layers[c.layerId]?.color"/>
          <circle
          [attr.cx]="c.end.x === 1? c.end.x * 20 - 15 : c.end.x * 20 - 5"
          [attr.cy]="c.end.y * 20 - 10" r="7" 
          [attr.fill]="draft.layers[c.layerId]?.color"/>
        </g>
      </svg>
      <svg #layers class="layers" [attr.width]="50" [style.left]="myCanvas.offsetLeft - 55">
        <g *ngFor="let row of (draft.rowLayerMapping); let i = index">
          <circle cx="20" [attr.cy]="(i*20)+10" r="7" stroke="white" stroke-width="1" [attr.fill]="draft.layers[row]?.color" (click)="rowLayerChange(row, i)"/>
          <text text-anchor="end" x="5" [attr.y]="(i*20+15)" style="font-size:12px;" fill="#fff">{{ i + 1 }}</text>
        </g>
      </svg>
      <div #insertButtons class="insert-button-group" [ngStyle]="{'left.px': myCanvas.offsetLeft + (draft.warps * 20) + 15 }">
        <div *ngFor="let row of (draft.rowLayerMapping); let i = index" class="insert-button">
          <span (click)="insertRow(i + 1, row);"><i class="fa fa-plus-circle"></i></span>
          <span (click)="cloneRow(i + 1, i, row);"><i class="fa fa-clone"></i></span>
          <span (click)="deleteRow(i);"><i class="fa fa-trash"></i></span>
        </div>
      </div>
      <svg #mySelection class="selection">
        <text x="5" y="25"></text>
      </svg>
      <!-- <div class="threading-container">
      </div>
      <div class="tieup-container">
      </div> -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
