<div class="draft-container {{source}}" id="draft-container">


  
    <div id = 'draft-scale-container'>

      <app-selection 
      #selection
      [render]="render"
      [loom]="loom"
      (onFill)="onFill($event)"
      (onCopy)="onCopy($event)"
      (onClear)="onClear($event)"
      (onPaste)="onPaste($event)"
      (onSelectionEnd)="onSelectionEnd($event)"
      ></app-selection>
     
      
      <div class="warp-systems-container">
        <div class="warp-systems-text" id="warp-systems-text">
          <div class="warp-system-col" 
          *ngFor="let i of (weave?.colShuttleMapping); let j = index;" >
      
            <span *ngIf="(j % render?.getTextInterval() == 0 && (j+1 !== weave?.warps))" class="warp_number">{{j}}</span>      
            <span *ngIf="(j+1 === weave?.warps)" class="warp_number_last">{{j+1}}</span>      

            <div class="warp_selectors">
            <span class="warp_delete" (click)="deleteCol(j);"><i class="fa fa-trash"></i>
              </span>
      
            <span class="warp_clone"
            (click)="cloneCol(j,weave?.colToShuttle(j), weave?.colToSystem(j));">
              <i class="fa fa-clone"></i>
            </span>
      
      
            <span class="warp_insert" 
            (click)="insertCol(j + 1, weave?.colToShuttle(j),weave?.colToSystem(j));">
            <i class="fa fa-plus-circle"></i></span>
            </div>
         
          </div>

            <!-- <div class="warp-system-col" >
              <span class="last-warp">{{draft?.warps}}</span>
            </div>  -->

          </div>  

        <canvas id="warp-systems" #warp_systems>  </canvas>
        <canvas id="warp-materials" #warp_materials>  </canvas>
      </div>

      <div [class.hidden]="!loom.isFrame()" class="threading-tieup-container">
        <canvas id="threading"></canvas>
        <canvas id="tieups" #tieups ></canvas>
      </div>

      <div class="drawdown-container">
        <canvas id="drawdown" #drawDown >  </canvas>
        <canvas [class.hidden]="!loom.isFrame()" id="treadling" #treadling></canvas>
        
        <div class="weft-systems-container">
          <canvas id="weft-materials" #weft_materials>  </canvas>
          <canvas id="weft-systems" #weft_systems>  </canvas>
          <div class="weft-systems-text" id="weft-systems-text">
            <div class="weft-system-row" *ngFor="let i of (render?.visibleRows); let j = index;" >
        
  
                  <div class="weft_indicies">
                  <span *ngIf="(i % render?.getTextInterval() == 0 && (j+1 !== weave?.wefts))" class="weft_number">{{j}}</span>      
                  <span *ngIf="(i+1 === weave?.wefts)" class="weft_number_last">{{i+1}}</span>      
                </div>
                  <span class = "weft_insert" 
                  (click)="insertRow(j, i)">
                  <i class="fa fa-plus-circle"></i>
                  </span>
        
                  <span class = "weft_clone" 
                  (click)="cloneRow(j, i);">
                  <i class="fa fa-clone"></i>
                  </span>
                  
                  <span class="weft_delete" 
                   (click)="deleteRow(i);">
                   <i class="fa fa-trash"></i>
                  </span>
            </div>
          </div> 
        </div>
      </div>


    
    
    
    
          

    
    
    </div>


 
 
 

 
          
  
 
 
   
     <!-- <svg #activeRow class="active_row">
     </svg>
 
     <svg #activeCol class="active_col">
     </svg>
                -->
 
 
     <canvas #bitmapImage hidden></canvas>


   </div>