h2{
    color: rgba(0,0,0,.54);
    font-size: .8em;
    padding-bottom: 12px;
}

button i {
    width: 24px;
}

.mat-divider{
    margin-top: 24px;
}


.folder{
    display: flex;
    flex-direction: column;
}

.filebrowser{
    padding-right: 16px;
}

.file_name{
    display: flex;
    flex-direction: row;
    width:80%;
}

.file-item-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.fav,.more{
    width: 10%;
}

.mat-form-field{
    width: 100%;
}

.mat-list-item-content{
    width: 100%;
}

.timestamp{
    color: grey;
    font-size: 0.6em;
    text-align: left;
    position: relative;
    top: -12px;
    left: 16px;
}

.details{
    width: 80%
}

.accent{
    color:#ff4081;
}
