<div class="filebrowser">



      <!-- files-->

          <button 
          mat-stroked-button color="primary"  
          (click)="onNewWorkspace()">
            <i class="fa-regular fa-plus"></i>
            <span *ngIf="auth.isLoggedIn"> Create Blank Workspace</span>
            <span *ngIf="!auth.isLoggedIn"> Clear Workspace</span>
          </button>
      
        <!-- <mat-menu #clearScreen mat-raised-button>
          <a  (click)="onNewWorkspace()" mat-menu-item> Opening a new workspace will clear the current workspace. Are you sure you want to do this?</a>
        </mat-menu> -->

          <button 
          mat-stroked-button color="primary"  
          (click)="openNewFileDialog()"
          ><i class="fa-regular fa-folder-open"></i> Import .ada Workspace</button>

    

          <button
          mat-stroked-button color="primary"  
          [matMenuTriggerFor]="downloadDropdown"
          ><i class="fa-solid fa-download"></i> Download Workspace
          </button>

          <mat-menu #downloadDropdown mat-raised-button>
            <a  (click)="saveAsAda()" mat-menu-item> as AdaCAD workspace file</a>
            <a  (click)="saveAsBmp()" mat-menu-item> export all visible drafts as bitmaps</a>
            <!-- <a  (click)="saveAsWif()" mat-menu-item> export all visible drafts as .WIF files</a> -->
          </mat-menu>
        

        <mat-divider></mat-divider>
        <h2>Your Saved AdaCAD Files</h2>

        <div *ngIf="!auth.isLoggedIn">
          <button mat-flat-button  color="primary" matTooltip="login" (click) = "openLoginDialog()"><i class="fa fa-sign-in"></i> Log in</button> to load and save files online
        </div>
      


      

        <ng-container *ngIf="filelist !== undefined && auth.isLoggedIn">

        <div  *ngFor="let file of filelist">
          <ng-container *ngIf="file !== null && file.meta !== null">


            <div class="file-item-block" [class.current]="file.id === this.files.current_file_id">
           
              <div class="details">

    
                <div  *ngIf="file.id == this.files.current_file_id && rename_mode">
                <mat-form-field class="example-full-width" class="filename">
                  <mat-label>Rename File</mat-label>
                  <div><input matInput color="accent" [(ngModel)]="files.current_file_name" placeholder="Filename" (change)="rename()"> </div>
                </mat-form-field>

                <mat-form-field class="example-full-width" >
                  <mat-label>Description</mat-label>
                  <textarea matInput placeholder="Ex. this file creates..."  [(ngModel)]="files.current_file_desc"></textarea>
                </mat-form-field>
                <button 
                mat-raised-button
                color="accent"
                (click) = "rename()">

        
                 Save
               
                </button>
               
              </div>

              

                <button *ngIf="(file.id == this.files.current_file_id && !rename_mode) || file.id !== this.files.current_file_id" 
                mat-button 
                
                [class.primary]="file.id == this.files.current_file_id" 
                (click) = openFile(file.id)
                class="file_name">

                 {{file.meta.name}}
               
                </button>

                <div *ngIf="file.id != this.files.current_file_id"  class="timestamp">last viewed on: {{file.meta.date}} </div>


                <div *ngIf="(file.id == this.files.current_file_id && !rename_mode)"  class="timestamp">last saved at: {{last_saved_time}} </div>


              </div>

              <div class="more"> 
                <button *ngIf="file.id === this.files.current_file_id"
                mat-icon-button 
                matListItemIcon
                matTooltip="Download the current AdaCAD file"
                [matMenuTriggerFor]="downloadDropdown"
                ><i class="fa-solid fa-download"></i>
                </button>

                <button *ngIf="file.id === this.files.current_file_id"
                mat-icon-button 
                matListItemIcon
                matTooltip="rename this file"
                (click)="rename()"
                ><i class="fas fa-edit"></i>
              </button>

              
 
                <!-- <button  
                mat-icon-button 
                matListItemIcon
                (click)="duplicate()"
                >            
                <i class="fa-solid fa-copy"></i>
    
                </button> -->
 
            
      
           


  


       
           
             <button 
             mat-icon-button 
             [matMenuTriggerFor]="deleteConfirm"
             >
             <i class="fa-solid fa-trash"></i>
              </button>

              <mat-menu #deleteConfirm>
                <button 
                mat-icon-button 
                matListItemIcon
                (click) = "remove(file.id)"
                >
                 Are you sure?
                 </button>
              </mat-menu>
            
              
              </div>
       


 
  
               
        
              </div>
       </ng-container>

       
      </div>
    </ng-container>

    <!-- <mat-divider></mat-divider> -->
    <!-- <h2>Publicly Shared Files</h2> -->

      
     
     

      <!-- <div mat-line>filder name | <i class="fa-solid fa-folder"></i><i class="fa-solid fa-folder"></i></div> -->
  

    <!-- <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{folder.name}}</div>
      <div mat-line> {{folder.updated | date}} </div>
    </mat-list-item> -->



</div>