<div class="filebrowser">

<mat-list>
    <div mat-subheader>Folders</div>

    <mat-list-item>
      <mat-icon mat-list-icon><i class="fa-solid fa-folder"></i></mat-icon>
       <div mat-line class="folder_name">folder name    
        <button mat-button [matMenuTriggerFor]="folderopts">  <i class="fa-solid fa-ellipsis"></i></button>
      
       </div>

       <mat-menu #folderopts="matMenu">
        <button mat-menu-item>
          <span>Rename</span>
        </button>
        <button mat-menu-item>
          <span>Delete</span>
        </button>

      </mat-menu>
     

      <!-- <div mat-line>filder name | <i class="fa-solid fa-folder"></i><i class="fa-solid fa-folder"></i></div> -->
    </mat-list-item> 

    <!-- <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{folder.name}}</div>
      <div mat-line> {{folder.updated | date}} </div>
    </mat-list-item> -->
    <mat-divider></mat-divider>
    <div mat-subheader>Notes</div>
    <!-- <mat-list-item *ngFor="let note of notes">
      <mat-icon mat-list-icon>note</mat-icon>
      <div mat-line>{{note.name}}</div>
      <div mat-line> {{note.updated | date}} </div>
    </mat-list-item> -->
  </mat-list>


</div>