h2{
    color: rgba(0,0,0,.54);
    font-size: .8em;
    padding-bottom: 12px;
}


button{
    margin-bottom: 4px;
}

// button i {
//     width: 24px;
// }

.mat-stroked-button{
     margin: 4px 0px;
}


.folder{
    display: flex;
    flex-direction: column;
}

.filebrowser{
    margin: 20px;
    display: flex;
    flex-direction: column;
    font-size: .8em;
}

.file-item-block{
    display: flex;
    flex: 1 0 0px;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 4px 0px;
}

.current{
    color: #ff4081;
}


.more{
    display: flex;
    flex-direction: row;
    color: grey;
}

.mat-form-field{
    width: 100%;
}

.mat-list-item{
    padding: 0px !important;
    width: 100%;
}

// .mat-list-item-content{
//     width: 100%;
// }

.timestamp{
    position: relative;
    left: 16px;
    font-size: .8em;
    padding: 4px 0px;
}

.details{
    width: inherit;
    display: flex;
    flex: 2 2 75%;
    flex-direction: column;
}

.accent{
    color:#ff4081;
}

.details .mat-button{
    height: fit-content !important;
    display: flex;
    flex-direction: column;

}

.details .mat-button-wrapper{
    display: flex;
    white-space:normal;
    text-overflow: clip ;
    overflow-wrap: anywhere;
    overflow: hidden;
    line-height: 1em;
    width: inherit;
}

.details .mat-icon-button{
    width: 30px;
    height: 30px;
}

