<div class="filebrowser">



      <!-- files-->

          <button 
          mat-stroked-button color="primary"  
          (click)="onNewWorkspace()">
            <i class="fa-regular fa-plus"></i>
            <span *ngIf="auth.isLoggedIn"> Create Blank Workspace</span>
            <span *ngIf="!auth.isLoggedIn"> Clear Workspace</span>
          </button>
      
        <!-- <mat-menu #clearScreen mat-raised-button>
          <a  (click)="onNewWorkspace()" mat-menu-item> Opening a new workspace will clear the current workspace. Are you sure you want to do this?</a>
        </mat-menu> -->

          <button 
          mat-stroked-button color="primary"  
          (click)="openNewFileDialog()"
          ><i class="fa-regular fa-folder-open"></i> Import .ada Workspace</button>

    

          <button
          mat-stroked-button color="primary"  
          [matMenuTriggerFor]="downloadDropdown"
          ><i class="fa-solid fa-download"></i> Download Workspace
          </button>

          <mat-menu #downloadDropdown mat-raised-button>
            <a  (click)="saveAsAda()" mat-menu-item> as AdaCAD workspace file</a>
            <a  (click)="saveAsBmp()" mat-menu-item> export all visible drafts as bitmaps</a>
            <!-- <a  (click)="saveAsWif()" mat-menu-item> export all visible drafts as .WIF files</a> -->
          </mat-menu>
        

        <mat-divider></mat-divider>
        <h2>Files Saved With AdaCAD</h2>

        <div *ngIf="!auth.isLoggedIn">
          <button mat-flat-button  color="primary" matTooltip="login" (click) = "openLoginDialog()"><i class="fa fa-sign-in"></i> Log in</button> to load and save files online
        </div>
      


      

        <ng-container *ngIf="filelist !== undefined">

        <mat-list-item  *ngFor="let file of filelist">
          <ng-container *ngIf="file !== null && file.meta !== null">


            <div class="file-item-block">
              <div class="fav"> 
               <!-- <button 
                mat-icon-button 
                matListItemIcon
                (click)="toggleFavorite(file.id)"
                *ngIf="file.id !== this.files.current_file_id">
                  <i *ngIf="ws.isFavorite(file.id)" class="fa-solid fa-star"></i>
                  <i *ngIf="!ws.isFavorite(file.id)" class="fa-regular fa-star"></i>
               </button> -->
                <button 
                *ngIf="file.id === this.files.current_file_id" 
                mat-icon-button 
                matListItemIcon>
                  <i class="fa-solid fa-eye"></i>
                </button>

            

              </div> 
              <div class="details">

    
                <mat-form-field *ngIf="file.id == this.files.current_file_id && rename_mode" class="filename">
                  <mat-label>Rename File</mat-label>
                  <div><input matInput [(ngModel)]="files.current_file_name" placeholder="Filename" (change)="rename()"> </div>
                </mat-form-field>



                <button *ngIf="(file.id == this.files.current_file_id && !rename_mode) || file.id !== this.files.current_file_id" 
                mat-button 
                matListItemTitle 
                [class.primary]="file.id == this.files.current_file_id" 
                (click) = openFile(file.id)
                class="file_name">

        
                 {{file.meta.name}}
               
                </button>
                <div matListItemTitle class="timestamp">{{file.meta.date}} </div>
              </div>

              <div class="more"> 
                <button *ngIf="file.id === this.files.current_file_id"
                mat-icon-button 
                matListItemIcon
                [matMenuTriggerFor]="downloadDropdown"
                ><i class="fa-solid fa-download"></i>
                </button>

                <button *ngIf="file.id === this.files.current_file_id"
                mat-icon-button 
                matListItemIcon
                (click)="rename()"
                ><i class="fas fa-edit"></i>
              </button>

              
 
                <!-- <button  
                mat-icon-button 
                matListItemIcon
                (click)="duplicate()"
                >            
                <i class="fa-solid fa-copy"></i>
    
                </button> -->
 
            
      
           


  


       
           
             <button 
             mat-icon-button 
             matListItemIcon
             [matMenuTriggerFor]="deleteConfirm"
             >
             <i class="fa-solid fa-trash"></i>
              </button>

              <mat-menu #deleteConfirm>
                <button 
                mat-icon-button 
                matListItemIcon
                (click) = "remove(file.id)"
                >
                 Are you sure?
                 </button>
              </mat-menu>
            
              
              </div>
       


 
  
               
        
              </div>
       </ng-container>

       
      </mat-list-item>
    </ng-container>

      
     
     

      <!-- <div mat-line>filder name | <i class="fa-solid fa-folder"></i><i class="fa-solid fa-folder"></i></div> -->
  

    <!-- <mat-list-item *ngFor="let folder of folders">
      <mat-icon mat-list-icon>folder</mat-icon>
      <div mat-line>{{folder.name}}</div>
      <div mat-line> {{folder.updated | date}} </div>
    </mat-list-item> -->



</div>