<h1 mat-dialog-title>AdaCAD Mixer is a Work in Progress</h1>


<div mat-dialog-content>
    <p>The AdaCAD Mixer is a project that is under development and we are in the process of adding additional features, documentation, and fixing errors. This means that parts of this tool could also be weird or broken but it also means that you can ask us for a feature you want</p>
    <p>Resources: <a mat-button target="_blank" href='https://unstabledesign.github.io/learn'> How To Videos</a><a mat-button href='https://airtable.com/shr986TEwjDaJMPx4' target='blank'> Request a Feature</a></p>
  </div>

<div mat-dialog-actions>
    <button mat-button mat-dialog-close cdkFocusInitial>Ok</button>
  </div>