<h1 mat-dialog-title><i class="fas fa-wrench"></i> AdaCAD Mixer is a Work in Progress</h1>


<div mat-dialog-content>
    <p>The AdaCAD Mixer is a project that is under development and we are in the process of adding additional features, documentation, and fixing errors. This means that parts of this tool could be funky or broken but it also means that you can get a feel for it and ask us for any feature you want. We last updated this application on July 14, 2021</p>
    <p>Resources: <a mat-button target="_blank" href='https://unstabledesign.github.io/learn'> How To Videos</a><a mat-button href='https://airtable.com/shr986TEwjDaJMPx4' target='blank'> Request a Feature</a></p>
  </div>

<div mat-dialog-actions>
    <button color="primary" mat-button mat-dialog-close cdkFocusInitial>Ok</button>
  </div>