.operation-container{
    position: absolute;
    background: white;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.top-row{
    background: #00d1b2;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    height: 30px;
}

.param-row{
    vertical-align:middle;
    font-size: .8em;
    display: flex;
    flex-direction: row;
    height: 40px;
    text-align: right;
    line-height: 40px;
    padding: 0 4px;

}

.param-name{
    width: 25%;
    overflow: hidden;
    line-height: 40px;
}

.param-sider{
    width: 50%;
    overflow: hidden;
}

.mat-slider{
    height: 40px;
    padding: 0px;
}

button.is-primary.is-active{
    background-color: rgb(255, 64, 129);
}

.help{
    background-color: #00d1b2;
    color: white;
    height: 20px;
    border:none;
}

.help:hover{
    color: white;
}

.name{
    margin: 0px 8px; 
    color: white;
    line-height: 30px;
}

.params{
    display:flex;
    flex-direction: column;
    justify-content: flex-end;
}

.inputs{
    display: flex;
    justify-content: flex-start;
    text-align: center;
}

.operation-details{
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}