.operation-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: max-content;
    min-width: 300px;
    border-radius: 8px;
    background-color: #434345;
    color: white;

    .multiselected{
        border: thin solid  #ff3860;

        .top-row{
            background: #ff3860;

            .help{
                background: #ff3860;
            }

            .button.is-primary{
                background-color: #ff3860; 
            }
        }
        
    }

   .outlet_row{
        display: flex;
        flex-direction: row;
        color: blue;
        position: relative;
        top: -24px;
        left: 16px;
    }
    

  
}

.operation-parent{
    position: absolute;

}

/* The animation code */
@keyframes added_to_workspace {
    from {background-color: #000;}
    to {background-color: transparent;}
  }



.top-row{
    display: flex;
    flex-direction: row;
    vertical-align: bottom;
    justify-content: flex-start;
    padding: 6px 0 0 0 ;   
    border-top: white thin solid;
}



// .top-row .child{
//     background: #999999;
//     display: flex;
//     flex-direction: row;
//     justify-content: flex-start;
//     height: 30px;
// }






button.is-primary{
    background-color: transparent;
    border-color: transparent;
    color: #fff;
}

.cxn-row{
    font-size: 0.8em;
    display: flex;
    flex-direction: row;
    text-align: left;
    overflow: visible;
    height: 25px;
    padding: 2px 0;



}

.hidden{
    display: none;
}

.cxn-row input{
    border: none;
    background: #00d1b2;
    color: white;
}


.input-color{
    width: 30px;
    height: 30px;
    border: thin solid white;
}

button.input{
    position: relative;
	background-color: #00d1b2;
	color: white;
	border: none;
    width:30px;
}

button.cxn{
    background-color: #00d1b2;
    border: none;
    border-left: thin solid white;
    color: white;
}

.input-name{
    margin-left: 8px;
    margin-right: 24px;
    line-height: 30px;
}


.inputs{
    display: flex;
    justify-content: flex-start;
    text-align: center;
}


.mat-mdc-select{
    width: 34px;
    padding-left: 4px;
    line-height: 30px;
    background-color: #fff;
}

/* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
.mat-select-value{
    color: #fff !important;
}


.inlet-label{
    color: #fff;
    line-height: 30px;
    display: flex;
    padding-right: 6px;
}


// .param-image{
//     padding: 8px;
//     width: 116px;
//     display: none;
//     flex-direction: column;
// }

.input-group{
    display: flex;
    flex-direction: row;
    margin-right: 8px;
}

.input-group input{
    width: 35px;
}



button.is-primary.is-active{
    background-color: rgb(255, 64, 129);
}

.help{
    background-color: #333333;
    color: white;
    height: 20px;
    border:none;
}

.help:hover{
    color: white;
}

.name{
    margin: 0px 8px;
    color: white;
    font-size: 1.6em;
    font-weight: bold;
}

.hidden{
    display: none;
}



.params{
        display: flex;
        flex-direction: row;
        padding: 16px 8px;
        width: 100%;


}

.param{
    padding: 0px 8px;
    display: flex;
}


// .param-list{
//     display: flex;
//     flex-direction: row;
//     flex-grow: 2;
//     font-size: .8em;
//     padding-right: 8px;

// }

.operation-details{
    animation-name: added_to_workspace;
    animation-duration: 4s;

    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.outputs{
    display: flex;
    flex-direction: row;
}

.draftrendering{
    width: 100%;
}