.material-list-container {
    width: 100%;
    overflow: scroll;
}


// .colorpicker{
//     outline: grey;
//     width: 40px;
//     height: 40px;
//     margin: 2px 8px 0px 0px;
// }

.okbutton {
    color: blue
}

.material-row {
    justify-content: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 4px;
    background-color: #f5f5f5;


    .mat-mdc-form-field-flex {
        display: inline-flex;
        align-items: baseline;
        height: 50px;
        width: 100%;
        font-size: 14px;
    }

    .mat-mdc-form-field-infix,
    .mat-mdc-form-field-text-suffix {
        font-size: 14px;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

.material-actions-button {
    width: 40px;
    height: 40px;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.material-icon {

    width: 80px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
}

.material-color {
    width: 80px;

}

.material-name {
    flex-grow: 1;
}

.material-notes {
    flex-grow: 1;
    height: 78px;
    font-size: 12px;
}


.material-diameter {
    width: 120px;
}



i {
    padding-right: 8px;
    margin: 4px 0px 0px 0px;
}

.delete_material {
    display: flex;
    flex-direction: row;
    font-size: .8em;


    button {
        width: 66%;

    }

    /* TODO(mdc-migration): The following rule targets internal classes of select that may no longer apply for the MDC version. */
    mat-select {
        width: 33%;
        overflow: hidden;
    }
}


.material-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.toprow {
    display: flex;
    flex-direction: row;
    line-height: 1em;
}