

.selection-parent{
    display: flex;
    flex-direction: column;
}
.noSelection{
    display: none;
}

.size-row{
    pointer-events: none;
    font-size: 20px;
    padding: 2px 6px 2px 6px;
}

.action-row{
    pointer-events: all;
}

.selection-actions{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background: white;
    opacity: 0.8;
    pointer-events: all;
}

.selection{
    display: block;
    border: dashed #ff4081 4px;
}


.selection-container-div{
    display: none;
    min-width: 128px;
    pointer-events: none;
    flex-direction: column;
    z-index: 4;
    position: absolute;
    color: #ff4081;
}

.selection-container-div.hasSelection{
    display: flex;
}



  span{
      padding-left: 8px;
  }


  .meta{
    display: flex;
    pointer-events: all;
    flex-direction: row;
    justify-content: space-between;
    background-color: #ffffffaa;
  }

  
  .menu-button{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
  