.selection-parent,
.copy-parent {
    display: flex;
    flex-direction: column;
}



.noSelection {
    display: none;
}

.size-row {
    pointer-events: none;
    font-size: 20px;
    padding: 2px 6px 2px 6px;
    transform-origin: top left;
}




.selection {
    display: block;
    border: dashed #ff4081 4px;
}




.selection-container-div {
    display: none;
    min-width: 128px;
    pointer-events: none;
    flex-direction: column;
    z-index: 4;
    position: absolute;
    color: #ff4081;

}

.copy-container-div {
    display: none;
    background-color: #ff408133;
    border: 1px dashed white;
    background-blend-mode: multiply;
    pointer-events: none;
    z-index: 4;
    position: absolute;

    &.hasCopy {
        display: flex;
    }
}



.selection-container-div.hasSelection {
    display: flex;
}



span {
    padding-left: 8px;
}


.meta {
    width: fit-content;
    pointer-events: none;
    font-weight: bold;
    background-color: #ffffffaa;
}