canvas {
    border: thin solid red;
}



.dg.main {
    position: fixed;
}

#sim_viewer {
    display: flex;
    flex-direction: row;
}

#sizeerror {
    margin: auto 10%;
    display: none;
}

#simulation_container {
    overflow: scroll;



}

#simulation_rendering {
    width: 100%;
    height: 100%;
}

#simulation_controls {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.simulation_controls_container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}



.toggle {
    display: flex;
    flex-direction: row;
}

.cameracontrols {
    position: absolute;
    width: 75%;
    text-align: center;
    top: 90vh;
    font-size: 0.8em;
    left: 40px;
}

.controls {
    position: absolute;
    width: 25%;
    display: flex;
    flex-direction: column;
    top: 3%;
    font-size: 0.8em;
    left: 3%;
}