<mat-expansion-panel  [hideToggle] = "collapsed">
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="warpicon fas fa-equals" aria-hidden="true"></i>
          <span>Materials</span>
        </mat-panel-title>
      
        <mat-panel-description>
          <button class="addsystem is-fullwidth" (click)="openDialog('warp', null)">
            <i aria-label="Example icon-button with a heart icon" class="fa fa-plus"></i>
            <span> Add</span>
          </button>
        </mat-panel-description>
      </mat-expansion-panel-header>


      <ng-container *ngIf="!collapsed">
        <mat-list>
          <ng-container *ngFor="let warp_system of warp_systems">
             <mat-list-item (click)="selected = warp_system.id;" class="level" [class.selected]="selected === warp_system.id" [disableRipple]="false">
               <div class="level-item">

                  <input class="colorpicker shuttle-cp" [(colorPicker)]="warp_system.color" (colorPickerChange)="colorChange($event)"
                   [cpPosition]="'bottom'"
                   [style.background]="warp_system.color"/>

                  <input matInput
                    class="thickness"
                    [class.hide] = "collapsed"
                    type="number" 
                    [(ngModel)]="warp_system.thickness" 
                    min="0" 
                    max="100" 
                    step="10"
                    (change)="thicknessChange(warp_system.id, warp_system.thickness)" />
                </div>

                <div class="shuttles level-item center-item fill-remaining-space">
                  <span class="">{{ warp_system.name }}</span>
                </div>
          
                <div class="level-item level-right">
                  <button mat-icon-button class="edit-button" (click)="openDialog('warp', warp_system)">
                   <i aria-label="Favorite button" class="fas fa-pencil-alt"></i>
                </button>

          <!--       <button mat-icon-button class="trash-button">
                  <i aria-label="Favorite button" class="fas fa-trash"></i>
                </button> -->
                </div>
              </mat-list-item>  
            </ng-container>
         </mat-list>
      </ng-container>
      
      <ng-container *ngIf="collapsed">
          <ng-container *ngFor="let warp_system of warp_systems">
            <button mat-icon-button>
              <i aria-label="hide" 
              class="fas fa-square"  
              [style.color] = "warp_system.color"> </i>
            </button>
           </ng-container>
      </ng-container>

      </mat-expansion-panel>