.draft-container {
  text-align: center;
  padding: 10px;

  .threading-container {
    position: sticky;
    background: white;
    height: 80px;
    width: 800px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
}


