
.help-container{
	display: block;
}

a{
	color: #00d1b2;
	font-weight:bold;
}

h1{
	font-size: 1.8em;
}

h2{
	font-size: 1.0em;
	padding-top:1em;
	font-weight: bold;
}

h3{
    font-size: 0.9em;
    padding-top: 1em;
    font-weight: bold;
    font-style: italic;
}





