.draft-detail-modal{
  display: flex;
  flex-direction: column;
}

.toolbars{
  display: flex;
  flex: row;
}

.draft-drawer{
  background: #3d3d3d;
}

.draft-detail-body{
  display: flex;
  flex-direction: row;
}

.draft-viewer{
  overflow: scroll;
}

.options{
  margin-left: 18px;
  width: 200px;
}

.toggle-row{
  font-size: .8em;
}

.titledata{
  display: flex;
  flex-direction: column;
}

.toprow{
  display: flex;
  flex-direction: row;
  line-height: 1em;
  margin-bottom: 20px;
}

.ink-block{
  display: flex;
  flex-direction: column;
  width: 42%;
}

.mat-dialog-title {
  margin: 0px;
  display: block;
}

.viewonly{
  font-size: .8em;
}

.weave_stats{
  display: flex;
  flex-direction: column;
}

.draft-detail-footer{
  width: 80%;
  font-size: .8em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}




