<div class ="draft-detail-modal">

<app-draftviewer  #dv
[render]="render" 
[(design_mode)]="design_mode" 
[(copy)]="copy" 
[timeline]="timeline" 
[draft]="draft" 
[loom]="loom" 
(onNewSelection) = "updateSelection($event)" 
class="draft-viewer"
cdkScrollable >
</app-draftviewer>


<div  class="options">
  <mat-slide-toggle [(ngModel)]="render.view_frames" (change)="toggleFrames()">Show Threading, Treadling, and Tieup</mat-slide-toggle>
  <mat-slide-toggle [(ngModel)]="is_yarn_view" (change)="toggleView()">View Yarn Simulation</mat-slide-toggle>
 
  <div mat-dialog-actions>
    <button mat-button (click)="onCancel()">Cancel</button>
    <button mat-raised-button (click)="onSave()" cdkFocusInitial>Save Changes</button>
  </div>

</div>


</div>