.draft-detail-modal{
  display: flex;
  flex-direction: column;
}

.draft-detail-body{
  display: flex;
  flex-direction: row;
}

.draft-viewer{
  overflow: scroll;
}

.options{
  margin-left: 18px;
  width: 200px;
}

.toggle-row{
  font-size: .8em;
}


.draft-detail-footer{
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}




.draft-viewer #view_frames,
.draft-viewer #warp-materials,
.draft-viewer #warp-systems,
.draft-viewer  #weft-materials,
.draft-viewer #weft-systems
{
  display:none !important;
}