<div class="upload-container">

   <label>
      <input type="file" [multiple]="multiple" [accept]="accepts" (change)="detectFiles($event)">
   </label>

   <div *ngIf="!uploading" class="upload-button">
      <button mat-button
            color="primary"
            [disabled]="!selectedFiles"
            (click)="upload();">
            Upload
      </button>
   </div>
   <div *ngIf="uploading" class="progress-bar">
      <mat-progress-bar mode="determinate" [value]="upSvc.progress"></mat-progress-bar>
   </div>
</div>
<canvas #uploadImage class="hidden"></canvas>