.upload-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
}

.upload_field{
    width: 300px;
}

// .progress-bar,
// .upload-button{
//     width: 100%;
// }
