.quickop_form .mat-form-field {
    color:  #3f51b5;
    width: 100%;

}

.quickop_form .mat-form-field-flex {
    background-color:  white;
}

.quickop_form .mat-input-element {
    color:  #3f51b5;

}
.quickop_form .mat-form-field-label {
    color:  #3f51b5;
}
.quickop_form .mat-form-field-underline {
    background-color:  #3f51b5;
}
.quickop_form .mat-form-field-ripple {
    background-color:  #3f51b5;
}
.quickop_form .mat-form-field-required-marker {
    color:  #3f51b5;
}

