.quickop_form .mat-mdc-form-field {
    color:  #3f51b5;
    width: 100%;

}

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.quickop_form .mat-form-field-flex {
    background-color:  white;
}

.quickop_form .mat-mdc-input-element {
    color:  #3f51b5;

}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.quickop_form .mat-form-field-label {
    color:  #3f51b5;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.quickop_form .mat-form-field-underline {
    background-color:  #3f51b5;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.quickop_form .mat-form-field-ripple {
    background-color:  #3f51b5;
}
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version. */
.quickop_form .mat-form-field-required-marker {
    color:  #3f51b5;
}

.mat-mdc-option{
    white-space: normal !important;
    overflow-wrap: normal !important;
    text-overflow: normal !important;
    display: block;
    line-height: 1.2em !important;
    height: fit-content !important;
    padding: 16px !important;
    text-align: left;
    text-decoration: none;
    max-width: 100%;
    position: relative;
    cursor: pointer;
    outline: none;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    box-sizing: border-box;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
}

/* TODO(mdc-migration): The following rule targets internal classes of option that may no longer apply for the MDC version. */
.mat-option-text{
    display: block !important;
    flex-grow: 1 !important;
    overflow-wrap: normal !important;
}




