
<h4>Pattern Library
  <button class="addsystem is-fullwidth" (click)="openPatternDialog(null)">
    <i aria-label="" class="fa fa-plus"></i>
    <span> Add</span>
</button>
</h4>


  <div class="panel-content">

  <ng-container *ngFor="let pattern of patterns;">
  
    <mat-card class="example-card">
      <mat-card-title>

        {{ pattern.name }}
       
        <button mat-icon-button (click)="openPatternDialog(pattern)" class="pattern-edit-button">
          <i aria-label="Favorite button" class="fas fa-pencil-alt"></i>
        </button>

        <button mat-icon-button (click)="removePattern(pattern)"class="pattern-trash-button">
          <i aria-label="Favorite button" class="fas fa-trash"></i>
        </button>

      </mat-card-title>
      <mat-card-subtitle>
        <div class="mat-subtitle">{{ pattern.height }} x {{ pattern.width }}</div>

      </mat-card-subtitle>

      <mat-card-content>
              
  <!--           <ng-container *ngIf="collapsed">
                <button class="button is-small" [class.is-primary]="pattern.favorite" (click)="updateFavorite(pattern.id)">
                <i aria-label="Favorite button" class="fill_name"> 
                 {{ pattern.name }}</i>
                </button>
            </ng-container> -->

            <div class="level-item">
              <svg [attr.width]="pattern.width * 10" [attr.height]="auto"  [attr.viewBox]="'0 0 ' + pattern.width * 10 + ' ' + pattern.height * 10" style="background:#fefefe;max-width:75px;">
                <g *ngFor="let row of pattern.pattern; let i = index" style="background:#fefefe;">
                  <ng-container *ngFor="let up of row; let j = index">
                  <rect *ngIf="up" [attr.x]="j * 10" [attr.y]="i * 10" width="10" height="10" fill="#000"/>
                  </ng-container>
                </g>
              </svg>
            </div>



            <div class="level-item">
              <button mat-icon-button>
                <i aria-label="Favorite button" class="fa-star" [class.far]="!pattern.favorite" [class.fas]="pattern.favorite" (click)="updateFavorite(pattern.id)"></i>
              </button>
            </div>
         

      </mat-card-content>

    </mat-card>
    </ng-container>

    </div>


