
<h4>Pattern Library
  <button class="addsystem" (click)="openPatternDialog(null)">
    <i aria-label="" class="fa fa-plus"></i>
    <span> Add</span>
</button>
</h4>


<div class="panel-content">
<mat-list>
<ng-container *ngFor="let pattern of patterns">
  
        <mat-list-item>

            <div class="level-item fill-icon">
              <button mat-icon-button>
                <i aria-label="Fill button" class="fas fa-fill" (click)="updateFavorite(pattern.id)"></i>
              </button>
            </div>


            <div class="pattern-swatch">
              <svg [attr.width]="pattern.width * 10" [attr.height]="auto"  [attr.viewBox]="'0 0 ' + pattern.width * 10 + ' ' + pattern.height * 10" style="background:#fefefe;max-width:75px;">
                <g *ngFor="let row of pattern.pattern; let i = index" style="background:#fefefe;">
                  <ng-container *ngFor="let up of row; let j = index">
                  <rect *ngIf="up" [attr.x]="j * 10" [attr.y]="i * 10" width="10" height="10" fill="#000"/>
                  </ng-container>
                </g>
              </svg>
            </div>


           <div class="level-item pattern-info">
              <div class="pattern-name"> {{ pattern.name }}</div>
        <!--       <div class="mat-subtitle">{{ pattern.height }} x {{ pattern.width }}</div> -->
           </div>
           <div class="level-item">
            <button mat-icon-button (click)="openPatternDialog(pattern)" class="pattern-edit-button">
              <i aria-label="Favorite button" class="fas fa-pencil-alt"></i>
            </button>

            <button mat-icon-button (click)="removePattern(pattern)"class="pattern-trash-button">
              <i aria-label="Favorite button" class="fas fa-trash"></i>
            </button>
          </div>
         

      </mat-list-item>

</ng-container>



</mat-list>
</div>


