<mat-expansion-panel  expanded [hideToggle] = "collapsed">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <span>Operators</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
   
    <ng-container *ngFor="let class of ops.classification">
      <h3>{{class.category}}</h3>
      <ng-container *ngFor="let op of class.ops">
          <button mat-stroked-button 
            [matTooltip] =op.dx
            matTooltipClass="visibleTooltip"
            [name]=op.name 
            (click)="addOp(op.name)">
            {{op.name}}
          </button> 
      </ng-container>  
    </ng-container>

</mat-expansion-panel>  