<mat-expansion-panel  expanded [hideToggle] = "collapsed">
    <mat-expansion-panel-header>
      <mat-panel-title>
       <span>Automated Actions</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>
    
    <form  autocomplete="off">
    <mat-form-field class="full-width" width='100%' appearance="fill">
    <mat-label>search for action by name</mat-label>
    <input type="text"
           placeholder=""
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto"
           >
           <mat-autocomplete 
           autoActiveFirstOption 
           #auto="matAutocomplete"
           (optionSelected) = addOpFromSearch($event)>
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
              {{option}}
            </mat-option>
    </mat-autocomplete>
    </mat-form-field>
  </form>
   
  <h3>import</h3>
  <button mat-stroked-button 
  [name]='upload'
  (click)="upload()">
    upload image or file
 </button> 

    <ng-container *ngFor="let class of ops.classification">
      <h3>{{class.category}}</h3>
      <ng-container *ngFor="let op of class.ops">
          <button mat-stroked-button 
            [matTooltip] =op.dx
            matTooltipClass="visibleTooltip"
            [name]=op.name 
            (click)="addOp(op.name)">
            {{op.name}}
          </button> 
      </ng-container>  
    </ng-container>

</mat-expansion-panel>  