canvas{
    position: absolute;
  }

.palette{
  position: absolute;
  top: 0px;
  left: 0px;
}



#saver{
  z-index: -1;
}

.sidenav_small{
  width: 42px;
  display: flex;
  flex-direction: column;


}

.adacad{
position: relative;}

h1{
  transform: rotate(-90deg);
  color: #3f51b5;
  font-weight: bold;
  
}

.mode-pan{
  cursor:grab;
}

.mode-marquee{
  cursor:crosshair;
}

.mode-move{
  cursor:default;
}

.mat-slider-vertical{
  height: 33%!important;
  min-height: 50px !important;
}

.slider-row{
  height: 33%;
}


.slider-row i{
  display: block;
  height: 48px;
  line-height: 32px;
  padding-top: 8px;
  width: 100%;
}

.slider-row button{

}

.button_col{
  display: flex;
  flex-direction: column;
  height: 95%;
  justify-content: space-between;
  overflow: hidden;
  width: 42px;
  padding-top: 5%;
}

.sidenav_opened{
  width:  33%;
}


.floating_ops{
  width: 200px;
  position: fixed;
  top: 1vw;
  left: 80vw;
  z-index: 100;
}



.topbar_sub{
  display: flex;
  flex-direction: row;
  width: 50%;
}

.description{
  font-style: italic;
  width: 80%;
  padding: 0px 0px 8px 8px;
}

.mixerview{
  position: fixed;
  width:200px;
  height: 200px;
  top: calc(92vh - 200px);
  left: 82vw;
}

.collapse{
  padding: 8px;
  z-index: 100;
  position: fixed;
  color: #3f51b5;
  left: 42px;
  top: 1vh;

}


.nav-opened{
  left: 33%;
}

.mat-form-field {
width: 95%;
}

.detail_view{
  width:50%;
}

.workspace_settings{
width:100%;
padding: 20px;
display: flex;
flex-direction: column;
}

.mat-drawer-content{
  background:hsl(0, 100%, 100%);
}

.mat-drawer-container {
  position: absolute;
  width: 100%;
  height: calc(100vh) !important;
}



.cdk-live-announcer-element{
  display: none;
}
  
  

