<app-topbar 
[drawer] = "drawer"
[loomtypes] = "loomtypes"
[timeline] = "timeline"
[density_units] = "density_units"
[undoItem]="undoItem" 
[redoItem]="redoItem"
[filename]="filename"
source="mixer"
[draftelement]="draftelement"
  (onUndo)="undo();" 
  (onRedo)="redo();"
  (onLoadNewFile)="loadNewFile($event);"
  (onSave)="onSave($event);">
</app-topbar>

<mat-drawer-container #container class="mat-drawer-container" cdkScrollable>
  
  <mat-drawer #drawer class="example-sidenav" mode="side" position="end" opened>  


        <app-sidebar #view_tool
        [timeline]="timeline"
        [draft]="draft"
        [loom]="loom"  
        [render]=""
        source='mixer'
        (onUndo)="undo();" 
        (onRedo)="redo();"
        (onDesignModeChange)='designModeChange($event)'
        (onZoomChange) ="renderChange($event);"
        (onOperationAdded) = "operationAdded($event)"
        (onImport) = "importNewFile($event)"
        (onZoomChange) ="renderChange($event);"
        (onViewPortMove) ="setScroll($event);"
        (onNoteCreate) ="createNote($event);"
        (onMaterialChange) = "materialChange($event)"
        ></app-sidebar>


<!--        
        <mat-accordion multi> -->


          

       <!-- <app-mixerview #view_tool  
          zoom = "5"
          (onZoomChange) ="renderChange($event);"
          (onViewPortMove) ="setScroll($event);"
        > -->



        <!-- <app-mixerdesign #design_tool
        [view_mode] = "render?.current_view"
        (onDesignModeChange)="designModeChanged($event);"
        (onInkChange)="inkChanged($event)">
        </app-mixerdesign>  -->

        <!-- <app-mixerpatterns 
        [patterns]="default_patterns"
        [selection] = "selection"
        (onPatternChange)="updatePatterns($event);"
        (onCreatePattern)="createPattern($event);"
        (onRemovePattern)="removePattern($event);"
        (onFill) = "fillEvent($event)">
        >
       </app-mixerpatterns> -->
 
       <!-- <app-flow
       (onOperationAdded) = "operationAdded($event)"
       (onImport) = "importNewFile($event)">
      </app-flow>
    

       -->

        <!-- <app-notes
         [notes] = "notes"
         (onChange) = "notesChanged($event)"
         >
        </app-notes> -->

<!-- 
    </mat-accordion> -->


  </mat-drawer>

  <app-palette  [style.width.px]='vp.getAbsoluteWidth()' [style.height.px]='vp.getAbsoluteHeight()' #palette  id="scrollable-container"
  [patterns] = "default_patterns"
  [timeline] = "timeline" >
  </app-palette>


  <!-- <app-palette  [style.width.px]='vp.getAbsoluteWidth()' [style.height.px]='vp.getAbsoluteHeight()' #palette  id="scrollable-container"
  [patterns] = "default_patterns"
  [timeline] = "timeline"
  (onDesignModeChange)="designModeChange($event)" >
  </app-palette> -->


</mat-drawer-container>
