
#saver{
  z-index: -1;
}

#scrollable-container{
  display: block;
  position: relative;
}

.no-pointer{
  pointer-events: none;
}

h3{
  width: 90%;
  text-align: left;
  font-style: italic;
  padding-bottom: 6px;
  border-top: thin solid #999;
  color: #999;
  margin-top: 6px;
}



.sidenav_small{
  position: fixed;
  z-index: 4;
  display: flex;
  background-color: white;
  flex-direction: column;
  height: 100%;
  width: min-content;
  overflow: scroll;
}

.sidenav_section{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 22px;
  justify-content: space-around;

}


.mode-pan{
  cursor:grab;
}

.mode-marquee{
  cursor:crosshair;
}

.mode-move{
  cursor:default;
}



.slider-row{
  height: 33%;
}


.slider-row i{
  display: block;
  height: 48px;
  line-height: 32px;
  padding-top: 8px;
  width: 100%;
}

.slider-row button{

}

.mat-stroked-button{
  margin: 2px;
  max-width: 160px;
  
  &.operation{
    color: white;
  }

}

.button_col{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.sidenav_opened{
  width:  33%;
}




.topbar_sub{
  display: flex;
  flex-direction: row;
  width: 50%;
}

.description{
  font-style: italic;
  width: 80%;
  padding: 0px 0px 8px 8px;
}



.collapse{
  color: #3f51b5;
}

.setting_title{
  padding: 18px;
  color: grey;
  font-size: .8em;
}

.nav-opened{
  left: 33%;
}

.mat-form-field {
width: 95%;
}


.workspace_settings{
width:100%;
padding: 20px;
display: flex;
flex-direction: column;
}

.mat-drawer-content{
  background:hsl(0, 100%, 100%);
}

.mat-drawer-container {
  position: absolute;
  width: 100%;
  height: calc(100vh) !important;
}



.cdk-live-announcer-element{
  display: none;
}
  
  

