
<div class="subdraft-container" *ngIf="!hasParent || !ws.hide_mixer_drafts" >


  <div class="header-container">
    <div class="rendering-view-opts">
      <!-- set local zoom -->
    <mat-slider min=".1" max="1" step="0.1">
      <input matSliderThumb  value="1" (valueChange)="localZoomChange($event)">
    </mat-slider>
    
    </div>



  <div *ngIf="!hasParent" class="options">




    <mat-menu #subdraftOptions>

      <button *ngIf="!exceeds_size && !hasParent"
      mat-menu-item
      class="is-small fa-solid"
      matTooltip ="Select Draft"
      (click)="selectForView()">
      <i class="fa-solid fa-map-pin"></i> pin for view
      </button> 
      <button
      mat-menu-item
      matTooltip ="Select Draft"
      (click)="openInEditor()">
        <i class="fa-solid fa-pen-to-square"></i>  open in editor   
      </button> 
  
  
      <button  mat-menu-item
      matTooltip= "Duplicate"
      name="duplicate"
      (click)="designActionChange('duplicate')">
      <i class="fa-solid fa-clone"></i> duplicate
      </button>
      
      <button  mat-menu-item
      (click)="saveAsBmp()"
      matTooltip ="Download as Bitmap">
      <i class="fa-solid fa-download"></i> download as bitmap
      </button>

      <button  mat-menu-item
      (click)="saveAsPrint()"
      matTooltip ="Download as Printable Image">
      <i class="fa-solid fa-image"></i> download as image
      </button>

      <button  mat-menu-item
      (click)="saveAsWif()"
      matTooltip ="Download as .WIF file">
      <i class="fa-solid fa-file"></i> download as .WIF file
      </button>

      <button  mat-menu-item *ngIf='!hasParent'
      matTooltip= "Delete"
      [name]="delete"
      (click)="designActionChange('delete')">
      <i class="fa-solid fa-times"></i> delete
      </button>

      
    </mat-menu>





    <button mat-icon-button
    [matMenuTriggerFor]="subdraftOptions"
    class="is-small fa-solid fa-ellipsis"
    matTooltip ="View Options">
    </button>


  </div>

</div>



<app-draft-rendering
*ngIf="!hasParent || !ws.hide_mixer_drafts"
#draftRendering
source = "mixer"
[id]="id"
[view_only]="hasParent"
[current_view]="current_view"
(onDrawdownUpdated)="drawdownUpdated()"
>
</app-draft-rendering>



<div class="single_line">
  <div class="dims">{{warps}} x {{wefts}}</div>
  <!-- <div >
    <mat-form-field>
    <input matInput  [(ngModel)]="ud_name" 
    [placeholder]="tree.getDraft(id).gen_name"  
    (focusout)="nameFocusOut($event)"
    (change)="updateName()">
  </mat-form-field>
   </div> -->
   </div>





  <canvas #bitmapImage hidden></canvas>


</div>

<div class="outlet_row">


    <button 
    mat-raised-button
    id = "{{id}}-out" 
    class="outlet"
    [class.active]="selecting_connection"
    [class.outlet_connected]="outlet_connected"
    matTooltip = "connect this draft to an operation"
    (click)="connectionStarted($event)">
      <i class="fa-sharp fa-solid fa-circle-down"></i>  
      <!-- {{id}} -->
    </button>
  </div>


