@use '@angular/material' as mat;




.header-container {
	opacity: .7;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	font-size: var(--form-field-entry-size);
	height: var(--inlet-outlet-height);
	align-items: center;
	gap: 40px;

	.slider {
		vertical-align: middle;
		width: 400px;
	}

	button {
		font-size: var(--form-field-entry-size);
		opacity: .7;

	}

	.show_draft {
		margin: 0px 40px;
		color: black;
		font-size: var(--form-field-entry-size);

	}



	@include mat.slider-overrides((active-track-color: black,
			active-track-height: calc(var(---form-field-entry-size)/3),
			handle-width: var(--form-field-entry-size),
			handle-height: var(--form-field-entry-size),
			handle-color: black))
}







.on_view {
	border: calc(var(--form-field-entry-size)/3) solid #3f51b5;
}



.output_meta {
	display: flex;
	color: black;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}



.name_and_dims {
	display: flex;
	height: min-content;
	flex-direction: row;
	opacity: .7;
	font-size: var(--form-field-entry-size);

	button {
		font-size: var(--form-field-entry-size);

	}
}

.text {
	margin: 6px 0px;
}






.outlet_row {
	position: relative;
	height: calc(var(--inlet-outlet-height)/2);
	/* left: 23px; */
	width: 100%;
	display: flex;
	color: white;

	button {
		height: var(--inlet-outlet-height);
		width: var(--inlet-outlet-height);
		font-size: var(--form-field-entry-size);
		opacity: 1;

	}
}

.outlet_row-draft-visible-false {
	display: flex;
	padding: 0px 8px;
	width: 100%;
	height: calc(var(--inlet-outlet-height));
	flex-direction: row;
	justify-content: space-between;

	button {
		height: var(--inlet-outlet-height);
		width: var(--inlet-outlet-height);
		font-size: var(--form-field-entry-size);
		opacity: 1;
	}

	.outlet {
		position: relative;
		top: calc(var(--inlet-outlet-height)/2);

	}
}


.outlet_connected {
	background-color: black;
	color: white;
}

.active {
	background-color: #ff3860;
	color: white;
}


.subdraft-container {
	display: flex;
	flex-direction: column;
	min-width: 300px;
	height: fit-content;
	align-items: center;
	margin: 8px;
	padding: 8px;
	background-color: rgba($color: white, $alpha: .5);
	border-radius: 8px;
}

.multiselected {
	border: thin solid #ff3860;
}



.is_preview {
	z-index: 10;
}





.error {
	color: #ff3860;
}


.subdraft-contents {
	display: flex;
	flex-direction: column;
	position: relative;
	align-items: center;
	justify-content: center;
	border: none;
	transform-origin: center;
	background-color: transparent;
}

.draft-rendering-wrapper {
	position: relative;
	display: inline-block;
}

.pin-indicator {
	position: absolute;
	top: 8px;
	width: 40px;
	height: 40px;
	left: 8px;
	z-index: 10;
}



svg {
	display: block;
	color: black;
}

#bitmapImage {
	display: none;
	pointer-events: none;
}

.maindraft {
	display: block;
	overflow: hidden;
}

.hidden {
	display: none;
}

.no-pointer {
	pointer-events: none;
}


.hide {
	display: none;
}

.connectable {
	color: #ff4081;
	background: black;
}