
<h2 mat-dialog-title
cdkDrag
 cdkDragRootElement=".cdk-overlay-pane" 
 cdkDragHandle
 [cdkDragFreeDragPosition]="bounds.topleft"
 >View</h2>
<mat-dialog-content>


      <div class="slider-row">
        <i class="fas fa-search-plus"></i>
    
          <mat-slider 
          invert
          [displayWith]="formatLabel" 
          tickInterval="1" 
          step=".1" 
          min=".01" 
          max="15" 
          value="{{zoom}}" 
          (change)="zoomChange($event, 'slider')"></mat-slider>
          
          <i class="fas fa-search-minus"></i> 
      </div>
    
    
 

  <div class="global_view">
    <canvas width = "250px" height="250px" id="global_canvas"></canvas>
    <div class="local"
    [style.width.px] = "viewport.getWidth() / viewport.getAbsoluteWidth() * width"
    [style.height.px] = "viewport.getHeight() / viewport.getAbsoluteHeight() * height"
    [cdkDragFreeDragPosition]="local_view.topleft"
    cdkDragBoundary=".global_view"
    (cdkDragMoved)="dragMove($event)"
	  (cdkDragEnded)="dragEnd($event)"
	  (cdkDragStarted)="dragStart($event)"
    cdkDrag>
    </div>
  </div>

  <!-- <div class="slider-row">
    <i class="fas fa-search-plus"></i>

      <mat-slider 
      invert
      [displayWith]="formatLabel" 
      tickInterval="1" 
      step="1" 
      min="1" 
      max="15" 
      value="{{zoom}}" 
      (change)="zoomChange($event, 'slider')"></mat-slider>
      
      <i class="fas fa-search-minus"></i>  </div>
 -->

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions>


