<div class="mixer_view">

  <div id = "global" class="global_view">
    
    <svg width="250" height="250">
      <circle *ngFor="let obj of viewport.objs" [attr.cx]='obj.i.j * cell_factor' [attr.cy]='obj.i.i * cell_factor' [attr.r]="2" fill="grey" />
    </svg>
    <div class="local" id="local_view"
    [style.width.px] = " viewport.getWidth() / zs.zoom * cell_factor"
    [style.height.px] = " viewport.getHeight() / zs.zoom * cell_factor"
    [cdkDragFreeDragPosition]="local_view.topleft"
    cdkDragBoundary=".global_view"
    (cdkDragMoved)="dragMove($event)"
	  (cdkDragEnded)="dragEnd($event)"
	  (cdkDragStarted)="dragStart($event)"
    cdkDragDisabled = 'false'
    cdkDrag>
    </div>
  </div>


  <div class="slider-row">
    <button  mat-icon-button (click)="zoomIn()" class="fas fa-search-plus"></button>
  



      <mat-slider 
      invert
      tickInterval="1" 
      [step]="1" 
      [min]= "0"
      [max]= "zs.num_steps"
      value="{{zs.zoom_table_ndx}}" 
      (change)="zoomChange($event, 'slider')"></mat-slider>
      
      <button  mat-icon-button (click)="zoomOut()" class="fas fa-search-minus"></button> 
  </div>



  <!-- <div class="toggle_materials">
    <button mat-stroked-button color="primary" (click)="showColors()">Show Colors</button>
    <button mat-stroked-button color="primary" (click)="showDrafts()">Show Drafts</button>
  </div> -->


<!-- </mat-dialog-content>
 -->


</div>