h3{
  text-align: left;
  font-weight: lighter;
  padding-bottom: 0px;
  color: #999;
  margin-top: 24px;
}

.mat-stroked-button{
  margin: 2px;
  max-width: 160px;
  
  &.operation{
    color: white;
    white-space: normal;
    line-height: 20px;
    padding: 10px;
  }
}

.mat-mdc-form-field {
  width: 95%;
}

.quickop_form {
  width: 100%;
}

