



.filename{
    font-size: 0.6em;
    width: 217px;
    margin: 0px 0px 0 21px;
}

.auth{
    font-size: .6em;
    font-weight: 400;

}



.topbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.fa-print{
	color: white;
}