.topbar{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.right{
    width:33%;
    text-align: right;
}
.collapse{
	padding-left: 37px;
}

.filename{
    font-size: 0.6em;
    width: 217px;
    margin: 0px 0px 0 21px;
}

.left {
    width:33%;
    text-align: left;
    display: flex;
    flex-direction: row;
}

.left a{
    margin: 0px 2px;
}

.auth{
    font-size: .6em;
    font-weight: 400;
}

.center{
	width: 33%;
	text-align: center;

}

.fa-print{
	color: white;
}