.right{
    width:33%;
    text-align: right;
}
.collapse{
	padding-left: 37px;
}

.filename{
    font-size: 0.6em;
    width: 217px;
    margin: 0px 0px 0 21px;
}

.left {
    width:33%;
    text-align: left;


}

.auth{
    font-size: .8em;
}

.center{
	width: 33%;
	text-align: center;

}

.fa-print{
	color: white;
}