
<mat-expansion-panel  [hideToggle] = "collapsed">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="warpicon fas fa-pencil" aria-hidden="true"></i>
       <span>Design with Machine Learning</span>
      </mat-panel-title>
      <mat-panel-description>
      </mat-panel-description>
    </mat-expansion-panel-header>

    <form #collectionForm="ngForm">
      <mat-form-field class="is-fullwidth">
        <mat-select placeholder="Select Collection" name="name" [(ngModel)]="collection.name">
          <mat-option *ngFor="let collection of collections" [value]="collection.name">
            {{ collection.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button matTooltip="start mixed initiative mode" 
      [disabled] = "this.mode" 
      name="generative" 
      class="button is-primary fas fa-play-circle"
      (click)="modeEvent($event)">           
      </button>
      <button matTooltip="end mixed initiative mode" 
      [disabled] = "!this.mode" 
      name="generative" 
      class="button is-primary fas fa-stop-circle	"
      (click)="modeEvent($event)">           
      </button>
    </form>
</mat-expansion-panel>
  
  
  

  
  
  
  