<h2 mat-dialog-title>Add/Edit Materials</h2>
<mat-dialog-content>

<ng-container *ngFor="let shuttle of shuttles">

  <form #materialForm="ngForm">

    <mat-form-field class="is-fullwidth">
      <input matInput placeholder="Color" class="colorpicker" [(colorPicker)]="shuttle.color" 
       [style.background]="shuttle.color" name="color" [(ngModel)]="shuttle.color"/>
    </mat-form-field>


    <mat-form-field class="is-fullwidth">
      <input matInput placeholder="Material Name" name="name" [(ngModel)]="shuttle.name">
    </mat-form-field>
    <mat-form-field class="is-fullwidth">
      <mat-select placeholder="Yarn Type" name="type" [(ngModel)]="shuttle.type">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>

   <div class="is-fullwidth">
      <mat-form-field class="form-field">
        <input matInput  
        type="number" 
        placeholder="Yarn Thickness" 
        name="thickness" 
        min="0"
        max="100"
        step="10"
        [(ngModel)]="shuttle.thickness"> 
        <span>&nbsp;&nbsp;%</span>
      </mat-form-field>

     
    </div>

    <div class="is-fullwidth">
       Insert From Left
       <mat-slide-toggle matInput [(ngModel)]="shuttle.insert" name="insert" required>
       </mat-slide-toggle>
       Insert From Right
  </div>

  <div class="is-fullwidth">
  	<mat-form-field class="is-fullwidth">
    <mat-label>Add Notes</mat-label>
    <textarea matInput>{{shuttle.notes}}</textarea>  	
	</mat-form-field>

  </div>


  </form>

</ng-container>

</mat-dialog-content>
<mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
  <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>