<mat-toolbar color="primary">

<span class="left">

<button #undoEvent mat-icon-button 
      (click)="undoClicked($event);"
      [disabled]="timeline.undo_disabled"
      matTooltip ="undo">
      <i class="fas fa-undo"></i>
      </button>
    
    <button #redoEvent mat-icon-button 
      (click)="redoClicked($event);"
      [disabled]="timeline.redo_disabled"
      matTooltip ="redo">
      <i class="fas fa-redo"></i>
    </button>
</span>

<span class="center">
   <button mat-icon-button
      (click)="openAboutDialog(null)"
      matTooltip ="about AdaCAD"
      >
      <i class="fas fa-info-circle"></i>
    </button>
    <span>AdaCAD <i style="font-size: .6em;">alpha/testing version</i></span>
</span>
  
<span class="right">

    <button mat-icon-button matTooltip ="print screen">
      <a class="print-link" #printLink (click)="saveAsPrint($event)" mat-menu-item>
      <i class="fas fa-print"></i>
      </a> 
    </button>

    
  <button mat-icon-button 
  [matMenuTriggerFor]="downloadDropdown"
  matTooltip ="save current file"
  >
    <i class="fas fa-download"></i>
  </button> 
    <mat-menu #downloadDropdown mat-raised-button>

      <a #bmpLink (click)="saveAsBmp($event)" mat-menu-item> as Bitmap</a>
      <a #adaLink (click)="saveAsAda($event)" mat-menu-item> as AdaCAD file</a>
      <a #wifLink (click)="saveAsWif($event)" mat-menu-item> as Wif file</a>
    </mat-menu>


     <button mat-icon-button="Open" 
     matTooltip ="open or start a new draft"
     (click)="openNewFileDialog(null)">
     <i class="fas fa-folder-open"></i>
    </button>


 <mat-form-field class="filename">
        <mat-label>Filename</mat-label>
        <input matInput type="text" [(ngModel)]="filename">
      </mat-form-field>






      <button mat-icon-button
           (click)="drawer.toggle(); collapsed = !collapsed"
            class="collapse" 
            value="collapsed">
         <i class="fa"
           [class.fa-angle-double-right]="!collapsed" 
           [class.fa-angle-double-left]="collapsed"
         aria-hidden="true"></i>
      </button>

  </span>
</mat-toolbar>
