
.input-color{
    width: 30px;
    height: 30px;
    border: thin solid white;
}

button.input{
    position: relative;
	background-color: #666666;
	color: white;
	border: none;
    display: flex;
    flex-direction: row;

    .inlet_arrow{
       margin-right: 4px;
    }
}

.inlet_block{
    display: flex;
    flex-direction: row;
}


button.input:active,
button.input:hover{
	background-color: #ff3860;
}



button.cxn{
    background-color: lightgrey;
    border: thin solid black;
    color: black;
}

.input-name{
    margin-left: 8px;
    line-height: 30px;
}

.colorgroup{
    display: inline-flex;
}


.inputs{
    display: flex;
    justify-content: flex-start;
    text-align: center;
}


.mat-select{
    width: 34px;
    padding-left: 4px;
    line-height: 30px;
    background-color: #fff;
}

.mat-select-value{
    color: #fff !important;
}

input{
    width: 35px;
}



.inlet-label,
.inlet-name{
    color: #fff;
    padding-right: 6px;
}