<ng-container *ngIf="inlet.type !== 'null'">



<div class="inlet_block">



    <ng-container *ngIf="inlet.type === 'number' || inlet.type === 'draft'">
        <span class="inlet-label">{{opnode.inlets[inletid]}}</span> 

            <mat-select matNativeControl
            matTooltip="this will assign this draft to the number you select" 
            [(ngModel)]="opnode.inlets[inletid]"
            (selectionChange)="inletChange()">
            <mat-option *ngFor="let num of number_opts" [value]="num">
                {{num}}
            </mat-option>
         </mat-select>

    </ng-container>




    <ng-container *ngIf="inlet.type === 'notation' || inlet.type === 'profile' ">


        <span class="dynamic_" *ngIf="inlet.type === 'notation'" class="inlet-label"> ({{opnode.inlets[inletid]}})</span>
        <span  *ngIf="inlet.type === 'profile'" class="inlet-label"> {{opnode.inlets[inletid]}}</span>

    </ng-container>



    <ng-container *ngIf="inlet.type === 'system'">
     
        <span class="inlet-label">layer {{inletid+1}}, system: </span>
            <mat-select matNativeControl
            matTooltip="select the system to associate with this layer" 
            [(ngModel)]="opnode.inlets[inletid]"
            (selectionChange)="inletChange()">
            <mat-option *ngFor="let sys of all_system_codes" [value]="sys.id">
                {{sys.code}}
            </mat-option>
        </mat-select>


    </ng-container>

    <ng-container *ngIf="inlet.type === 'color'">
        <div class="colorgroup">
            
            <div
            [matTooltip]="fc.value"
            [style.background-color] = fc.value
            class="input-color"></div>

            </div>

    </ng-container>
 




    <!-- draw the first set of inlets that have inputs first. -->
    <div *ngFor="let input of tree.getOpComponentInputs(opid, inletid); let i = index">
    
    
        <button 
        id = "inlet{{opid}}-{{inletid}}-{{i}}"
        class="toggle_visibility"
        [matTooltip]='inlet.dx'
        (click)="toggleVisibility(i)">
        <i *ngIf="show_connection_name !== i" class="fa-solid fa-eye"></i>
        <i *ngIf="show_connection_name === i" class="fa-solid fa-eye-slash"></i>
        </button>
        
    
        <!-- list everything attached here-->
       
       
        <div class="show_connection" *ngIf="show_connection_name == i">
            <div><p>connected to: <b>{{getInputName(input)}}</b></p><p>connect this inlet to: {{inlet.dx}}</p></div>
        </div>   
  



    </div>

    <button *ngIf="inlet.num_drafts == -1 || (tree.getInputsAtNdx(opid, inletid).length < inlet.num_drafts)"
    class="open_inlet"
    [matTooltip]='inlet.dx'
    (click)="inputSelected()">
    <i *ngIf="inlet_for_drafts" class="draft-inlet-icon"></i>
    <i *ngIf="!inlet_for_drafts" class="material-inlet-icon"></i>
    <!-- <i class="fa-sharp fa-solid fa-circle-down"></i> -->
    </button>

    <div class="show_connection" *ngIf="show_inlet_desc">
        <div>inlet description to: <b>{{inlet.dx}}</b></div>
    </div> 
        
</div>

</ng-container>