h4{
	margin: 6px 0px;
	padding: 6px 0px;
}

.slider-row{
    display: flex;
    flex-direction: row;
    padding: 24px;
}

.slider-row i{
    display: block;
    height: 48px;
    line-height: 32px;
    padding-top: 8px;
    color: grey;
}

.global_view{
    border:thin solid #333333;
    width: 250px;
    height: 250px;
    margin: 0 24px;

}

.local{
    border:thin solid #ff4081;
}

mat-slider{
	width: 100%;
}


button{
    background: white;
	color: #ff4081;
    border: thin solid #ff4081;
    width: 30px;
    height: 30px;
    line-height: 1em;
    margin: 2px;
}

.view_slider{
  width: 100%;
  padding: 8px 0 16px 0;
  font-size: .8em;

}

mat-slide-toggle{
    padding: 0px 8px;
}

button.selected{

	background: #ff4081;
	color: white;
}

.mat-button-toggle-appearance-standard .mat-button-toggle-label-content {
    /* line-height: 48px; */
    padding: 0 9px;
    font-size: .9em;
}

