 <!-- <mat-expansion-panel  [hideToggle] = "collapsed">
  <mat-expansion-panel-header>
    <mat-panel-title>
     <span>Zoom</span>
    </mat-panel-title>
    <mat-panel-description> -->
      <div class="slider-row">
        <i class="fas fa-search-plus"></i>
    
          <mat-slider 
          invert
          [displayWith]="formatLabel" 
          tickInterval="1" 
          step=".1" 
          min=".01" 
          max="15" 
          value="{{zoom}}" 
          (change)="zoomChange($event, 'slider')"></mat-slider>
          
          <i class="fas fa-search-minus"></i>  </div>
    
    
    <!-- </mat-panel-description>
  </mat-expansion-panel-header>


  <div class="global_view">
    <div class="local"
    [style.width.px] = "local_view.width"
    [style.height.px] = "local_view.height"
    [cdkDragFreeDragPosition]="local_view.topleft"
    cdkDragBoundary=".global_view"
    (cdkDragMoved)="dragMove($event)"
	  (cdkDragEnded)="dragEnd($event)"
	  (cdkDragStarted)="dragStart($event)"
    cdkDrag>
    </div>
  </div>

  <div class="slider-row">
    <i class="fas fa-search-plus"></i>

      <mat-slider 
      invert
      [displayWith]="formatLabel" 
      tickInterval="1" 
      step="1" 
      min="1" 
      max="15" 
      value="{{zoom}}" 
      (change)="zoomChange($event, 'slider')"></mat-slider>
      
      <i class="fas fa-search-minus"></i>  </div>



</mat-expansion-panel> -->