<div class="viewer_container">

  <div class="no-draft-placeholder" [class.hidden]="vs.getViewerId() !== -1">
    <p>no draft selected, select a draft to visualize</p>
  </div>




  <!-- <div class="draft-data">

    <div class="dims">draft size: {{warps}} ends x {{wefts}} pics</div>

  </div> -->





  @if (view_controls_visible) {



  <ul class="draft-info-list">
    <li>
      <span class="fieldname">name</span>
      <span class="fieldvalue">{{draft_name}} <button matIconButton matTooltip="edit the draft name"
          (click)="openNameChangeDialog()"><i class="fa-solid fa-pen-to-square"></i></button></span>
    </li>
    <li>
      <span class="fieldname">dimensions</span>
      <span class="fieldvalue">{{warps}} ends x {{wefts}} pics</span>
    </li>
    <li>
      <span class="fieldname">notes</span>
      <span class="fieldvalue">if notes exist put them here <button matIconButton
          matTooltip="edit the notes associated with this draft" (click)="openNameChangeDialog()"><i
            class="fa-solid fa-pen-to-square"></i></button></span>
    </li>
  </ul>






  }



  <div class="viewer-controls" [class.hidden]="vs.getViewerId() === -1">



    <div class="viewer-zoom-container">
      <mat-slider [class.hidden]="vis_mode == 'sim'" min="0" [max]="zs.num_steps" step="1">
        <input id='zoomLevel' matSliderThumb [formControl]="zoomLevel" (valueChange)="zoomChange()">
      </mat-slider>
    </div>


    <div class="viewer-extra-controls">
      <div class="toggle-group-wrapper">
        <mat-button-toggle-group hideSingleSelectionIndicator [formControl]="visMode" appearance="standard"
          class="collapsible-toggle-group">
          <mat-button-toggle matTooltip="view in 3D" value="sim">
            <i class="fa-solid fa-cube"></i>
          </mat-button-toggle>
          <mat-button-toggle value="draft" matTooltip="view as draft">
            <i class="fa-solid fa-chess-board"></i>
          </mat-button-toggle>
          <mat-button-toggle value="structure" matTooltip="view structure">
            <i class="fa-solid fa-hashtag"></i>
          </mat-button-toggle>
          <mat-button-toggle value="color" matTooltip="view color pattern">
            <i class="fa-solid fa-paint-roller"></i>
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>



      <div class="toggle-group-wrapper">
        <mat-button-toggle-group hideSingleSelectionIndicator [disabled]="visMode.value == 'sim'"
          [formControl]="viewFace" appearance="standard" class="collapsible-toggle-group">
          <mat-button-toggle value="front">
            front
          </mat-button-toggle>
          <mat-button-toggle value="back">
            back
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>



      <button matIconButton="filled" [color]="view_controls_visible ? 'accent' : 'primary'"
        (click)="toggleViewControls()"><i class="fa-solid fa-circle-info"></i>
      </button>
    </div>






  </div>


  <div class="pin-container" [class.hidden]="vs.getViewerId() === -1">
    <button mat-mini-fab [color]="vs.hasPin ? 'accent' : 'primary'" (click)="onTogglePinPressed()" class="pin-button"
      [matTooltip]="vs.hasPin ? 'Unpin draft' : 'Pin draft to viewer'">
      <i class="fa-solid fa-map-pin"></i>
    </button>
  </div>

  <div class="current_view" id="static_draft_view" [class.hidden]="vs.getViewerId() === -1">

    <div class="scale-container" id="viewer-scale-container">


      <app-draft-rendering #view_rendering [class.hidden]="vis_mode == 'sim' || !draft_rendering_visible"
        source="viewer" [id]="vs.getViewerId()" [view_only]="true" [scale]="scale" current_view="color">
      </app-draft-rendering>

      <app-simulation [class.hidden]="vis_mode != 'sim'" #sim id="sim_viewer" [id]="vs.getViewerId()">
      </app-simulation>


    </div>

  </div>




</div>