.current_view{
    width: 18vw;
    height: 18vw;
    background-color: white;
    margin: 16px;
    border: thin solid grey;
    display: flex;
    align-items: center;
}

#viewer_canvas{
    transform-origin: top left;
    transform: scale(1);
    border: thin solid grey;
    margin: auto;
}

.filelist{
    text-align: center;
    padding: 16px;
    margin: 16px 0px;
    border-top: thin solid grey;
    overflow: scroll;
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    button{
        margin: 2px;
    }
}

.active{
    color: #ff4081;
}

.hidden{
    display: none;
}