 <mat-expansion-panel  expanded [hideToggle] = "collapsed">
  <mat-expansion-panel-header>
    <mat-panel-title>
     <span>View</span>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>




      <mat-button-toggle-group value = "{{view}}"(change)="viewChange($event)" name="fontStyle" aria-label="Font Style">

        <ng-container *ngFor="let mode of view_modes">
          <mat-button-toggle 
          value="{{mode.value}}" >
        {{mode.viewValue}}</mat-button-toggle>
        </ng-container>

      </mat-button-toggle-group>


      <mat-slider 
      thumbLabel 
      [displayWith]="formatLabel" 
      tickInterval="1" 
      min="1" 
      max="100" 
      value="{{zoom}}" 
      (change)="zoomChange($event, 'slider')"></mat-slider>


    <h4>Show/Hide Weft Systems</h4>
    <ng-container *ngFor="let system of weft_systems">
      <button  mat-icon-button  [class.selected]="system.visible" (click)="system.visible = !system.visible; visibleButton(system.id, system.visible, 'weft')"> {{system.getChar()}}
      </button>
      
    </ng-container>

    <h4>Show/Hide Warp Systems</h4>
    <ng-container *ngFor="let system of warp_systems">
      <button  mat-icon-button   [class.selected]="system.visible" (click)="system.visible = !system.visible; visibleButton(system.id, system.visible, 'warp')"> {{system.getChar()}}
      </button>
    </ng-container>


<!-- 
  <ng-container *ngIf="collapsed">

          <button matTooltip="zoom in" 
          name="zoom_in" 
          class="button is-small  is-primary"
          (click)="zoomChange($event, 'in')">
          <i class="fas fa-search-plus" aria-hidden="true"></i>        
          </button>

        <button matTooltip="zoom out" 
        name="zoom_out" 
        class="button is-small  is-primary"
        (click)="zoomChange($event, 'out')">
        <i class="fas fa-search-minus" aria-hidden="true"></i>    
         </button>  

  </ng-container> -->
</mat-expansion-panel>