a.help{
    width: 80% !important;
    margin: 10%;
    border: thin solid #ff4081 !important;
    color: #ff4081;
    padding: 8px;
    text-align: center;

}

.viewers{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.design-container{
    display: flex;
    flex-direction: row;
    width:100%;
    height: 100%;
}

.detail_data{
    width: 100%;
    min-height: 33vh;
    padding: 18px;

    
}

.mat-form-field{
    width: 100%;
}

#draft_viewer{
    min-width: 50%;
    margin: auto;
    height: 100%;
}

#draft_viewer.expanded{
    min-width: 100%;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    height: 100%;
}
