
      <div class ="design-container">
       
        <!-- <app-tab
        (onGenerativeModeChange)="onGenerativeModeChange($event)"
        (onDraftSelected)="loadGeneratedDraft($event)"
        ></app-tab>  -->
        <app-sidebar id="sidebar"
         #sidebar
        (onDesignModeChange)='designModeChange($event)'
        (onZoomChange) ="renderChange($event);"
        (onViewChange) ="viewChange($event);"
        (onViewFront) ="renderChange($event);"
        (onHideWeftSystem)="hideWeftSystem($event);"
        (onShowWeftSystem)="showWeftSystem($event);"
        (onHideWarpSystem)="hideWarpSystem($event);"
        (onShowWarpSystem)="showWarpSystem($event);"
        (onGlobalLoomChange)="globalLoomChange($event)"
        (onLocalLoomNeedsRedraw)="redrawLoomAndDraft()"
        (onUpdateWarpSystems) = "updateWarpSystems($event)"
        (onUpdateWeftSystems) = "updateWeftSystems($event)"
        (onUpdateWarpShuttles) = "updateWarpShuttles($event)"
        (onUpdateWeftShuttles) = "updateWeftShuttles($event)"
        (closeDrawer) = "onCloseDrawer()"
        ></app-sidebar>


   


      <app-draftviewer id="draft_viewer"
      [id]="id"
      [class.expanded]="viewer_expanded"
      source = "weaver"
      (onNewSelection) = "updateSelection($event)"
      (onDrawdownUpdated)="redrawSimulation($event)"
      (onViewerExpanded)="expandViewer()">
      </app-draftviewer>
  
      
      <app-simulation id="simulation_container"
      [id]="id"
      (onExpanded)="expandSimulation()"
      >
      </app-simulation>


   </div>
