<div *ngIf="hasFocus" class="detail-sidebars">
  

<div class="second_sidebar">
  <mat-accordion multi>

    <mat-expansion-panel expanded >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-edit"></i>
            Design
          </mat-panel-title>
          <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="draft_tools">

        <div *ngIf="type !== 'jacquard'" class="editing-mode-toggle">
        <mat-label>design from: </mat-label>
        <mat-slide-toggle
        (click)="swapEditingStyleClicked()">
        </mat-slide-toggle>
        <div class="selected_mode">{{dm.cur_draft_edit_source}}
        </div>
        </div>

        <button 
        mat-icon-button
        class="menu-button" 
        matTooltip= "Select Region"
        [class.is-active]="dm.isSelectedDraftEditingMode('select')"
        (click)="select()">
        <i class="fas fa-expand"></i>
        </button>

        <ng-container *ngFor="let mode of draw_modes">
          <button *ngIf="mode.value !== 'material'"
          class="menu-button" 
          mat-icon-button
          [matTooltip]= "mode.viewValue"
          [class.is-active]="dm.isSelectedDraftEditingMode('draw') && dm.isSelectedPencil(mode.value)"
          [name] = "mode.value"
          (click)="drawModeChange(mode.value)">
              <span class="{{mode.icon}}"></span>
          </button>
        </ng-container>
  
          <ng-container *ngFor="let shuttle of ms.materials">
              <button class="menu-button" 
              mat-icon-button
              [matTooltip]= "shuttle.name"
              [class.is-active]="dm.isSelectedDraftEditingMode('draw') && dm.isSelectedPencil('material') && selected_material_id == shuttle.id"
              (click)="drawWithMaterial(shuttle.id)">
                  <span  [style.color]="shuttle.color" ><i class="fa-solid fa-paintbrush"></i></span>
              </button>
          </ng-container>
      </div>
  
  
      <button
      matTooltip= "Set Repeats"
      mat-raised-button 
      class="fullwidth set_repeats"
      [class.is-active] = "actions_modal && actions_modal.componentInstance != null"
      (click)='openActions()'><i class="fas fa-magic"></i> Set Repeats</button>


     </mat-expansion-panel>
  
     <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-eye"></i>
            View
          </mat-panel-title>
          <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>


        <mat-button-toggle-group name="view_mode" [(ngModel)]="current_view" aria-label="Font Style">
          <mat-button-toggle value="draft" (click)="viewChange('draft')">Draft</mat-button-toggle>
          <mat-button-toggle value="structure"  (click)="viewChange('structure')">Structure</mat-button-toggle>
          <mat-button-toggle value="color" (click)="viewChange('color')">Color</mat-button-toggle>
        </mat-button-toggle-group>

        <!-- <div class="buttons">
        <button mat-icon-button  (click)="zoomOut()"><i class="fas fa-search-minus"></i></button>         
        <button  mat-icon-button (click)="zoomIn()"><i class="fas fa-search-plus"></i></button>
        </div> -->
        <!-- <mat-slider 
        tickInterval=".1" 
        step=".1"
        min="0" 
        max="2" 
        value="{{render.zoom}}" 
        (change)="zoomChange($event, 'slider')"></mat-slider> -->

  



        <!-- <app-material-settings></app-material-settings> -->






  

     </mat-expansion-panel>
  


    <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="fa-solid fa-gear"></i>
          Loom Settings
        </mat-panel-title>
        <mat-panel-description>
         
      </mat-panel-description>
    </mat-expansion-panel-header>

    <app-settings [id]="id"
      (unsetSelection)='unsetSelection()'
      (drawdownUpdated)='drawdownUpdated()'
      (loomSettingsUpdated)="loomSettingsUpdated()"
      ></app-settings>
   </mat-expansion-panel>


  </mat-accordion>

</div>

</div>






  <app-draftviewer 
  id="draft_viewer"
  #weaveRef
  [hasFocus]="hasFocus"
  source = "weaver"
  (onNewSelection) = "updateSelection($event)"
  (onDrawdownUpdated)="drawdownUpdated()"
  (onDraftChanged)="detailDraftEdited($event)"
  (onLoomSettingsUpdated)="loomSettingsUpdated()"
  (onMaterialChange)="materialChange()"
  (onViewerExpanded)="expandViewer()">
  </app-draftviewer>

      

