.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    font-size: .8em;

}

.swatch{
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid grey;
}

.is-active{
    background-color:#ff3860;
}

.tool-chunk{
    padding-bottom: 20px;
}

span{
    padding-right: 10px;
}