
<!-- UNDO / REDO -->
<div class="sidebar">

    <!--on both weaver and mixer-->
    <div class="tool-chunk">
        <button #undoEvent 
        mat-icon-button 
        (click)="undoClicked($event);"
        [disabled]="timeline.undo_disabled"
        matTooltip ="undo">
        <i class="fas fa-undo"></i>
        </button>

        <button #redoEvent 
        mat-icon-button 
        (click)="redoClicked($event);"
        [disabled]="timeline.redo_disabled"
        matTooltip ="redo">
        <i class="fas fa-redo"></i>
        </button>
    </div>


<!-- MIXER EDITING TOOLS -->
    <div class="tool-chunk" *ngIf="source==='mixer'">

    <button 
    mat-icon-button
    matTooltip= "Draw"
    [matMenuTriggerFor]="inks"
    [class.is-active]="selected_mode === 'draw'">
    <i class="fas fa-edit"></i>
    </button>

    <mat-menu #inks="matMenu">
        <ng-container *ngFor="let mode of dm.draw_modes">
            <button 
            class="menu-button" 
            mat-menu-item 
            [matTooltip]=mode.viewValue
            [name]=mode.value 
            (click)="drawModeChange($event)">
            <span class="{{mode.icon}}"></span>
             <span>{{mode.viewValue}}</span>
             </button> 
             </ng-container>
    </mat-menu>

    <button 
    mat-icon-button
    matTooltip= "Draw Shape"
    [matMenuTriggerFor]="shape">
    <i class="fas fa-shapes"></i>
    </button>
    
    
    <mat-menu #shape="matMenu">

        <ng-container *ngFor="let mode of dm.shapes">
        <button 
        class="menu-button" 
        mat-menu-item 
        [matTooltip]=mode.viewValue
        [name]=mode.value 
        (click)="shapeChange($event)">
        <span class="{{mode.icon}}"></span>
         <span>{{mode.viewValue}}</span>
         </button> 
        
        </ng-container>   
    </mat-menu>

    <button 
    mat-icon-button
    matTooltip= "Marquee"
    (click)="designModeChange('marquee')">
    <i class="fas fa-expand"></i>
    </button>

    <button 
    mat-icon-button
    matTooltip= "Move"
    (click)="designModeChange('move')">
    <i class="fas fa-arrows-alt"></i>
    </button>

    <button 
    mat-icon-button
    matTooltip= "Operation"
    (click)="openOps('operation')">
    <i class="fas fa-project-diagram"></i>
    </button>



</div>

<!-- WEAVER EDITING TOOLS -->
    <div class="tool-chunk" *ngIf="source==='weaver'">

        <button 
        mat-icon-button
        matTooltip= "Edit Draft Cells"
        [matMenuTriggerFor]="inks"
        [class.is-active]="selected_mode === 'draw'">
        <i class="fas fa-edit"></i>
        </button>

        <mat-menu #inks="matMenu">
            <ng-container *ngFor="let mode of dm.draw_modes">
                <button 
            class="menu-button" 
            mat-menu-item 
            [name] = "mode.value"
            (click)="drawModeChange(mode.value)">
                <span class="{{mode.icon}}"></span>
                <span>{{mode.viewValue}}</span>
            </button>
            </ng-container>

            <ng-container *ngFor="let shuttle of draft.shuttles">
                <button class="menu-button" 
                mat-menu-item 
                (click)="drawWithMaterial(shuttle.id)">
                    <span class="swatch"  [style.background]="shuttle.color" ></span>
                    <span>{{shuttle.name }}</span>
                </button>
                </ng-container>


        </mat-menu>

        <button 
        mat-icon-button
        matTooltip= "Select Region"
        [class.is-active]="selected_mode === 'select'"
        (click)="select()">
        <i class="fas fa-expand"></i>
        </button>


       


        <!-- <button 
        mat-icon-button
        matTooltip= "Edit Draft Materials"
        [matMenuTriggerFor]="set_materials"
        [class.is-active]="selected_mode === 'material'"
        >
        <i class="fas fa-palette"></i>
        </button>

        <mat-menu #set_materials="matMenu">
        <ng-container *ngFor="let shuttle of draft.shuttles">
        <button class="menu-button" 
        mat-menu-item 
        (click)="drawWithMaterial(shuttle.id)">
            <span class="swatch"  [style.background]="shuttle.color" ></span>
            <span>{{shuttle.name }}</span>
        </button>
        </ng-container>

        <button class="menu-button" 
        mat-menu-item 
        (click)="openMaterialEditor()">
        <span class="fa fa-plus"></span>
        <span>Add / Edit Materials</span>
        </button>
        </mat-menu> -->

    </div>

<!-- COMMENT TOOL-->

    <!-- <div class="tool-chunk">


        <button 
        mat-icon-button
        matTooltip= "Add Note"
        (click)="openPatternModal()">
        <i class="fas fa-comment"></i></button>

        <div class="view_slider">
            Show Comments

            <mat-slide-toggle
                [checked]="view !== 'pattern'"
                (change)="viewChange($event)">
            </mat-slide-toggle>
        </div>

    </div> -->

<!-- VIEW TOOLS -->
<div class="tool-chunk" *ngIf="source==='weaver'">

    <button mat-icon-button><i class="fas fa-search-plus"></i></button>
    
    <div class="view_slider">
    <mat-slider 
    vertical
    [displayWith]="formatLabel" 
    tickInterval=".1" 
    step=".1"
    min="0" 
    max="2" 
    value="{{render.zoom}}" 
    (change)="zoomChange($event, 'slider')"></mat-slider>
</div>
    <button mat-icon-button><i class="fas fa-search-minus"></i></button>

    <div class="view_slider">
        Yarn

        <mat-slide-toggle
            [checked]="view !== 'pattern'"
            (change)="viewChange($event)">
        </mat-slide-toggle>
    </div>



    <div class="view_slider">
        Back
        <mat-slide-toggle
            [checked]="!front"
            (change)="front = !front; viewFront($event, front, 'front')">
        </mat-slide-toggle>
    </div>

    <div class="system-viz">

        <ng-container *ngIf="weft_systems.length > 1">
            <ng-container *ngFor="let system of weft_systems">
            <div class="view_slider">

            <mat-slide-toggle
            [checked]="!system.visible"
            (change)="system.visible = !system.visible; visibleButton(system.id, system.visible, 'weft')">
            </mat-slide-toggle> Hide Weft System {{system.getChar()}}
            </div>
        </ng-container>
        </ng-container>

        <ng-container *ngIf="warp_systems.length > 1">

        <ng-container *ngFor="let system of warp_systems">
        <div class="view_slider">

        <mat-slide-toggle
        [checked]="!system.visible"
        (change)="system.visible = !system.visible; visibleButton(system.id, system.visible, 'warp')">
        </mat-slide-toggle> Hide Warp System {{system.getChar()}}
        </div>
        </ng-container>
        </ng-container>
    </div>


</div>

    <!-- VIEW TOOLS - MIXER -->
    <div class="tool-chunk" *ngIf="source==='mixer'">

    <button mat-icon-button (click)="openMixerViewOpts()">
        <i class="fas fa-eye"></i>    
    </button>
    
    </div>
<!-- LIBRARIES -->
    <div class="tool-chunk" *ngIf="source==='weaver'">

        <button 
        mat-icon-button
        matTooltip= "Open Materials Library"
        (click)="openMaterialsModal()">
        <i class="fas fa-book"></i>
        </button>


        <button 
        mat-icon-button
        matTooltip= "Open Pattern Library"
        (click)="openPatternsModal()">
        <i class="fas fa-chess-board"></i>
        </button>

    </div>

<!-- EQUIPMENT SETTINGS -->
    <div class="tool-chunk" *ngIf="source==='weaver'">

        <button 
        mat-icon-button
        matTooltip= "Equipment Settings"
        (click)="openLoomModal()">
        <i class="fas fa-cog"></i></button>

    </div>

<!-- RELATED SETTINGS -->

    <!-- <div class="tool-chunk">
        <a mat-icon-button matTooltip="switch to adacad mixer" href="https://adacad-weaver.firebaseapp.com/mixer" target='_blank'><i class="fas fa-sliders-h"></i>
    </div> -->
</div>