
#sim_sidebar{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 42px;
    font-size: .8em;
    flex: none;
    border-left:2px solid #3f51b5;
    border-right:2px solid #3f51b5;
    background-color: white;

}

#simulation_container{
    display: flex;
    flex: 1 1 auto;
}



.toggle{
    display: flex;
    flex-direction: row;
}

.cameracontrols{
    position: absolute;
    width: 75%;
    text-align: center;
    top: 90vh;
    font-size: 0.8em;
    left: 40px;
}

.controls{
    position: absolute;
    width: 25%;
    display: flex;
    flex-direction: column;
    top: 3%;
    font-size: 0.8em;
    left: 3%;
}

.expand{
    position: absolute;
    top: 10px;
    left: 60vw;
    z-index: 2;
}

