.featureCard {
    display: flex;
    flex-direction: row;
    margin: 1em;
    color: var(--ifm-color-content);

}


.cardLeft {
    flex: 0 0 250px;
    max-height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;

    a {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.cardRight {

    margin: 1em;
    max-width: 60%;
}

.desc {
    line-height: normal;
    font-size: 1.3em !important;
}

.titleDesc {
    padding: 0px 0px 1em 0px;
}

.operations {
    padding: 0px 0px 1em 0px;
}

.opLinks {
    display: flex;
    flex-direction: row;
    gap: 3px;
}