.view-toggle{
    text-align: center;
    font-size: 0.5em;
    width: 100%;

    mat-slider {
      margin-right:28px;
      width: 200px;
    }

    mat-button-toggle{
    	line-height: 8px;
    }
}