<mat-toolbar color="primary">
  <span>AdaCAD</span>
  <span style="color:white; font-size: 80%;" (click)="openAboutDialog(null)">&nbsp; | &nbsp; About</span>
  
<span class="right">
   <!--  <button #undoEvent mat-raised-button [disabled]="!undoItem" (click)="undoClicked($event);">Undo</button>
    <button #redoEvent mat-raised-button [disabled]="!redoItem" (click)="redoClicked($event);">Redo</button> -->
    <button mat-raised-button [matMenuTriggerFor]="downloadDropdown">Download Weave</button>
    <mat-menu #downloadDropdown mat-raised-button>
      <a #bmpLink (click)="saveAsBmp($event)" mat-menu-item>Save as Bitmap</a>
      <a #adaLink (click)="saveAsAda($event)" mat-menu-item>Save as AdaCAD file</a>
      <a #wifLink (click)="saveAsWif($event)" mat-menu-item>Save as Wif file</a>
    </mat-menu>
  </span>
</mat-toolbar>
