<mat-toolbar color="primary">
  <span>AdaCAD <i style="font-size: .6em;">alpha/testing version</i></span>
  <span style="color:white; font-size: 80%;" (click)="openAboutDialog(null)">&nbsp; | &nbsp; About</span>
  
<span class="right">
<!--     <button mat-raised-button 
      [disabled]="(timeline.length <= 1) || (timeline[timeline.length-1]?.is_active)" 
      (click)="undoClicked($event);">Undo</button>
    
    <button #redoEvent mat-raised-button
      [disabled]="(timeline[0]?.is_active)"  
      (click)="redoClicked($event);">Redo</button> -->


   <button mat-raised-button="Open" (click)="openNewFileDialog(null)">Open</button>

    <button mat-raised-button [matMenuTriggerFor]="downloadDropdown">Save</button>
    
    <mat-menu #downloadDropdown mat-raised-button>
      <a #bmpLink (click)="saveAsBmp($event)" mat-menu-item> as Bitmap</a>
      <a #adaLink (click)="saveAsAda($event)" mat-menu-item> as AdaCAD file</a>
      <a #wifLink (click)="saveAsWif($event)" mat-menu-item> as Wif file</a>
  <!--     <a #printLink (click)="saveAsPrint($event)" mat-menu-item>Print</a> -->
    </mat-menu>

<!--    <a #printLink (click)="saveAsPrint($event)" mat-menu-item>Print</a>
 -->
     <button mat-icon-button>
      <a class="print-link" #printLink (click)="saveAsPrint($event)" mat-menu-item>
         <i class="fas fa-print"></i>
      </a> 
    </button>


      <button mat-icon-button
           (click)="drawer.toggle(); collapsed = !collapsed"
            class="collapse" 
            value="collapsed">
         <i class="fa"
           [class.fa-angle-double-right]="!collapsed" 
           [class.fa-angle-double-left]="collapsed"
         aria-hidden="true"></i>
      </button>

  </span>
</mat-toolbar>
