<div class="param-row">

    <div class="param-name">{{param.name}}</div>

    <ng-container  *ngIf="param.type == 'number'">
        <div class="param-slider">
            <mat-slider 
            thumbLabel
            tickInterval="1"
            [formControl]="fc"
            [matTooltip]=param.dx
            [min]=numparam.min
            [max]=numparam.max
            step="1" 
            value="fc.value"
            (change)= "onParamChange(fc.value)">
        </mat-slider>
        </div>


        <div class='param-label'>
            <input 
            [formControl]="fc"
            [matTooltip]=param.dx
            type = "number"
            [name]=param.name
            [min]=param.min
            [max]=param.max
            step = 1
            value = fc.value
            (change)= "onParamChange(fc.value)"
        >

    </div>
  </ng-container>

  <ng-container  *ngIf="param.type == 'select'">
    <div class="param-select">

        <mat-select 
            [matTooltip]=param.dx
            [formControl]="fc"
            (selectionChange)='onParamChange(fc.value)'>
          <mat-option *ngFor="let opt of selectparam.selectlist" [value]="opt.value">
            {{opt.name}}
          </mat-option>
        </mat-select>
      
    </div>

 </ng-container>

  <ng-container  *ngIf="param.type == 'boolean'">

        <div class="param-toggle">
            <mat-slide-toggle
            [formControl]="fc"
            [matTooltip]=param.dx
            value="fc.value"
            (change)= "onParamChange(fc.value)"
            >
            <span *ngIf="fc.value==1">{{boolparam.truestate}}</span>
            <span *ngIf="fc.value==0">{{boolparam.falsestate}}</span>
        </mat-slide-toggle>
        </div>
    </ng-container>

    <ng-container  *ngIf="param.type == 'string'">
       

         <div class='param-text'>
            <input 
            [formControl]="fc"
            [errorStateMatcher]="textValidate"
            [matTooltip]=param.dx
            type = "text"
            [name]=param.name
            value = fc.value
            (change)= "onParamChange(fc.value)"
          >
        </div>

        <div class='param-label'>
            <button mat-icon-button
            color="accent"
            matTooltip="update draft with input values"
            (click)= "onParamChange(fc.value)">
            <i class="fas fa-redo"></i></button>
        </div>


          <div class="text-err" *ngIf="fc.hasError('required')">
             an input is required 
            </div>
    
          <div class="text-err" *ngIf="fc.hasError('pattern')">
            the input pattern does not match
        </div>
  

    </ng-container>



    <ng-container  *ngIf="param.type == 'file'">
       
      <div class='param-file'>
        <upload-form type="init" (onData)="handleFile(i, $event)" class="button"></upload-form>
     </div>

   
 </ng-container>



</div>