// span{
//   font-size: .8em;
// }

// .toprow{
//   display: flex;
//   flex-direction: row;
//   line-height: 1em;
// }

// .description{
//   font-style: italic;
//   width: 80%;
//   padding: 0px 0px 8px 8px;
// }

// .toggle{
//   padding: 8px;
// }

// .mat-form-field {
//   width: 80%;
// }