<div class="toprow">
  <button mat-icon-button (click)="close()"><i class="fas fa-times"></i></button>
  
  <p mat-dialog-title
    cdkDrag
     cdkDragRootElement=".cdk-overlay-pane" 
     cdkDragHandle>Loom Setup</p>
</div>


<mat-dialog-content>


   <form #envt="ngForm" novalidate>
  
          <mat-form-field *ngIf="type === 'global'">
            <mat-label>Loom Type</mat-label>
            <mat-select (selectionChange) ="loomChange(envt)" [(value)]="loomtype" [(ngModel)]="loomtype" name="loomtype">
              <mat-option *ngFor="let loomtype of loomtypes" [value]="loomtype.value">
                {{loomtype.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
  
  
        <mat-form-field *ngIf="type === 'local'">
          <input matInput name="warps" 
          [readonly]="warp_locked" 
          [(ngModel)]="warps" 
          type="number" 
          min="2" 
          placeholder="Warp Ends" 
          (change)="warpChange(envt)"
          (blur)="warpChange(envt)"> 
       
        </mat-form-field>

   <button *ngIf="type === 'local'" mat-icon-button [class.hide]="collapsed">    
    <i *ngIf="type === 'local'" aria-label="warp lock button" class="fa" [class.fa-lock]="warp_locked" [class.fa-unlock]="!warp_locked" (click)="warp_locked = !warp_locked"></i></button>
        <mat-form-field *ngIf="type === 'local'">
          <input matInput name="wefts" 
          [(ngModel)]="wefts" 
          type="number" 
          min="2" 
          placeholder="Weft Picks" 
          (change)="weftChange(envt)"
          (blur)="weftChange(envt)"> 
        </mat-form-field>
  
        <mat-form-field *ngIf="type === 'global'">
            <mat-label>Density Units</mat-label>
            <mat-select [(value)]="units" [(ngModel)]="units" name="units" (selectionChange) ="unitChange(envt)">
            <mat-option *ngFor="let unit of density_units" [value]="unit.value">
              {{unit.viewValue}}
            </mat-option>
          </mat-select>
          </mat-form-field>
  
        <mat-form-field *ngIf="type === 'global'">
          <input matInput  
          name="epi" 
          [(ngModel)]="epi" 
          type="number" 
          min= "0" 
          placeholder="Density" 
          (change)="epiChange(envt)"
          (blur)="epiChange(envt)">  
  
        </mat-form-field>

        <ng-container *ngIf="type ==='global' && units === 'cm'">
            <span matSuffix>ends / 10cm</span>
          </ng-container>
          <ng-container *ngIf="units == 'in'">
           <span matSuffix>epi</span> 
          </ng-container>
  
  
  
            <mat-form-field *ngIf="type === 'local'">
              <input matInput 
              name="width" 
              [(ngModel)]="width" 
              step="0.125" 
              type="number" 
              min= "0.25" 
              max ="60" 
              placeholder="Width" 
              (change)="widthChange(envt)"
              (blur)="widthChange(envt)"> 
            </mat-form-field>
  
          <ng-container *ngIf="type === 'local' && units === 'in'">
             <span matSuffix>inches</span> 
           </ng-container>
  
            <ng-container *ngIf="type === 'local' && units === 'cm'">
             <span matSuffix>cm</span> 
          </ng-container>
  
  
        <ng-container *ngIf="type === 'global' && loomtype == 'frame'">
  
        <mat-form-field>
          <input matInput 
          name="frames" 
          [(ngModel)]="frames"  
          step="1" 
          type="number" 
          min= "2" 
          max ="1000" 
          placeholder="Number of Frames"
          (change)="updateMinFrames(envt)" 
          (blur)="updateMinFrames(envt)"> 
           <span matSuffix>frames</span> 
         </mat-form-field>
  
  
        <mat-form-field>
          <input matInput 
          name="treadles" 
          [(ngModel)]="treadles" 
          step="1" 
          type="number" 
          min= "2" 
          max ="1000" 
          placeholder="Number of Treadles"
          (change)="updateMinTreadles(envt)"
          (blur)="updateMinTreadles(envt)"
          > 
           <span matSuffix>treadles</span> 
         </mat-form-field>

         <!-- <mat-slide-toggle [(ngModel)] = 'global_loom.show_errors' name="show_errors">Label Drafts that Require More Frames or Treadles</mat-slide-toggle> -->

  
        </ng-container>
  
  </form>
  


</mat-dialog-content>
<!-- <mat-dialog-actions>
  <button class="mat-raised-button"(click)="close()">Close</button>
</mat-dialog-actions> -->
