<mat-expansion-panel  [hideToggle] = "collapsed">
  <mat-expansion-panel-header>
    <mat-panel-title>
     <span>Design</span>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>


<button matTooltip= "Select Region"
      name="select" 
      class="button is-small is-primary fas fa-expand"
      [class.is-active]="design_mode.name === select"
      [style.color]="button_color"
      (click)="designModeChange($event)">
</button>


<h3> Interlacement Tools</h3>

  <ng-container *ngFor="let mode of design_modes">
     <button [matTooltip]=mode.viewValue 
      [name]=mode.value 
      class="button is-small is-primary {{mode.icon}}"
      [class.is-active]="design_mode.name === mode.value"
      [style.color]="button_color"
      (click)="designModeChange($event)">
      </button>
  </ng-container>

<h3> Draw with Materials</h3>
  <ng-container *ngFor="let shuttle of materials">
     <button [matTooltip]=shuttle.name 
      [name]=shuttle.id 
       class="button material is-small is-primary fas fa-square"
      [class.is-active]="design_mode.id === shuttle.id"
      [style.color]="shuttle.color"
      (click)="drawWithMaterial($event)">
      </button>
  </ng-container>


<h3> Selection tools </h3>


  <ng-container *ngFor="let action of design_actions">
     <button [matTooltip]=action.viewValue 
      [name]=action.value 
      [disabled] = "!(design_mode.name === 'select' || design_mode.name === 'copy')"
      class="button is-small is-primary {{action.icon}}"
      [style.color]="button_color"
      (click)="designActionChange($event)">
      </button>
  </ng-container>

        <app-weaverpatterns 
          [patterns]="patterns"
          [selection] = "selection"
          (onPatternChange)="updatePatterns($event);"
          (onCreatePattern)="createPattern($event);"
          (onRemovePattern)="removePattern($event);"
          (onFill) = "fillEvent($event)">
          >
        </app-weaverpatterns>
        <h3>Design with Machine Learning</h3>


        <form #collectionForm="ngForm">
          <mat-form-field class="is-fullwidth">
            <mat-select placeholder="Select Style" name="name" [(ngModel)]="collection.name">
              <mat-option *ngFor="let collection of collections" [value]="collection.name">
                {{ collection.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      <ng-container>
        <button matTooltip="start mixed initiative mode"
        [name]='generativeMode' 
        [disabled] = "this.generativeMode" 
        class="button is-small fas fa-play-circle"
        [style.color]="button_color"
        (click)="generativeModeChange($event)">           
        </button>
        <button matTooltip="end mixed initiative mode" 
        [name]='generativeMode'
        [disabled] = "!this.generativeMode" 
        class="button material is-small is-primary fas fa-square"
        [style.color]="button_color"
        (click)="generativeModeChange($event)">           
        </button>
      </ng-container>
</mat-expansion-panel>