.mixer {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.designtools{
    margin: 20px;

}

.opname{
    font-weight: bold;
}

h4{
    font-weight: bold;
}

h5{
    font-weight: normal;
    font-style: italic;
}

i{
    display: inline-block;
}

.setting_title{
    padding: 18px 0px;
}
.draft-inlet-icon {
    width: 24px;
    height: 20px;
    background: url(../../../assets/svg/draft_inlet.svg);
    background-size: 24px 24px;
  }

  .material-inlet-icon {
    width: 24px;
    height: 20px;
    background: url(../../../assets/svg/material_inlet.svg);
    background-size: 24px 24px;
  }

.undoredo{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button{
        width: 49%;
    }
}

.add{
    width: 40px;
    height: 40px;
    width: 100%;
    text-align: right;
}

h3{
    color: rgba(0,0,0,.54);
    font-size: .8em;
    padding-bottom: 12px;
    padding-top: 18px;
}


.mat-divider{
     margin: 4px 0px;
}



h2,
.cat_title{
    font-weight: bold;
}



.mat-divider{
    padding: 12px 0px;
}

.operation_categories{
    padding-top: 12px;
}

.cat_desc{
    margin-bottom: 32px;

}


p{
    line-height: 1.6em;
    margin-bottom: 12px;
}


button{
    margin: 4px;
    width: 100%;
}