<div class="draft-container origin{{ws.selected_origin_option}}"  [class.expanded] ="hasFocus" id="draft-scale-container">

  <app-selection
  #selection
  id="app-selection"
  [id]="id"
  (onSelectionEnd)="onSelectionEnd()"
  (forceRedraw)="redrawAll()"
  ></app-selection>


  <div class="draft-top origin{{ws.selected_origin_option}}">


      <div class="warp-systems-container origin{{ws.selected_origin_option}}" id="warp-systems-container-editor">
      

        <div class="warp-systems-text origin{{ws.selected_origin_option}}"  id="warp-systems-text-editor">
            
          <div class="warp-system-col origin{{ws.selected_origin_option}}" 
              [style.width.px] = "cell_size"
              *ngFor="let i of colSystemMapping; let j = index;" >
                  
            <div class="warp-number-container">
                <span *ngIf="j % getTextInterval() == 0" class="warp_number origin{{ws.selected_origin_option}}">
                  {{j}}
                </span>      
              
                <span *ngIf="isLastCol(j)" class="warp_number_last origin{{ws.selected_origin_option}}">
                 {{j+1}}
                  <!-- <ng-container *ngIf='ws.selected_origin_option == 2 || ws.selected_origin_option == 1'>b {{getFlippedWarpNum(j) - 1}}</ng-container> -->
                  
                </span>       
            </div>

            <div  class="warp_selectors">
                <span class="warp_delete" (click)="deleteCol(j);"><i class="fa fa-trash"></i>
                  </span>
          
                <span class="warp_clone"
                (click)="cloneCol(j);">
                  <i class="fa fa-clone"></i>
                </span>
          
          
                <span class="warp_insert" 
                (click)="insertCol(j + 1);">
                <i class="fa fa-plus-circle"></i></span>
            </div>
            
          </div>

                <!-- <div class="warp-system-col" >
                  <span class="last-warp">{{draft?.warps}}</span>
                </div>  -->

        </div>   

        <div id="warp-systems-canvas">
        <canvas id="warp-systems-editor" class="warp-systems">  </canvas>
        </div>
        <div id="warp-materials-canvas">
        <canvas id ="warp-materials-editor" class="warp-materials">  </canvas>
        </div>

      </div>

      <div class="threading-tieup-container 
      origin{{ws.selected_origin_option}} 
      editable-{{dm.cur_draft_edit_source}}
      loomtype-{{selected_loom_type}}"
      >
      <div id="threading-canvas">
          <canvas id="threading-editor" class=""></canvas>
      </div>
      <!-- <div class="threading-tieup-spacer origin{{ws.selected_origin_option}}"></div> -->
      <div id="tieups-canvas">
        <canvas id="tieups-editor" ></canvas>
      </div>
    </div>
  


</div>


  <div class="drawdown-container origin{{ws.selected_origin_option}} editable-{{dm.cur_draft_edit_source}}" >
    
    <div id="drawdown-canvas">
        <canvas id="drawdown-editor">  </canvas>
    </div>
    <!-- <div class="threading-tieup-spacer origin{{ws.selected_origin_option}}"></div> -->
    <div class="treadling-container loomtype-{{selected_loom_type}}" id="treadling-canvas">
      <canvas [class.hidden]="!isFrame" id="treadling-editor" #treadling></canvas>
    </div>
      
    <div id="weft-materials-canvas">
      <canvas id ="weft-materials-editor" class="weft-materials">  </canvas>
    </div>
    <div id="weft-systems-canvas">
      <canvas id="weft-systems-editor" class="weft-systems">  </canvas>
      </div>

      <div class="weft-systems-container origin{{ws.selected_origin_option}}">
        <div class="weft-systems-text origin{{ws.selected_origin_option}}" id="weft-systems-text-editor">
          <div class="weft-system-row origin{{ws.selected_origin_option}}" 
          [style.height.px]="cell_size"
          *ngFor="let i of rowSystemMapping; let j = index;" >

              <div class="weft_indicies">

              <ng-container *ngIf="ws.selected_origin_option == 1 || ws.selected_origin_option == 2">
                <span *ngIf="(j % getTextInterval() == 0)" class="weft_number origin{{ws.selected_origin_option}}">{{j}}</span>      
                <span *ngIf="(isLastRow(j))" class="weft_number_last origin{{ws.selected_origin_option}}">{{j+1}}</span>      
              </ng-container>  
              <ng-container *ngIf="ws.selected_origin_option == 0 || ws.selected_origin_option == 3">

              <span *ngIf="j % getTextInterval() == 0" class="weft_number origin{{ws.selected_origin_option}}">{{j}}</span>      
              <span *ngIf="(isLastRow(j))" class="weft_number_last origin{{ws.selected_origin_option}}">{{j+1}}</span>      
            </ng-container>  
              </div>

              <div class="weft_actions">
                <span class = "weft_insert" 
                (click)="insertRow(j, i)">
                <i class="fa fa-plus-circle"></i>
                </span>
      
                <span class = "weft_clone" 
                (click)="cloneRow(j, i);">
                <i class="fa fa-clone"></i>
                </span>
                
                <span class="weft_delete" 
                  (click)="deleteRow(i);">
                  <i class="fa fa-trash"></i>
                </span>
              </div>
          </div> <!-- end weft system row-->
        </div> 
      </div>

      
      </div>



    
          



     </div>
