<div class="example-container">

  <section *ngIf="view === 'pattern'" class="section-container">
    <h3>Interlacement Tools</h3>
    <div class="buttons">
      <button matTooltip="draw in filled cells to draft" name="point" class="button is-primary brush" [class.is-active]="brush === 'point'" (click)="brushChange($event)">Draw
      </button>

      <button matTooltip="erase filled cells to draft" name="erase" class="button is-primary brush" [class.is-active]="brush === 'erase'" (click)="brushChange($event)">Erase</button>

      <button matTooltip="invert the state of one cell" name="invert" class="button is-primary brush  " [class.is-active]="brush === 'invert'" (click)="brushChange($event)">Invert</button>
     
    </div>
  <mat-divider></mat-divider>
  </section>
  <section *ngIf="view === 'pattern'" class="section-container">
    <h3>Pattern Tools</h3>
    <div class="buttons">
       <button matTooltip="select a region of the draft" name="select" id="select" class="button is-primary codehilite brush" [class.is-active]="brush === 'select'" (click)="brushChange($event)">Select Region</button>
     </div>

  <div class="buttons">
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button id="fill" [disabled] = "brush !=='select'" class="button is-primary codehilite brush-dropdown" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="brush-type">Fill</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <ng-container *ngFor="let pat of favorites">
            <a id="{{pat.id}}" name="fill" (click)="fillEvent($event, pat.id)" class="dropdown-item brush">{{ pat.name }}</a>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button id="mask" class="button is-primary codehilite  brush-dropdown" aria-haspopup="true" aria-controls="dropdown-menu" [disabled] = "brush !=='select'">
            <span class="brush-type">Mask</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu" >
          <div class="dropdown-content">
            <ng-container *ngFor="let pat of favorites">
            <a id="{{pat.id}}" name="fill" (click)="maskEvent($event, pat.id)" class="dropdown-item brush">{{ pat.name }}</a>
            </ng-container>
          </div>
        </div>
      </div>
       <button name="clear" [disabled] = "brush !=='select'" class="button is-primary  brush" (click)="clearEvent($event);">Clear</button>
      
      <button name="copy" [disabled] = "brush !=='select'" (click)="copyEvent($event);" class="button is-primary  brush">Copy</button>

      <div class="dropdown" [class.is-hoverable]="copy">
        <div class="dropdown-trigger">
          <button id="paste" class="button is-primary  brush-dropdown" aria-haspopup="true" aria-controls="dropdown-menu" [disabled]="!copy">
            <span class="brush-type">Paste</span>
            <span class="icon is-small">
              <i class="fa fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu">
          <div class="dropdown-content">
            <a id="original" (click)="pasteEvent($event, 'original')" name="paste" class="dropdown-item brush">
              Original
            </a>
            <a id="invert" (click)="pasteEvent($event, 'invert')" name="paste" class="dropdown-item brush">
              Invert
            </a>
            <a id="mirrorX" (click)="pasteEvent($event, 'mirrorX')" name="paste" class="dropdown-item brush">
              Vertical Flip
            </a>
            <a id="mirrorY" (click)="pasteEvent($event, 'mirrorY')" name="paste" class="dropdown-item brush">
              Horizontal Flip
            </a>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="label is-fullwidth">Create</div>
    <div class="buttons">
      <a name="button" class="button is-primary is-outline brush">Button</a>
      <a name="qrcode" class="button is-primary is-outline brush">QR Code</a>
    </div> -->
  <mat-divider></mat-divider>
  </section>

  <section *ngIf="view === 'pattern'" class="section-container">
    <h3>Mask Tools</h3>
    <div class="buttons">
      <button matTooltip="add cells to mask" name="maskpoint" class="button is-primary brush" [class.is-active]="brush === 'maskpoint'" (click)="brushChange($event)">Draw on Mask
      </button>

      <button matTooltip="erase cells on mask" name="maskerase" class="button is-primary brush" [class.is-active]="brush === 'maskerase'" (click)="brushChange($event)">Erase Mask</button>

       <button matTooltip="invert the state of one cell" name="maskinvert" class="button is-primary brush  " [class.is-active]="brush === 'maskinvert'" (click)="brushChange($event)">Invert Mask</button>
    
      <div class="dropdown is-hoverable">
        <div class="dropdown-trigger">
          <button id="mask" class="button is-primary codehilite  brush-dropdown" aria-haspopup="true" aria-controls="dropdown-menu">
            <span class="brush-type">Fill Mask</span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu" role="menu" >
          <div class="dropdown-content">
            <ng-container *ngFor="let pat of favorites">
            <a id="{{pat.id}}" name="fill" (click)="maskEvent($event, pat.id)" class="dropdown-item brush">{{ pat.name }}</a>
            </ng-container>
          </div>
        </div>
      </div>
    </div>

  <mat-divider></mat-divider>
  </section>

<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Weft Systems
    </mat-panel-title>
    <mat-panel-description>
    
    </mat-panel-description>
  </mat-expansion-panel-header>


<button mat-raised-button class="is-fullwidth" (click)="openDialog('weft', null)">
  <i aria-label="Example icon-button with a heart icon" class="fa fa-plus"></i>&nbsp;&nbsp;
  Create Weft System
</button>
<mat-list>
  <ng-container *ngFor="let shuttle of shuttles">
  <mat-list-item (click)="selected = shuttle.id;" class="level" [class.selected]="selected === shuttle.id" [disableRipple]="false">
    <div class="level-item">
      <button mat-icon-button (click)="visibleButton(shuttle.id, shuttle.visible)">
        <i aria-label="Favorite button" class="fas" [class.fa-eye-slash]="!shuttle.visible" [class.fa-eye]="shuttle.visible" (click)="shuttle.visible = !shuttle.visible;"></i>
      </button>



      <input class="colorpicker shuttle-cp" [(colorPicker)]="shuttle.color" (colorPickerChange)="colorChange($event)"
       [cpPosition]="'bottom'"
       [style.background]="shuttle.color"/>

      <!-- <input class="thickness shuttle-cp" [(colorPicker)]="shuttle.color" (colorPickerChange)="colorChange($event)"
       [cpPosition]="'bottom'"
       [style.background]="shuttle.color"/> -->

     </div>
     <div class="level-item center-item fill-remaining-space">
      <span class="">{{ shuttle.name }}</span>
    </div>
    <div class="level-item level-right">
      <button mat-icon-button class="edit-button" (click)="openDialog('weft', shuttle)">
        <i aria-label="Favorite button" class="fas fa-pencil-alt"></i>
      </button>

<!--       <button mat-icon-button class="trash-button">
        <i aria-label="Favorite button" class="fas fa-trash"></i>
      </button> -->
    </div>
  </mat-list-item>  
  </ng-container>
</mat-list>
</mat-expansion-panel>



<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Warp Systems
    </mat-panel-title>
    <mat-panel-description>
    
    </mat-panel-description>
  </mat-expansion-panel-header>


<button mat-raised-button class="is-fullwidth" (click)="openDialog('warp', null)">
  <i aria-label="Example icon-button with a heart icon" class="fa fa-plus"></i>&nbsp;&nbsp;
  Create Warp System
</button>
<mat-list>
  <ng-container *ngFor="let warp_system of warp_systems">
  <mat-list-item (click)="selected = warp_system.id;" class="level" [class.selected]="selected === warp_system.id" [disableRipple]="false">
    <div class="level-item">

      <input class="colorpicker shuttle-cp" [(colorPicker)]="warp_system.color" (colorPickerChange)="colorChange($event)"
       [cpPosition]="'bottom'"
       [style.background]="warp_system.color"/>

      <!-- <input class="thickness shuttle-cp" [(colorPicker)]="shuttle.color" (colorPickerChange)="colorChange($event)"
       [cpPosition]="'bottom'"
       [style.background]="shuttle.color"/> -->

     </div>
     <div class="level-item center-item fill-remaining-space">
      <span class="">{{ warp_system.name }}</span>
    </div>
    <div class="level-item level-right">
      <button mat-icon-button class="edit-button" (click)="openDialog('warp', warp_system)">
        <i aria-label="Favorite button" class="fas fa-pencil-alt"></i>
      </button>

<!--       <button mat-icon-button class="trash-button">
        <i aria-label="Favorite button" class="fas fa-trash"></i>
      </button> -->
    </div>
  </mat-list-item>  
  </ng-container>
</mat-list>
</mat-expansion-panel>



<mat-expansion-panel >
  <mat-expansion-panel-header>
    <mat-panel-title>
      Loom Settings
    </mat-panel-title>
    <mat-panel-description>
    
    </mat-panel-description>
  </mat-expansion-panel-header>


 <form #envt="ngForm" novalidate>
      <mat-form-field>

        <input matInput name="warps" 
        [readonly]="warp_locked" 
        [(ngModel)]="warps" 
        type="number" 
        min="2" 
        placeholder="Warps" 
        (change)="warpChange(envt)"> 
         <button mat-icon-button>
        <i aria-label="warp lock button" class="fa" [class.fa-lock]="warp_locked" [class.fa-unlock]="!warp_locked" (click)="warp_locked = !warp_locked"></i></button>
      </mat-form-field>
      <mat-form-field>
        <input matInput  
        name="epi" 
        [(ngModel)]="epi" 
        type="number" 
        min= "0" 
        placeholder="Ends Per Inch" 
        (change)="epiChange(envt)">  
        <span matSuffix>epi</span>
      </mat-form-field>
      <mat-form-field>
        <input matInput name="width" [(ngModel)]="width" step="0.125" type="number" min= "0.25" max ="60" placeholder="Width" (change)="widthChange(envt)"> 
         <span matSuffix>inches</span> 
       </mat-form-field>

</form>
</mat-expansion-panel>
  
</div>
