

.hide{
  display:none;
}

.warpicon{
    display: block;
    fill: rgb(255, 255, 255);
    text-anchor: start;
    transform-origin: 11% 35%;
    transform: rotate(90deg);

}

.addsystem{
    color: white;
    background: none;
    border: none;
    padding: 5px 0px 0px 0px;
}

.design-container{

  width:310px;
  line-height: 1.5;


  h3{
    padding: 10px 5px;
  }

  .panel-content{
    padding: 15px;
    width: 90%;
  }


  .mat-slider{
    width: 80%;
  }

  .mat-expansion-panel-header{
    background: #303030;
  }

  
  .mat-expansion-panel-body{
    padding: 8px 23px 16px  
  }

  .mat-expansion-panel-header-title i{
    width:50px;
  }

  .mat-expansion-panel-body {
    margin: 0px 12px !important;
  }

  .button{
    justify-content: left;

    i{
      width: 1.5em;
      margin-right: 1em;
    }

    .fill_name{
      border: thin solid white;
      overflow: hidden;
      font-weight: bold;
      font-style: small-caps;
    }
  }


  .colorpicker {
    border: 1px solid white;
    outline: none;
    width: 17px;
    margin: 0 .8rem 0 .375rem;
  }


  .thickness {
    border: 1px dashed white;
    outline: none;
    width: 17px;
    margin: 0 .8rem 0 .375rem;
  }

  .center-item {
    justify-content: right;
  }


  .mat-list-item {

    .edit-button, .trash-button {
      display: none;
    }

    &:hover {
      .edit-button, .trash-button {
        display: block;
      }
    }

    &.selected {

      .mat-list-item-content {
        padding-left: 14px;
      }
    }
  }
}


.design-container.collapsed{
    width: 75px;
    padding-left: 14px;
    line-height: 1.5;

  span{
    display: none;
  }

  .panel-content{
    padding: 0px;
  }

  .mat-form-field-infix{
    width:44px !important;
  }

  .mat-expansion-panel{
    width: 44px;
  }

  .mat-expansion-panel-body{
    justify-content: center;
  }

  .mat-expansion-panel-header{
    height: 25px !important;
    padding: 2px 0px 5px 0px;
  }

  .mat-expansion-panel-header i{
    margin-left: 15px
  }

  .mat-form-field{
     width: 40px !important;
     margin-left: 4px;
  }

  .mat-expansion-panel-header-title i{
    width:50px;
  }

  .mat-expansion-panel-header-description, 
  .mat-expansion-panel-header-title{
    margin: 0px;
  }

  .mat-icon-button{
    background: white;
    width: 25px;
    height: 25px;
  /*  line-height: 24px;*/
    margin: 0px 0px 10px 10px;
  }

  .mat-button-toggle-group{
    flex-direction: column;
  }

/*  .mat-drawer{
    width: 70px !important;
  }*/


  h3{
    display:none;
  }

  .button{
    justify-content: left;
    margin-bottom:4px;

    i{
      width: 1.5em;
      margin-right: 0em;
    }

    .fill_name{
      border: thin solid white;
      overflow: hidden;
      font-weight: bold;
      font-style: small-caps;
    }
  }

}

