.loading {


    display: flex;
    flex-direction: row;
    width: 25vw;
    gap: 16px;

}

img {
    display: flex;
    width: 30%;
}

p {
    text-align: center;
    opacity: 1;
    font-size: larger
}