<div  class="detail-sidebars" id="detail-sidebar">
  
  <mat-accordion multi>

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-eye"></i>
            View
          </mat-panel-title>
          <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <!-- <button *ngIf="!viewer_expanded" mat-button (click)="focusUIView()">
        <i  class="fa-solid fa-maximize"></i> Enter Full Screen</button> 
        <button *ngIf="viewer_expanded" mat-button (click)="collapseUIView()">
          <i  class="fa-solid fa-minimize"></i> Exit Full Screen</button>  -->

          <button  
          mat-icon-button 
          [class.active]="current_view == 'draft'"
          matTooltip="view draft" 
          (click)="viewChange('draft')">
            <i class="fa-solid fa-chess-board"></i>
          </button>
          
          <button  
          mat-icon-button 
          [class.active]="current_view == 'structure'"
          matTooltip="view structure" 
          (click)="viewChange('structure')">
            <i class="fa-solid fa-hashtag"></i>
          </button>
          
          <button  
          mat-icon-button 
          [class.active]="current_view == 'color'"
          matTooltip="view colors" 
          (click)="viewChange('color')">
            <i class="fa-solid fa-paint-roller">
          </i></button>
          
          <button  mat-icon-button ><i class="fa-solid fa-expand" (click)="expandViewer()"></i></button>

    


     </mat-expansion-panel>
  

    <mat-expansion-panel expanded >
      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-edit"></i>
            Design
          </mat-panel-title>
          <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="draft_tools">

        <div *ngIf="loom.type !== 'jacquard'" class="editing-mode-toggle">
        <mat-label>design from: </mat-label>
        <mat-slide-toggle
        [disabled]="id === -1"
        hideIcon
        (change)="swapEditingStyleClicked()">
        </mat-slide-toggle>
        <div class="selected_mode">{{dm.cur_draft_edit_source}}
        </div>
        </div>

        <button 
        mat-icon-button
        class="menu-button" 
        matTooltip= "Select Region"
        [class.is-active]="dm.isSelectedDraftEditingMode('select')"
        (click)="select()">
        <i class="fas fa-expand"></i>
        </button>

        <ng-container *ngFor="let mode of draw_modes">
          <button *ngIf="mode.value !== 'material'"
          class="menu-button" 
          mat-icon-button
          [matTooltip]= "mode.viewValue"
          [class.is-active]="dm.isSelectedDraftEditingMode('draw') && dm.isSelectedPencil(mode.value)"
          [name] = "mode.value"
          (click)="drawModeChange(mode.value)">
              <span class="{{mode.icon}}"></span>
          </button>
        </ng-container>
  
          <ng-container *ngFor="let shuttle of ms.materials">
              <button class="menu-button" 
              mat-icon-button
              [matTooltip]= "shuttle.name"
              [class.is-active]="dm.isSelectedDraftEditingMode('draw') && dm.isSelectedPencil('material') && selected_material_id == shuttle.id"
              (click)="drawWithMaterial(shuttle.id)">
                  <span  [style.color]="shuttle.color" ><i class="fa-solid fa-paintbrush"></i></span>
              </button>
          </ng-container>
      </div>
  
  
      <button
      matTooltip= "Set Repeats"
      mat-raised-button 
      class="fullwidth set_repeats"
      [class.is-active] = "actions_modal && actions_modal.componentInstance != null"
      (click)='openActions()'><i class="fas fa-magic"></i> Set Repeats</button>

      <button
      matTooltip= "Add/Edit Materials"
      mat-raised-button 
      class="fullwidth set_repeats"
      (click)='openMaterials()'><i class="fa-solid fa-paintbrush"></i> Add / Edit Materials</button>



     </mat-expansion-panel>
  



    <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        <i class="fa-solid fa-gear"></i>
          Loom Settings
        </mat-panel-title>
   
    </mat-expansion-panel-header>

    <app-loom 
       #loom
      [id]="id"
      (unsetSelection)='unsetSelection()'
      (drawdownUpdated)='drawdownUpdated()'
      (loomSettingsUpdated)="loomSettingsUpdated()"
      ></app-loom>
   </mat-expansion-panel>


  </mat-accordion>

</div>







  <app-draft 
  id="draft_viewer"
  #weaveRef
  source = "weaver"
  (onNewSelection) = "updateSelection($event)"
  (onDrawdownUpdated)="drawdownUpdated()"
  (onDraftChanged)="detailDraftEdited($event)"
  (onLoomSettingsUpdated)="loomSettingsUpdated()"
  (onMaterialChange)="materialChange()"
  (onViewerExpanded)="expandViewer()">
  </app-draft>

      

