.mat-mdc-icon-button{
    font-size: 14px;
}

.mat-mdc-form-field-infix{
    width: min-content;
}

.detail-sidebars{
    padding: 16px;
    flex: 0 0 200px;
    display: flex;
    overflow: scroll;
    flex-direction: column;

}


.active{
    color: #ff4081;
}


.detail_title{
    text-align:center;
    width: 260px;

}

.topbar_items{
    flex: 1 1 auto;
}


a.help{
    width: 80% !important;
    margin: 10%;
    border: thin solid #ff4081 !important;
    color: #ff4081;
    padding: 8px;
    text-align: center;

}



.tool-chunk{
    display: flex;
    flex-direction: column;
    width: 42px;
}

h1{
    transform: rotate(-90deg);
    color: #3f51b5;
    font-weight: bold;
    overflow: hidden;
  }



.viewers{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 60vw;
}

.design-container{
    display: flex;
    height: 100%;
    flex-direction: row;
    background-color: white;
    color:  #3f51b5;
    overflow: hidden;
}

.detail_data{
    width: 100%;
    min-height: 33vh;
    padding: 18px;

    
}

#draft_viewer{
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    height: 100%;
    overflow: scroll;
  }

.draft-container{
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
    height: 100%;
}

.locked_draft{
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mat-form-field{
    width: 100%;
}


.mat-expansion-panel-header{

    i{
        padding-right: 8px;
    }
}

.fullwidth{
    width: 100%;
}

.set_repeats{
    margin-top: 15px;
}


.tool-chunk{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h3{
        width: 100%;
    }
}
  

.editing-mode-toggle{
    width: 100%;
    padding-bottom: 16px;
}


.slider{
    display: flex;
    flex-direction: column;
}

.menu-button{
    background-color: #f0f0f0;
    margin: 2px;

    &.is-active{
        background-color:  #ff4081 ;
      }
}

.swatch{
    width: 9px;
    height: 9px;
    margin-right: 4px;
    display: inline-block;
    border: thin solid grey;
}

.menu-item{
    font-style: inherit;
    display: inline-block;
    padding-left: 12px;
    font-weight: inherit;
}





