.featureCard {
    display: flex;
    flex-direction: row;
    margin: 1em;
    color: var(--ifm-color-content);

}

.featureContainer {
    display: flex;
    flex-direction: row;
    height: max-content;
}


.cardLeft {
    flex: 0 0 250px;
    overflow: hidden;
    display: flex;
    align-items: center;

    a {
        width: 100%;
        height: 100%;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

}

.cardRight {
    flex: 1 1 auto;
    margin: 1em;
}

.desc {
    line-height: normal;
    font-size: 1.3em !important;
}

.titleDesc {
    padding-bottom: 1em;
}

.operations {}

.opLinks {
    display: flex;
    flex-direction: row;
    gap: 3px;
    flex-wrap: wrap;
}