

.connection-container{
    position: absolute;
    //pointer-events:none;
}

button{
    position: absolute;
    font-size: .5em;
    color: black;
    pointer-events:all;
}

.hidden{
    display: none;
}

