.file-input-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    margin-top: 16px;
    margin-bottom: 8px;
}

.mat-mdc-form-field {
    width: 100%;
}