/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

 @keyframes playful{

  from {
    background-position-x: 0px;
  }

  to {
    background-position-x: 1500px;
  }

 }

.heroBanner {
  animation-name: playful;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction:alternate-reverse;
  background-size: 2500px 324px;
  animation-timing-function: linear;
  background-image: url('/img/WebBackground.png');

  /* background-image:
    linear-gradient(to right, grey 1px, transparent 1px),
    linear-gradient(to bottom, grey 1px, transparent 1px); */
  padding: 4rem 0;
  text-align: left;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  padding: 4px;
  align-items: left;
  justify-content: left;
}

