.welcome {
    padding: 24px 24px 0px 24px;
}

.welcome-options {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

h1 {
    font-size: 2em;
}

h2 {
    color: rgba(0, 0, 0, .54);
    padding-bottom: 12px;
}

h3 {
    font-size: 1.5em;
    padding-top: 40px;
    font-weight: bold;
}

h4 {
    padding: 0px;
    margin: 0px;
    line-height: 40px;

}

.desc {
    font-size: .8em;
    padding: 0px;
    margin: 0px;
}

.filebrowser {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-y: scroll;

}


.browser_list {
    display: flex;
    flex-direction: column;
    // overflow-y: scroll;
}


.folder {
    display: flex;
    flex-direction: column;
}

.lastviewed {
    flex: 0 1 20%;
    justify-content: flex-end;

}

.filename {
    text-align: left;
    justify-content: flex-start;
    flex: 1 1 50%;
}



.file-item-block {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border-bottom: thin dotted grey;
    align-items: flex-start;
    padding: 8px 0px;
    gap: 12px;

}

.current {
    color: #ff4081;
}


.actions {
    flex: 0 1 20%;
    display: flex;
    justify-content: center;
    flex-direction: row;

    i {
        font-size: .6em;
    }
}




// .mat-list-item-content{
//     width: 100%;
// }

.timestamp {
    position: relative;
    left: 16px;
    padding: 4px 0px;
}

.details {
    width: inherit;
    display: flex;
    flex: 2 2 75%;
    flex-direction: column;
}

.accent {
    color: #ff4081;
}