h2{
    color: rgba(0,0,0,.54);
    padding-bottom: 12px;
}

h3{
    font-size: 1em;
    padding-top: 40px;
    font-weight: bold;
}

.filebrowser{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: max-content;
}


.folder{
    display: flex;
    flex-direction: column;
}

.lastviewed{
    width: 30%;
    text-align: left;
}

.filename{
    width: 30%;
    text-align: left;
    text-wrap: pretty;
}


.file-item-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.current{
    color: #ff4081;
}


.mat-mdc-form-field{
    width: 100%;
}

.actions{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    
    i{
        font-size: .6em;
    }
}




// .mat-list-item-content{
//     width: 100%;
// }

.timestamp{
    position: relative;
    left: 16px;
    padding: 4px 0px;
}

.details{
    width: inherit;
    display: flex;
    flex: 2 2 75%;
    flex-direction: column;
}

.accent{
    color:#ff4081;
}

