<p mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  @if (data.type=='load') {
  <span>Manage Saved Files</span>
  }
  @if (data.type=='manage') {
  <span>Manage Saved Files</span>
  }
</p>


@if (data.type=='welcome') {
<div class="welcome">
  <h1>Welcome back</h1>
  <h2>Where would you like to start?</h2>
  <div class="welcome-options">
    <button mat-raised-button mat-dialog-close (click)="openMostRecent()">Open your most recent file</button>
    <button mat-raised-button mat-dialog-close>Start a blank file</button>
    <button mat-raised-button mat-dialog-close>Close this Window</button>
    <h2>Or, select a file below</h2>
  </div>
</div>
}

<mat-dialog-content>


  @if (!has_db_connection) {
  Saved files cannot be accessed because you are offline.
  }


  <!-- Combined File List -->
  <div class="browser_list">
    <div class="file-item-block header">
      <div class="shared">
        <button mat-button (click)="changeSort('shared')" [class.active]="sortBy === 'shared'">
          Shared
          @if (sortBy === 'shared') {
          <i class="fas fa-sort-{{sortOrder === 'asc' ? 'up' : 'down'}}"></i>
          }
        </button>
      </div>
      <div class="filename">
        <button mat-button (click)="changeSort('name')" [class.active]="sortBy === 'name'">
          Name
          @if (sortBy === 'name') {
          <i class="fas fa-sort-{{sortOrder === 'asc' ? 'up' : 'down'}}"></i>
          }
        </button>
      </div>
      <div class="lastviewed">
        <button mat-button (click)="changeSort('date')" [class.active]="sortBy === 'date'">
          Date
          @if (sortBy === 'date') {
          <i class="fas fa-sort-{{sortOrder === 'asc' ? 'up' : 'down'}}"></i>
          }
        </button>
      </div>
      <div class="actions">
        Actions
      </div>
    </div>

    @for (file of all_files; track file.id) {
    <div class="file-item-block" [class.current]="file.id == currently_open_id"
      [class.shared]="file.fileType === 'shared'">
      <div class="shared">
        @if (file.fileType === 'shared') {
        <button mat-raised-button (click)="copyToClipboard(file.id)"><i class="fa-solid fa-link"></i></button>
        }
      </div>
      <div class="filename">
        @if (rename_mode_id == file.id && file.fileType === 'user') {
        <mat-form-field appearance="outline" [formGroup]="renameForm">
          <mat-label>Rename Workspace</mat-label>
          <input matInput color="accent" formControlName="fileName" placeholder="Filename">
          <button matSuffix mat-icon-button [class.primary]="file.id == currently_open_id" (click)="rename(file.id)">
            <i class="fas fa-save"></i></button>
        </mat-form-field>
        }
        @if (rename_mode_id !== file.id || file.fileType === 'shared') {
        <div class="file-name-container">

          <h4>{{file.displayName}}</h4>
          @if (file.fileType === 'shared' && file.desc) {
          <p class="desc">{{file.desc}}</p>
          }
        </div>
        }
      </div>

      <div class="lastviewed">
        @if (file.id == currently_open_id) {
        <span class="opened-indicator">opened</span>
        } @else {
        {{file.displayDate}}
        }
      </div>

      <div class="actions">
        @if (file.fileType === 'user') {
        <button mat-raised-button [matMenuTriggerFor]="userMenu">
          <i class="fa-solid fa-ellipsis"></i>
        </button>
        <!-- User File Menu -->
        <mat-menu #userMenu="matMenu">
          <button [disabled]="file.id == currently_open_id" mat-menu-item (click)="openFile(file.id)">
            <i class="fas fa-folder-open"></i> open
          </button>
          <button mat-menu-item (click)="rename(file.id)">
            <i class="fas fa-edit"></i> rename
          </button>
          <button mat-menu-item (click)="duplicate(file.id)">
            <i class="fas fa-copy"></i> make a copy
          </button>
          <button mat-menu-item (click)="shareWorkspace(file.id)">
            <i class="fa-solid fa-share-nodes"></i> share
          </button>
          <button mat-menu-item matTooltip="download" (click)="exportWorkspace(file.id)">
            <i class="fa-solid fa-download"></i> download file
          </button>
          <button mat-menu-item [disabled]="file.id == this.ws.current_file.id" [matMenuTriggerFor]="deleteConfirm">
            <i class="fa-solid fa-trash"></i> delete
          </button>
        </mat-menu>
        }
        @if (file.fileType === 'shared') {
        <button mat-raised-button [matMenuTriggerFor]="sharedMenu">
          <i class="fa-solid fa-ellipsis"></i>
        </button>
        <!-- Shared File Menu -->
        <mat-menu #sharedMenu="matMenu">
          <button mat-menu-item (click)="openFile(file.id)">
            <i class="fas fa-folder-open"></i> open file
          </button>
          <button mat-menu-item (click)="editSharedFile(file.id)">
            <i class="fas fa-edit"></i> edit sharing settings
          </button>
          <button mat-menu-item (click)="copyToClipboard(file.id)">
            <i class="fa-solid fa-link"></i> copy link
          </button>
          <button mat-menu-item matTooltip="download" (click)="exportSharedWorkspace(file.id)">
            <i class="fa-solid fa-download"></i> download file
          </button>
          <button mat-menu-item [matMenuTriggerFor]="stopShareConfirm">
            <i class="fa-solid fa-link-slash"></i> stop sharing
          </button>
        </mat-menu>


        }







        <!-- Confirmation Menus -->
        <mat-menu #deleteConfirm>
          <button mat-flat-button (click)="remove(file.id)">
            Are you sure?
          </button>
        </mat-menu>

        <mat-menu #stopShareConfirm>
          <button mat-flat-button (click)="unshare(file.id)">
            Are you sure?
          </button>
        </mat-menu>
      </div>
    </div>
    }
  </div>




  <!-- HEADER ROW -->



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>