<p mat-dialog-title cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle>
  @if (data.type=='load') {
  <span>Manage Saved Files</span>
  }
  @if (data.type=='manage') {
  <span>Manage Saved Files</span>
  }
</p>

{{data.type}}

@if (data.type=='welcome') {
<div class="welcome">
  <h1>Welcome back</h1>
  <h2>Where would you like to start?</h2>
  <div class="welcome-options">
    <button mat-raised-button mat-dialog-close (click)="openMostRecent()">Open your most recent file</button>
    <button mat-raised-button mat-dialog-close>Start a blank file</button>
    <button mat-raised-button mat-dialog-close>Close this Window</button>
    <h2>Or, select a file below</h2>
  </div>
</div>
}

<mat-dialog-content>


  @if (!has_db_connection) {
  Saved files cannot be accessed because you are offline.
  }


  @if (shared_files.length > 0) {
  <div class="shared_files">

    <mat-expansion-panel expanded>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Your Shared Files
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="browser_list">
        <div class="file-item-block">
          <div class="filename">
            Name
          </div>
          <div class="actions">
            Actions
          </div>
        </div>

        @for (file of shared_files; track file) {
        <div class="file-item-block">
          <div class="filename">
            <h4> {{file.filename}}</h4>
            <p class="desc">{{file.desc}}</p>
          </div>
          <div class="lastviewed">
            <button mat-raised-button (click)="copyToClipboard(file.id)"><i class="fa-solid fa-link"></i></button>
          </div>
          <!-- <div *ngIf="(file.id == this.files.current_file_id && !rename_mode)"  class="lastviewed">last saved at: {{last_saved_time}} </div> -->
          <div class="actions">
            <button mat-raised-button [matMenuTriggerFor]="shared_menu"><i class="fa-solid fa-ellipsis"></i></button>
            <mat-menu #shared_menu="matMenu">
              <button mat-menu-item (click)="openFile(file.id)"><i class="fas fa-folder-open"></i> open file
              </button>
              <button mat-menu-item (click)="editSharedFile(file.id)"><i class="fas fa-edit"></i> edit sharing settings
              </button>
              <button mat-menu-item matTooltip="download" (click)="exportSharedWorkspace(file.id)">
                <i class="fa-solid fa-download"></i> download file
              </button>
              <button mat-menu-item [matMenuTriggerFor]="stopShareConfirm">
                <i class="fa-solid fa-link-slash"></i> stop sharing
              </button>
            </mat-menu>
            <mat-menu #stopShareConfirm>
              <button mat-flat-button (click)="unshare(file.id)">
                Are you sure?
              </button>
            </mat-menu>
            <mat-menu #deleteConfirm>
              <button mat-flat-button (click)="remove(file.id)">
                Are you sure?
              </button>
            </mat-menu>
          </div>
        </div>
        }
      </div>


    </mat-expansion-panel>


  </div>
  }

  <mat-expansion-panel expanded>
    <mat-expansion-panel-header>
      <mat-panel-title>
        All Files
      </mat-panel-title>
    </mat-expansion-panel-header>

    <div class="browser_list">
      <div class="file-item-block">
        <div class="filename">
          Name
        </div>
        <div class="lastviewed">
          Last Viewed
        </div>

        <div class="actions">
          Actions
        </div>
      </div>



      @for (file of user_files; track file) {
      <div class="file-item-block" [class.current]="file.id == currently_open_id">
        <div class="filename">

          <!-- @if (rename_mode_id == file.id) {
          <mat-form-field appearance="outline" [formGroup]="renameForm">
            <mat-label>Rename Workspace {{file.id}}</mat-label>
            <input matInput color="accent" formControlName="fileName" placeholder="Filename">
            <button matSuffix mat-icon-button [class.primary]="file.id == currently_open_id" (click)="rename(file.id)">
              <i class="fas fa-save"></i></button>
          </mat-form-field>
          } -->

          <h4> {{file.meta.name}} {{file.id}}</h4>



        </div>
        @if (file.id == currently_open_id) {
        <div class="lastviewed"> opened </div>
        }
        @if (file.id !== currently_open_id) {
        <div class="lastviewed"> {{file.meta.date}} </div>
        }
        <!-- <div *ngIf="(file.id == this.files.current_file_id && !rename_mode)"  class="lastviewed">last saved at: {{last_saved_time}} </div> -->
        <div class="actions">
          <button mat-raised-button [matMenuTriggerFor]="menu"><i class="fa-solid fa-ellipsis"></i></button>
          <mat-menu #menu="matMenu">
            <button [disabled]="file.id ==currently_open_id" mat-menu-item (click)="openFile(file.id)"><i
                class="fas fa-folder-open"></i> open
            </button>
            <button mat-menu-item (click)="rename(file.id)"><i class="fas fa-edit"></i> rename
            </button>
            <button mat-menu-item (click)="duplicate(file.id)"><i class="fas fa-copy"></i> make a copy
            </button>
            <button mat-menu-item (click)="shareWorkspace(file.id)">
              <i class="fa-solid fa-share-nodes"></i> share
            </button>
            <button mat-menu-item matTooltip="download" (click)="exportWorkspace(file.id)">
              <i class="fa-solid fa-download"></i> download file
            </button>
            <button mat-menu-item [disabled]="file.id ==this.ws.current_file.id" [matMenuTriggerFor]="deleteConfirm">
              <i class="fa-solid fa-trash"></i> delete
            </button>
          </mat-menu>
          <mat-menu #deleteConfirm>
            <button mat-flat-button (click)="remove(file.id)">
              Are you sure?
            </button>
          </mat-menu>
        </div>
      </div>
      }




      <!-- <mat-divider></mat-divider> -->
      <!-- <h2>Publicly Shared Files</h2> -->





      <!-- <div mat-line>filder name | <i class="fa-solid fa-folder"></i><i class="fa-solid fa-folder"></i></div> -->


      <!-- <mat-list-item *ngFor="let folder of folders">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div mat-line>{{folder.name}}</div>
          <div mat-line> {{folder.updated | date}} </div>
        </mat-list-item> -->

    </div>

  </mat-expansion-panel>




  <!-- HEADER ROW -->



</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>