div{
    position: absolute;
    top: 0;
    left: 0;
    width: 5000px;
    height: 5000px;
    background:#cccccc;
    z-index: -1;
}


canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 5000px;
    height: 5000px;
    overflow: scroll;
}

.no-pointer{
    pointer-events: none;
}