@use '@angular/material' as mat;


.view-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include mat.toolbar-overrides((standard-height: 54px));

}



.mat-mdc-icon-button {
  font-size: 14px;
  position: relative;
  top: 0px;
}

.mat-button-toggle-appearance-standard {
  font-size: 14px;
  color: white;
  background-color: #3f51b5;
}

.toggle {
  line-height: 10px;
}

.copypaste {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 14px;
  flex: 1 1;
  align-items: center;
  overflow: hidden;

}

.library-container {
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  padding: 16px;
  overflow: scroll;
  flex-direction: column;
}


.filename {
  height: 30px;
  background: whitesmoke;
  border: thin solid #3f51b5;
  margin: 0px 8px 0px 0px;
  border-radius: 3px;
  color: #3f51b5;
}



.header-container {


  display: flex;
  flex-direction: column;
  flex: 0 1 54px;
  background-color: #3f51b5;
  overflow: hidden;
  position: fixed;
  width: 100%;

}

.view-adjust-overlay {
  height: 100%;
  width: 1px;
  position: absolute;
}

.ui-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;

}

.ui-right {
  display: flex;
  flex-direction: column;
}


.ui-grid {
  position: relative;
  top: 54px;
  height: calc(100vh - 54px);
  display: flex;
  background: white;
  flex-direction: row;
  align-items: stretch;
}


.mixer-container {


  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  overflow: hidden;
  height: 100%;

}

.detail-container {
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  background-color: #f0f0f0;
  overflow: hidden;
}

.static-container {
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
  background-color: whitesmoke;

  &.collapsed {
    flex: 0 1 40px;
  }

}

.toggle {
  font-size: .5em;



}

.download {
  width: 18vw;
}



.topbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #3f51b5;

  @include mat.button-toggle-overrides((background-color: #3f51b5,
      disabled-selected-state-background-color: #3f51b5,
      selected-state-background-color: white,
      height: 40px));


}

.footer-container {
  border-top: thin solid #3f51b5;
  color: #3f51b5;
  position: fixed;
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  flex-direction: row;
  top: calc(100vh - 54px);
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0px 16px;
}


.footer-left {
  display: flex;
  overflow: hidden;
  flex: 1 1;
  align-items: center;

  button {
    color: #3f51b5;
  }
}

.footer-center,
.footer-right {
  font-size: 14px;
  display: flex;
  flex: 0 1;
  gap: 8px;
  align-items: center;

}

.design_mode {
  margin-right: 12px;
}

.topbar-button-group {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}



.active {
  color: #ff4081;
}


.offline {
  font-size: .6em;
}


.selected,
.active {
  opacity: .9;
}