<!--The content below is only a placeholder and can be replaced.-->

<appKeycodes
  (onUndo)="undo()"
  (onRedo)="redo()"
  (updateMixerView)="updateMixerView($event)"
  (updateDetailView)="detailViewChange()"
  (onCopySelections)="onCopySelections()"
  (onPasteSelections)="onPasteSelections()"
>
</appKeycodes>

<div class="view-window">

  <div *ngIf="!ui.fullscreen" class="header">
    <div id="logo" class="logo"></div>

    <div class="header-content">
    <mat-toolbar class="topbar">
      <div class="topbar-button-group">
        <span>AdaCAD</span>
        
        <button mat-button [matMenuTriggerFor]="file">File</button>

        <mat-menu #file="matMenu">
          <button mat-menu-item (click)="loadBlankFile()">New Workspace</button>
          <button mat-menu-item [matMenuTriggerFor]="openFile">Open File</button >
          <button mat-menu-item>Save</button>
          <button mat-menu-item>Import</button>
          <button mat-menu-item>Export</button>
          <button mat-menu-item>About</button>
        </mat-menu>
        
        <mat-menu #openFile="matMenu">
          <button mat-menu-item>From Computer</button>
          <button mat-menu-item >From AdaCAD Cloud</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="edit">Edit</button>
        <mat-menu #edit="matMenu">
          <button mat-menu-item>Undo (ctrl-z)</button>
          <button mat-menu-item >Redo</button>
          <button mat-menu-item >Select</button>
          <button mat-menu-item >Copy</button>
          <button mat-menu-item >Paste</button>
          <button mat-menu-item >Add Blank Draft</button>
          <button mat-menu-item >Add Operation</button>
          <button mat-menu-item >Add Comment</button>
        </mat-menu>

        <button mat-button [matMenuTriggerFor]="settings">Settings</button>
        <mat-menu #settings="matMenu">
          <button mat-menu-item>Origin</button>
          <button mat-menu-item >Default Loom Type</button>
          <button mat-menu-item >Default Density Units</button>
          <button mat-menu-item >Default Density</button>
          <button mat-menu-item >Optimize for Device</button>
        </mat-menu>
        <button mat-button>Materials</button> <!-- open as modal -->
        <button mat-button>Examples</button> <!-- open as modal --> 
      </div>
      
      <div class="topbar-button-group">
        <div class="auth" *ngIf="(auth.showLogoutButton)">
          <span class="loggedInUserName">Hi {{auth.username}} </span>
          <a mat-icon-button matTooltip="logout" (click)="logout()"><i class="fa fa-sign-out"></i></a>
        </div>

        <div *ngIf="!auth.isLoggedIn">
          <button mat-stroked-button class="example-full-width login" matTooltip="login" (click) = "openLoginDialog()"><i class="fa fa-sign-in"></i> Log in</button>
        </div>
      </div>
      
      </mat-toolbar>



          <!-- Open Files List-->
      <div class="filelist">
        <div class="fileitem" *ngFor="let tab of open_files; index as index;">
          <button mat-button >{{tab.name}} </button>
            <button mat-button >x</button>
        </div>
        <button class="addfile" mat-button >+</button>
      </div>
    </div>
</div>


      <div class="ui-grid">


        <div class="mixer" id="mixer" [class.hasFocus]="ui.main=='mixer'" [class.isSide]="ui.main!='mixer'">
          <div class="view-controls" [class.main]="ui.main=='mixer'" [class.fullscreen]="ui.fullscreen">
            <span> dataflow</span>

          <button *ngIf="ui.fullscreen" mat-button (click)="collapseFullScreen()">
            <i  class="fa-solid fa-minimize"></i></button> 
          <button *ngIf="!ui.fullscreen" mat-button (click)="focusUIView('mixer', false)">
            <i class="fa-solid fa-maximize"></i></button>
          </div>
          
      <app-mixer class="app-mixer" 
      #mixer
      [hasFocus]="ui.main == 'mixer'"  
      (onDraftDetailOpen)="showDraftDetails($event)"
       >
      </app-mixer> 
    </div>

        <div class="detail" id="detail"  [class.hasFocus]="ui.main=='detail'" [class.isSide]="ui.main!='detail'">
          <div class="view-controls" [class.main]="ui.main=='detail'" [class.fullscreen]="ui.fullscreen">
            <span>draft</span>

            <button *ngIf="ui.fullscreen" mat-button (click)="collapseFullScreen()">
              <i  class="fa-solid fa-minimize"></i></button> 
            <button *ngIf="!ui.fullscreen" mat-button  (click)="focusUIView('detail', false)">
              <i class="fa-solid fa-maximize"></i></button>
            </div>

            <app-draftdetail id="detail_viewer"
            #details 
            [hasFocus]="ui.main == 'detail'"  
            (saveChanges)="saveFile()"
            (closeDrawer)="closeDetailViewer($event)"></app-draftdetail>
        </div>


      
      <div class="sim" id="sim"  [class.hasFocus]="ui.main=='sim'" [class.isSide]="ui.main!='sim'">
        <div class="view-controls" [class.main]="ui.main=='sim'" [class.fullscreen]="ui.fullscreen">
          <span> simulation</span>

          <button *ngIf="ui.fullscreen" mat-button (click)="collapseFullScreen()">
            <i  class="fa-solid fa-minimize"></i></button> 
          <button *ngIf="!ui.fullscreen" mat-button  (click)="focusUIView('sim', false)">
            <i class="fa-solid fa-maximize"></i></button>
          </div>

    <app-simulation id="sim_viewer" 
    [hasFocus]="ui.main == 'sim'"  
      [id]="active_file"
      >
      </app-simulation>
       </div>


        
      </div>





</div>




  
