


.view-window{
  display: flex;
  flex-flow: column;
  height: 100%;
}

#logo{
  width: 60px;
  margin: 20px;
}

.logo {
  display: block;
  opacity: .5;
  background: url(../assets/svg/logo.svg);
  background-position: center;
  /* background-position-y: center; */
  background-size: 60px 60px;
}

.header-content{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.header{
  display: flex;
  flex-direction: row;
  flex: 0 1 auto;
  background-color: #3f51b5;
}

.topbar{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #3f51b5;
  
}

.ui-grid{
    display: flex;
    flex: 1 1 auto;
    justify-content: space-around;
    flex-flow: column wrap;
    background-color: aqua;
    overflow: hidden;
  }
  
  .mixer{
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: red;
    overflow: scroll;
    height: 100%;
    width: 67%;
    flex: 1 1 auto;

  }

  .view-controls{
    position: fixed;
    z-index: 4;
    width: 33%;
    justify-content: end;
    display: flex;
    padding-right: 8px;

    span{
      display: block;
      font-size: .8em;
      font-style: italic;
      height: 100%;
      line-height: 36px;
    }
  }

  .main{
    width: 67%;
  }

  .hasFocus{
    border-right: thin solid grey;
  }

  .isSide{
    border-bottom: thin solid grey;

  }

  .fullscreen{
    width: 100%;
  }
  .app-mixer{
    display: flex;
  }

  .sim{
    display: block;
    background-color: #f0f0f0;
    overflow: scroll;
    height: 50%;
    width: 33%;
    flex: 1 1 auto;



  }

  .detail{
    display: flex;
    flex-direction: column;
    background-color: green;
    overflow: scroll;
    height: 50%;
    width: 33%;
    flex: 1 1 auto;



  }

  #draftdetail{
    display: flex;
    flex: 1 1 auto;
    background-color: #f0f0f0;

  }

  #sim_viewer{
    display: flex;
  }

  .filelist{
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    background-color: #3f51b5;
    color: white;

  }

  .fileitem{
    margin: 0 1px;
    background-color: white;
    opacity: .5;
    color: #3f51b5;

  }

  .selected{
    opacity: .9;
  }
  