
.view-container{
  display: flex;
  flex-direction: column;
  align-items: stretch;
}


.header-container{
  display: flex;
  flex-direction: column;
  flex: 0 1 64px;
  background-color: #3f51b5;
  overflow: hidden;

}

.ui-grid{
  display: flex;
  background: white;
  flex: 1 1 calc(100vh - 128px);
  flex-direction: row;
  overflow: hidden;
  align-items: stretch;
}


.footer-container{
  display: flex;
  flex-direction: row;
  flex: 0 1 64px;
  background-color: #3f51b5;
  justify-content: space-between;
}



.detail-container{
  display: flex;
  flex: 0 1 80%;
  flex-direction: row;
  background-color: #f0f0f0;
  overflow: hidden;
}

.static-container{
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex: 0 1 20%;
  overflow: scroll;

}





.topbar{
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #3f51b5;
  
}


  .mixer{
    display: none;
    background-color: #f0f0f0;
    height: 100%;
    flex: 1 1 auto;

  }

  .view-controls{
    position: fixed;
    z-index: 4;
    width: 33%;
    justify-content: end;
    display: flex;
    padding-right: 8px;

    span{
      display: block;
      font-size: .8em;
      font-style: italic;
      height: 100%;
      line-height: 36px;
    }
  }

  .main{
    width: 66%;
  }




  .side_views{
    width: 20%;
    padding: 16px;
    display: flex;
    flex-direction: column;
    background: #f0f0f0;

    .mat-card{
      flex: 1 1 auto;
      overflow: hidden;
      margin-bottom: 16px;
      height: 30%;
    }

  }

  .mat-card-title{
    font-size: .8em;
  }


  .fullscreen{
    width: 100%;
  }
  .app-mixer{
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 100%;
  }

  .sim{
    display: flex;
    background-color: #f0f0f0;
    overflow: scroll;
    flex: 1 1 auto;



  }

  .detail{
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0;
    height: 100%;
    width: 100%;
    flex: 1 1 auto;



  }


  .active{
    color: #ff4081;
  }

  #sim_viewer{
    display: flex;
  }

  .filelist{
    display: flex;
    flex-direction: row;
    flex-wrap: row;
    background-color: #3f51b5;
    color: white;

  }

  .fileitem{
    margin: 0 1px;
    background-color: white;
    opacity: .5;
    color: #3f51b5;



  }

  .offline{
    font-size: .6em;
  }


  .selected,
  .active{
    opacity: .9;
  }
  