@use '@angular/material' as mat;

.mat-button-toggle-group {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
}


.new-draft-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.draft_tools {

    .mat-expansion-panel-header {
        padding: 8px 8px 8px 12px;
        line-height: 12px;
        background-color: #333333;
        color: #ffffff;
        line-height: 36px;

    }

    ::ng-deep .mat-expansion-panel-body {
        padding: 12px;
    }

    @include mat.expansion-overrides((header-focus-state-layer-color: #ff4081,
            header-hover-state-layer-color: #333333,
            container-background-color: white,
            header-text-color:white,
            header-expanded-state-height: 24px,
            header-collapsed-state-height: 36px));



}

.detail-sidebars {


    // @include mat.expansion-overrides((actions-divider-color: orange,
    //         container-background-color: red,
    //     ));
}


.editor-scale-container {
    display: flex;
    transform-origin: left top;
}

.current_copy {
    width: 100%;
    display: flex;
    max-height: 200px;
    overflow: scroll;
    flex-direction: column;
    gap: 8px;
    display: none;

    &.hasCopy {
        display: flex;
    }
}


.select {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.detail-sidebars {
    padding: 16px;
    flex: 0 0 275px;
    display: flex;
    overflow-y: auto;
    overflow-x: hidden;
    flex-direction: column;
    position: relative;
    transition: flex 0.3s ease;
    height: 100%;
    max-height: 100vh;
}

.draft-edit-mode-drawdown {
    width: 49%;
    height: 40px;
    background: url(/../../../../assets/svg/draft_edit_drawdown.svg);
    background-repeat: no-repeat;
    background-size: 28px 28px;
    background-position-y: center;
    background-position-x: center;
}

.draft-edit-mode-loom {
    display: block;
    width: 49%;
    height: 40px;
    background: url(/../../../../assets/svg/draft_edit_loom.svg);
    background-size: 28px 28px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}

.draw_modes_group {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.draw_mode_button {
    background-color: #f0f0f0;
    margin: 2px;
    flex: 1 1 auto;
}

.new_draft {
    width: 100%;
    background-color: white;
}


.active {
    color: #ff4081;
}


.detail_title {
    text-align: center;
    width: 260px;

}

.topbar_items {
    flex: 1 1 auto;
}


a.help {
    width: 80% !important;
    margin: 10%;
    border: thin solid #ff4081 !important;
    color: #ff4081;
    padding: 8px;
    text-align: center;

}



.tool-chunk {
    display: flex;
    flex-direction: column;
    width: 42px;
}

h1 {
    transform: rotate(-90deg);
    color: #3f51b5;
    font-weight: bold;
    overflow: hidden;
}



.viewers {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    width: 60vw;
}

.draft_tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.draft_tool_button {
    flex: 1 1 100%;
    margin: 2px;

}

.design-container {
    display: flex;
    height: 100%;
    flex-direction: row;
    background-color: white;
    color: #3f51b5;
    overflow: hidden;
}

.detail_data {
    width: 100%;
    min-height: 33vh;
    padding: 18px;


}

.draft-style-info-button {
    font-size: 12px;
}

#draft_viewer {
    display: flex;
    flex: 0 1 100%;
    flex-direction: row;
    height: 100%;
    overflow: scroll;
}

.draft-container {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    width: 100%;
    max-height: 100vh;


}

.locked_draft {
    padding: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mat-form-field {
    width: 100%;
}


.mat-expansion-panel-header {

    i {
        padding-right: 8px;
    }
}

.fullwidth {
    width: 100%;
}

.set_repeats {
    margin-top: 15px;
}


.tool-chunk {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    h3 {
        width: 100%;
    }
}

.is-active {
    font-weight: bold;
    color: #ff4081;
}

.draw {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;


    .add-materials-button {
        color: grey;
        font-size: 12px;

    }

}

.design-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 5px;


    .paste {
        margin-right: 100px;
    }
}

.selection_status {
    background-color: #ff4081;
    border-radius: 4px;
    color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.select {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.select-button {
    width: 100%;
}

.editing-mode-toggle {
    width: 100%;
    padding-bottom: 16px;



    // Customize the entire app. Change :root to your selector if you want to scope the styles.

    @include mat.button-toggle-overrides((state-layer-color: whitesmoke,
            selected-state-background-color: #ff4081,
            selected-state-text-color: white,
        ));


}


.slider {
    display: flex;
    flex-direction: column;
}

.menu-button {
    background-color: #f0f0f0;
    margin: 2px;

    &.is-active {
        background-color: #ff4081;
    }
}

.swatch {
    width: 9px;
    height: 9px;
    margin-right: 4px;
    display: inline-block;
    border: thin solid grey;
}

.menu-item {
    font-style: inherit;
    display: inline-block;
    padding-left: 12px;
    font-weight: inherit;
}