p{
	font: 100;
	font-style: italic;
	width: 80%;
	padding-bottom: 8px;
	padding-left:8px;
}


.preloaded_files{
	display: flex;
	flex-direction:column;
}

.preloaded_files .mat-card{
	width: 90%;
	margin: 10px 5%;
}

.mat-card-title{
	display: flex;
	justify-content: space-between;
}
