
.preloaded_files{
	display: flex;
	flex-direction:row;
	width: 100%;
	flex-wrap: wrap;

}

.preloaded_files .mat-card{
	width: 30%;
	margin: 8px;
}


.mat-card-title{
	display: flex;
	justify-content: space-between;
}
