
.preloaded_files{
	display: flex;
	flex-direction:row;
	width: 100%;
	flex-wrap: wrap;

}

<<<<<<< HEAD
.preloaded_files .mat-card{
	width: 30%;
	margin: 8px;
}


.mat-card-title{
=======
.preloaded_files .mat-mdc-card{
	width: 90%;
	margin: 10px 5%;
}

.mat-mdc-card-title{
>>>>>>> main
	display: flex;
	justify-content: space-between;
}
