@use '@angular/material' as mat;





.draft-info-card-container {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    text-align: center;
    transition: box-shadow 0.2s, transform 0.2s;
    cursor: pointer;
    position: relative;
    align-items: flex-start;
    height: 300px;
    max-width: 300px;

    &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transform: translateY(-2px);
    }

    @include mat.form-field-overrides((container-text-size: 12px,
            subscript-text-line-height: 0px,
            container-text-line-height:12px,
            container-height: 15px,
            filled-with-label-container-padding-bottom: 0px));







    .mdc-text-field--no-label,
    .mat-mdc-form-field-infix,
    .mdc-text-field,
    .mdc-text-field--filled {
        padding: 0px !important;
        width: 100% !important;


    }

    ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }
}

.draft-info-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    width: 100%;
    font-weight: bold;
    font-size: 12px;
    align-items: center;




    @include mat.form-field-overrides((filled-container-color: #333,
            filled-input-text-color: #fff,
            container-text-weight:bold));
}

.draft-info-card-header-name {
    font-weight: bold;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
    flex: 1 1 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.draft-info-card-header-select {
    flex: 0 1 20%;
}

.draft-info-card-body {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: whitesmoke;
}

.draft-info-card-body-input-list {
    width: 46px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    margin: 4px 2px;
    border-right: 1px solid #999;
}


.input-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.image_map_input_icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 8px;
    border: 1px solid white;
}

.dynamic_input_icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    font-size: 18px;
    line-height: 40px;
    background-color: white;
    color: black;
    text-align: center;
}

.input-list-item-op-name {
    font-size: 8px;
    width: 40px;
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
    border-radius: 2px;
    color: white;
}

.draft-info-card-main {

    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 2px;
}

.draft-info-card-body-rendering-and-notes {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
}

.draft-info-card-body-rendering {
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    overflow: scroll;
}

.draft-info-card-body-notes {
    width: 90px;
    height: 90%;
    overflow-y: scroll;
    padding: 4px 2px;

    @include mat.form-field-overrides((container-text-size: 12px,
            container-text-line-height:12px));



    .mat-mdc-form-field {
        padding: 0px !important;
        width: 100px !important;
        font-size: 12px !important;
    }

    ::ng-deep .mdc-floating-label {
        font-size: 12px;

    }

}

.draft-data {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 2px;
    align-items: center;
}

.dims,
.density,
.warp_systems,
.weft_systems {
    font-size: 12px;
    line-height: 14px;
    flex: 1 1 25%;


    @include mat.form-field-overrides((container-text-size: 12px,
            container-text-line-height:12px));


    .mat-mdc-form-field {
        padding: 0px !important;
        width: 20px !important;
        height: 20px !important;
        font-size: 12px !important;
    }


}

.draft-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2px;
    align-items: center;
    font-size: 14px;

    .mat-mdc-icon-button {
        font-size: 14px;
    }
}