#selection-container{
    display: flex;
    flex-direction: row;
    z-index: 4;
    position: absolute;
    color: #ff4081;
}

.selection-parent{
    display: flex;
    flex-direction: column;
}

.size-row{
    display: flex;
    flex-direction: row;
    pointer-events: none;
    justify-content: flex-start;
    background: white;
    opacity: 0.8;
    padding: 2px 6px 2px 6px;
}

.selection-actions{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background: white;
    opacity: 0.8;
    pointer-events: all;
}


  span{
      padding-left: 8px;
  }



  
  .menu-button{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
  