#selection-container{
    display: flex;
    flex-direction: column;
    margin: auto;
    height: 62px;
}


.selection-row{
    display: flex;
    flex-direction: row;
    pointer-events: none;
    justify-content: center;
}

.selection-actions{
    display: flex;
    flex-direction: row;
    width: fit-content;
    background: white;
    opacity: 0.8;
    pointer-events: all;
}


  span{
      padding-left: 8px;
  }



  
  .menu-button{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
  