
<div class="toprow">
  <button mat-icon-button (click)="close()"><i class="fas fa-times"></i></button>

  @if (!new_draft) {
    <h2 mat-dialog-title>Open a Workspace</h2>
  }
  @if (new_draft) {
    <h2 mat-dialog-title>Create a Blank Draft</h2>
  }

</div>


<mat-dialog-content>



  <form #initForm="ngForm">




    @if (!new_draft) {
      <mat-form-field appearance="fill">
        <mat-label>Where would you like to begin?</mat-label>
        <mat-select [(value)]="selected" (selectionChange)="selectionMade(selected)">
          @for (opt of opts; track opt) {
            <mat-option [value]="opt.value">
              {{opt.viewValue}}
            </mat-option>
          }
        </mat-select>
      </mat-form-field>
    }

    @if ((selected == 'new') || new_draft) {
      <app-blankdraft
        (onNewDraftCreated)='newDraftCreated($event)'
      ></app-blankdraft>
    }




    @if ((selected == 'ada' || selected == 'bmp' || selected == 'wif' || selected == 'jpg')) {
      <app-loadfile></app-loadfile>
    }

    @if ((selected == 'example')) {
      <app-examples></app-examples>
    }




  </form>


</mat-dialog-content>

