.mat-form-field {
	width:400px !important;
	clear:both;
	display:block;
}

// .mat-card img{
// 	width: 200px;
// 	overflow: hidden;
// }

.preloaded_files{
	display: flex;
	flex-wrap: wrap;
	flex-direction:row;
}

.preloaded_files .mat-card{
	width: 48%;
	margin: 10px 10px 10px 0;
}


.error{
	color: red;
}