<div id="con-{{draft.id}}" class="subdraft-container" [class.is_preview] = "is_preview"
	cdkDrag
	[class.drawing] = "disable_drag && !is_preview"
	[cdkDragDisabled] = "disable_drag"
	[cdkDragFreeDragPosition]="bounds.topleft"
	[cdkDragData]="scale"
	(cdkDragMoved)="dragMove($event)"
	(cdkDragEnded)="dragEnd($event)"
	(cdkDragStarted)="dragStart($event)">



  	<div class="subdraft-contents">


		<canvas id="{{draft.id}}">  
		</canvas>

		
	</div>

	<div class="subdraft-details"> 
		<button 
		xPosition = "start"
		matTooltip= "Filters"
		class="button is-small is-primary fas fa-filter"
		[matMenuTriggerFor]="filters"
		xPosition="after">
		</button>

		<mat-menu #filters="matMenu">

			<ng-container *ngFor="let ink of inks.inks">
			  <button 
			  mat-menu-item
			  [matTooltip]=ink.viewValue
			  [name]=ink.value 
			  [class.is-active]="inks.isSelected(ink.value)"
			  (click)="filterActionChange(ink.value)">
			  {{ink.viewValue}}
			  </button> 
			  </ng-container>  
		 
			

	


		</mat-menu>

		<button 
		matTooltip= "Actions"
		class="button is-small is-primary fas fa-magic"
		[style.color]="button_color" 
		[matMenuTriggerFor]="actions">
		</button>
		
		<mat-menu #actions="matMenu">
		  <ng-container *ngFor="let action of design_actions">
			<button [matTooltip]=action.viewValue 
			 mat-menu-item
			[name]=action.value 
			(click)="designActionChange(action.value)">
			<mat-icon><i class="{{action.icon}}"></i></mat-icon> 
			{{action.viewValue}}
			</button>    
		  </ng-container>
		</mat-menu>


		<button 
		matTooltip= "Fill"
		class="button is-small is-primary fas fa-fill"
		[style.color]="button_color" 
		[matMenuTriggerFor]="fills">
		</button>
		
		<mat-menu #fills="matMenu">
			<ng-container *ngFor="let pattern of patterns">
				<button [matTooltip]=pattern.name 
				mat-menu-item
				[name]=pattern.name 
				(click)="fill(pattern.id)">{{pattern.name }}
				</button>    
			  </ng-container>
		</mat-menu>
	
	
   </div>
</div>
	

