.subdraft-parent-container {
	position: absolute;
	top: 0;
	left: 0;
	min-width: 300px;
	width: fit-content;


}



.topbar {
	width: 100%;
	height: 40px;
	background-color: black;

	&.is_new {
		background-color: #ff4081;
		color: white;
	}
}

.multiselected {

	.from_subdraft {
		border: thick dashed black;
	}
}


.from_subdraft {
	display: flex;
	flex-direction: column;
	background-color: white;
	border-radius: 8px;
	padding-top: 20px;
}