.subdraft-container{

	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}

.bottom-opts{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.bottom-opts.has_draft_hidden{
	height: auto;
	background-color: white;
	width: 224px;
}

.scale-container{

	position: absolute;
	top: 0px;
	left: 0px;
	color: grey;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}

h3{
	font-weight: 800;
}

.cloak button{
	width: 30px;
}



.is_preview{
	z-index: 10;
}


.active-selection.subdraft-container:hover,
.active-selection.subdraft-container:active{

	.is-primary{
		background: #ff4081 !important;
	}

	.cloak{
		display: none;
	}

	.maindraft{
		border: thin solid #ff4081;
	}



}


.subdraft-container:hover,
.subdraft-container:active{


	.cloak.hide{
		display: none;
	}
	.cloak{
		display: flex;
	}

	.maindraft{
		border: thin solid #00d1b2;
	}

}

button.output{
    position: relative;
	background-color: #00d1b2;
	color: white;
	border: none; 
}


.drawing{
	z-index: -1;

	.cloak{
		pointer-events: all;
	}

	.maindraft{
		pointer-events: none;
	}
}

.dims_and_name{
    display: flex;
    flex-direction: column;
    font-size: 0.7em;
    margin: 0px 6px;
    justify-content: space-between;
    width: 100%;
	min-width: 60px;
	overflow: hidden;
}
.error{
	color: #ff3860;
  }
.mat-icon{
	height: auto;
}

.dropdown{
	display: flex;
	flex-direction: column;
}

.subdraft-details{
	position: relative;
	left: -30px;
	width:30px;
	flex-direction: column;
	justify-content: flex-start;
}

.cloak{
	display: none;
	flex-direction: column;
	width: 30px;
}

.align-top{
	display: flex;
	flex-direction: column;
}

.subdraft-contents{
	display: block;
	position: relative;
	left: -30px;
	min-width: 200px;
}

.is-active{
	background: #00d1b2;
	background: #00000070
}

button.is-primary.is-active{
    background-color: rgb(255, 64, 129);
}

button.is-primary{
    background-color: rgba(255,255,255,.5);
	color: black;
}

button{
	width: 30px;
}

svg{
	display: block;
	color: black;
}

#bitmapImage{
	display: none;
	pointer-events: none;
}

.maindraft{
	display: block;
	overflow:hidden;
	border: thin solid white;
}

.hidden {
	display: none;
}

.no-pointer{
	pointer-events: none;
}

div.cdk-drag-dragging .maindraft{
	border: thin solid #ff4081;
}

.hide{
	display:none;
}

.connectable{
	color:  #ff4081;
	background: black;
}

