<div id="selection-container" 
[style.display]="(hide_parent)? 'none' : 'flex'"
>


<!-- <svg #mySelection class="selection" id="selection">
    <text x="5" y="5" text-anchor="start"></text>
</svg> -->

<div class="selection-row">

    <div 
    id="selection" 
    class="selection"
    [style.width.px]='screen_width'
    [style.height.px] = 'screen_height'
    [style.display]="(hide_selection)? 'none' : 'block'">
    </div>


    <div id="selection-actions" class="selection-actions" [style.display]="(hide_options)? 'none' : 'flex'">
        <button mat-icon-button
        matTooltip="edit design in this region"
        [matMenuTriggerFor]="actions"
        ><i class="fas fa-magic"></i></button>


        <mat-menu #actions="matMenu">
        <ng-container *ngFor="let action of design_actions">
        <button class="menu-button" 
        mat-menu-item 
        (click)="designActionChange(action.value)">
        <span class="{{action.icon}}"></span>
        <span>{{action.viewValue}}</span>
        </button>

        </ng-container>
        </mat-menu>


        <!-- <button 
        mat-icon-button 
         matTooltip="fill with pattern"
         [matMenuTriggerFor]="fills"
         ><i class="fas fa-fill-drip"></i></button>
         -->

         <!-- <mat-menu #fills="matMenu">
            <ng-container *ngFor="let pattern of patterns">
            <button class="menu-button" 
            mat-menu-item 
            (click)="fillEvent(pattern.id)">
                <div class="pattern-swatch">
                    <svg [attr.width]="pattern.width * 10" [attr.height]="auto"  [attr.viewBox]="'0 0 ' + pattern.width * 10 + ' ' + pattern.height * 10" style="background:#fefefe;max-width:75px;">
                    <g *ngFor="let row of pattern.pattern; let i = index" style="background:#fefefe;">
                        <ng-container *ngFor="let cell of row; let j = index">
                        {{cell}}
                        <rect *ngIf="cell.is_up" [attr.x]="j * 10" [attr.y]="i * 10" width="10" height="10" fill="#000"/>
                        </ng-container>
                    </g>
                    </svg>
                </div>
            <span>{{ pattern.name }}</span>
            </button>
    
            </ng-container>
        </mat-menu> -->

    
        
        
        
        
        
        
        <button mat-icon-button  matTooltip="copy this region" (click)="copyEvent()"><i class="fas fa-clipboard"></i></button>
        <button mat-icon-button  matTooltip="paste into this region" (click)="pasteEvent('original')"><i class="fas fa-paste"></i></button>

    </div>
</div>

<div class="selection-row">
    <span>{{width}} x {{height}} </span>

</div>

</div>