#selection-container{
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    pointer-events: none;
}


.selection-row{
    display: flex;
    flex-direction: row;
    pointer-events: none;
}

.selection-actions{
    display: flex;
    flex-direction: column;
    width: fit-content;
    background: white;
    opacity: 0.8;
    pointer-events: all;
}

.selection {
    border: dashed #ff4081 4px;
    //background: #ffffff98;
    pointer-events: none;
    overflow: visible;
    z-index: 2;

  }

  .pattern-swatch svg{
      border: thin solid grey;
  }

  span{
      padding-left: 8px;
  }

  
  .menu-button{
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
  }
  