<div class="dialog-header">
    <h2 mat-dialog-title>Publish this File to a Sharable Link</h2>
   
  </div>
  <mat-dialog-content>


    <p><mat-slide-toggle [checked]="shared_id !== -1" (change)="toggleSharing()">
      <span *ngIf="shared_id !== -1" >
        Anyone can access this file with the link below
       </span>
      <span *ngIf="shared_id == -1" >
        This file is not shared
      </span>
    </mat-slide-toggle>


    <div class="shared_file_meta" *ngIf="shared_id !== -1">

      <mat-divider></mat-divider>
      <button mat-raised-button color="primary" (click)="copyToClipboard()"> {{share_url}} </button>
      <img src="/assets/img/{{share_obj.license}}.png">


      <h2>Sharing Settings</h2>
    
        <mat-form-field class="fullwidth">
          <mat-label>License</mat-label>
          <mat-select [(ngModel)]="share_obj.license" (selectionChange)="updateChange()">
            @for (license of licenses; track license) {
              <mat-option [value]="license.value">{{license.viewValue}}</mat-option>
            }
          </mat-select>
          <mat-hint>Need help picking? Visit <a href="https://creativecommons.org/share-your-work/cclicenses/">Creative Commons</a></mat-hint>
        </mat-form-field>

        <mat-form-field  class="fullwidth">
          <mat-label>Shared File Name</mat-label>
          <input  matInput value="{{share_obj.filename}}">
        </mat-form-field>


        <mat-form-field class="fullwidth">
          <mat-label>File Description</mat-label>
          <textarea matInput placeholder="you can tell someone a bit more about this file here">{{share_obj.desc}}</textarea>
        </mat-form-field>

        <mat-form-field  class="fullwidth">
          <mat-label>Credit Line</mat-label>
          <input matInput value="{{share_obj.owner_creditline}}">
        </mat-form-field>

        <mat-form-field  class="fullwidth">
          <mat-label>URL to Additional Information</mat-label>
          <input matInput value="{{share_obj.owner_url}}">
        </mat-form-field>

        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="share_obj.public">Include this in the examples section of AdaCAD</mat-checkbox>
        </section>

        <canvas id="img_preview"></canvas>

        <upload-form 
          type="init" 
          multiple="false"
          accepts=".jpg,.png,.bmp"
          type="single_image"
          (onData)="handleFile($event)"
          (onError)="handleError($event)"
          class="upload-form-box">
        </upload-form>
        
        <div class="filehistory">
    
        <h2>File History</h2>
    
          <div class="history_item" *ngFor="let cont of author_list; index as i; first as isFirst">
            <div class="username"> {{cont.username}}</div>
            <div class="action"><span *ngIf="!isFirst">updated and </span>shared this file on</div>
            <div class="timestamp">{{cont.timestamp}}</div>
          </div>
        </div>

    </div>
    <mat-divider></mat-divider>

    <p class="about">About Link Sharing: When you create a link, it is equivalent to the "save as" operation on most computers: a copy of this file, in this state, is created and can be opened by another user via the link. You will not see any edits they make to the file and they will not see any future edits you make to this file. If you want to publish edits you have made to this file, you must generate and share a new link. You can manage your shared files using the <a href="#">file manager</a></p>


</mat-dialog-content>
  
    <mat-dialog-actions>
      <button mat-button mat-dialog-close>Close</button>
    </mat-dialog-actions>