
canvas{
  width: fit-content;
  height: fit-content;
}



.status{
  width: 100%;
  text-align: center;
  position: fixed;
  left: 50%;
}

#has_selection{
  display: none;
}



#draft_sidebar {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  width: 100px;
  font-size: .8em;
  flex: none;
  background-color: white;
  height:100%;
}


#draft_viewer{
  display: flex;
}

// #warp-systems,
// #warp-materials{
//   width: fit-content;
// }

.top-half-draft{
  display: flex;
  flex-direction: row;
}

.hide{
  display: none !important;
}

.origin-selector{
  color: #333;
}

#threading{
  margin: 0px 15px;
  //width: fit-content;
}

#treadling{
  margin-top: 15px;
}

.controls{
  width: 25%;
  display: flex;
  padding: 24px;
  flex-direction: column;
  font-size: 0.8em;
  overflow: scroll;
}



.expand{
  position: absolute;
  top: 10px;
  left: 30vw;
  z-index: 2;
}

.expand.expanded{
  position: absolute;
  top: 10px;
  left: 60vw;
  z-index: 2;
}

.left-side{
  display: flex;
  flex-direction: column;
}

.right-side{
  display: flex;
  flex-direction: column;
}

.fullwidth{
  width: 100%;
}

.print{
  margin-bottom: 8px;
}


#draft-container{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}


#draft-scale-container{
  width: fit-content;
  height: fit-content;
  margin: auto;
  display: flex;

}

#draft-scale-container.origin0,
#draft-scale-container.origin3
{
  flex-direction: column;
}

#draft-scale-container.origin1,
#draft-scale-container.origin2
{
  flex-direction: column-reverse;
}



.warp-systems-container{
  padding: 15px;
  display: flex;
}

.warp-systems-container.origin0
{
  flex-direction: column;
  align-items: flex-start;
}


.warp-systems-container.origin3
{
  flex-direction: column;
  align-items: flex-end;
}

.warp-systems-container.origin1{

  flex-direction: column-reverse;
  align-items: flex-start;

}


.warp-systems-container.origin2
{
  flex-direction: column-reverse;
  align-items: flex-end;

}



.threading-tieup-container{
  display: flex;
  
  // canvas{
  //   padding-right: 10px;
  // }
}

.threading-tieup-container.editable-loom{
  opacity: 1;
  cursor: pointer;



}

.threading-tieup-container.editable-loom.loomtype-direct{
  #tieups{
  opacity:  .5;
  cursor: not-allowed;
  }

}

.threading-tieup-container.editable-drawdown{
  opacity:  .5;
  cursor: not-allowed;
}





.threading-tieup-spacer.origin3,
.threading-tieup-spacer.origin2{
  display: block;
}

.threading-tieup-spacer.origin0,
.threading-tieup-spacer.origin0{
  width: 0px;
  display: block;
}



.threading-tieup-container.origin0
{
  #threading-canvas{
    //flip x and y
     transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

  }
  #tieups-canvas{
    //flip y only
     transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.drawdown-container.origin0{

  #drawdown-canvas{
    transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

}


.threading-tieup-container.origin1
{
  #threading-canvas{
    //flip x and y
     transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);

  }
}

.drawdown-container.origin1{

  //flip x and y
  #drawdown-canvas{
    transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  #treadling-canvas{
    transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

}

.threading-tieup-container.origin2
{
  #tieups-canvas{
     transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.drawdown-container.origin2
{
  #treadling-canvas{
     transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  #drawdown-canvas{
    position: relative;
    transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  


 
}

.threading-tieup-container.origin3
{
  #tieups-canvas{
     transform: matrix3d(-1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }

  #threading-canvas{
     transform: matrix3d(1, 0, 0, 0, 0, -1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.drawdown-container.origin3
{
  #treadling-canvas{
     transform: matrix3d(-1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}

.drawdown-container.editable-loom{
  #treadling{
    opacity: 1;
    cursor: pointer;

  }

  #drawdown{
    opacity: 0.5;
    cursor: not-allowed;

  }

}

.drawdown-container.editable-drawdown{
  #treadling{
    opacity: .5;
    cursor: not-allowed;
  }

  #drawdown{
    opacity: 1;
    cursor: pointer;
  }

}





.threading-tieup-container.origin0,
.threading-tieup-container.origin1
{
  flex-direction: row; 
}

.threading-tieup-container.origin2,
.threading-tieup-container.origin3
{
  flex-direction: row-reverse; 
}


.drawdown-container{
  display: flex;
}

.drawdown-container.origin0,
.drawdown-container.origin1
{
  flex-direction: row; 
}

.drawdown-container.origin2,
.drawdown-container.origin3
{
  flex-direction: row-reverse; 
}





.weft-systems-container{
  display: flex;
  padding: 15px 15px 0px 15px; 
}

.weft-systems-container.origin0,
.weft-systems-container.origin1
{
  flex-direction: row; 
}

.weft-systems-container.origin2,
.weft-systems-container.origin3
{
  flex-direction: row-reverse; 
}


.warp-number-container{
  display: flex;
  height: 20px;
}

.warp-systems-text {
      cursor: pointer;
      font-size: 14px;
      line-height: 14px;
            color: #333;
      z-index: 1;
      display: flex;
      width: fit-content;
      
    
    
    }
  

    .warp-systems-text.origin0,
    .warp-systems-text.origin1
    {
      flex-direction: row-reverse;
      justify-content: flex-start;

    }

    .warp-systems-text.origin2,
    .warp-systems-text.origin3
    {
      flex-direction: row;
      justify-content: flex-end;

    }
    
    
    
    
    .warp-system-col{
        width: 15px;
        flex-grow: 1;
        color: #000;
        z-index: 1;
        opacity: 1;
        display: flex;
        text-align: center;
        vertical-align: top;
        line-height: 8px;
      
      .warp_selectors{
        display: flex;
        height: 60px;
        flex-direction: column;
      }
    
      &:hover {
        .warp_insert,
        .warp_clone,
        .warp_delete{
            display: block;
        }
      }

      // &:last-child{
      //   border-left: thin solid pink;
      // }

      // &:first-child{
      //   border-right:thin solid pink;
      // }
    }

    .warp-system-col.origin0,
    .warp-system-col.origin3
    {
      flex-direction: column-reverse;
      justify-content: flex-end;

    }

    .warp-system-col.origin2
    {
      flex-direction: column;
      justify-content: flex-start;

    }

    .warp-system-col.origin1
    {
      flex-direction: column;
      justify-content: flex-start;

    }
    
    .warp_system_code{
    /*  user-select: none;
      pointer-events: none;*/
      color: black;
      display: block;
      width: 10px;
      height: 10px;
      border-bottom: thin solid black;
      border-left: thin solid black;
    }
    
    .warp_number{
      display: block;
      color: black;
      position: relative;
      height: 15px;
      padding-left: 2px;
      border-left: thin solid black;
      user-select: none;
      -moz-user-select: none;
      -khtml-user-select: none;
      -webkit-user-select: none;
      -o-user-select: none;
    }


    .warp_number.origin0,
    .warp_number.origin1
    {
      left: 9px;
    }

    .warp_number.origin2,
    .warp_number.origin3
    {
      left: 0px;
    }

    .warp_number_last{
      display: block;
      /* position: relative; */
      left: 10px;
      height: 15px;
    
    }

    .warp_number_last.origin0,
    .warp_number_last.origin1
    {
      border-left: thin solid black;
      padding-left: 2px;

    }

    .warp_number_last.origin2,
    .warp_number_last.origin3
    {
      border-right: thin solid black;
      padding-left: 0px;

    }


    // .last-warp{
    //   display: block;
    //   position: relative;
    //   left: 10px;
    //   height: 15px;
    //   padding-left: 2px;
    //   border-right: thin solid white;
      
    
    // }
    
    .warp_insert,
    .warp_clone,
    .warp_delete{
      align-items: left;
      justify-content: left;
      cursor: pointer;
      height: 18px;
      padding-bottom: 5px;
      z-index: 2;
      display: none;
    
    
    }
    
    
    
    
    .fa-plus-circle {
      color: hsl(141, 71%, 48%);
    }
    
    .fa-clone {
      color: hsl(204, 86%, 53%)
    }
    
    .fa-trash {
       color: hsl(348, 100%, 61%);
    }
    
    
  
  .weft-systems-text {
    cursor: pointer;
    font-size: 14px;
    line-height: 14px;
    color: #333;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    height: fit-content;
  }

  
  .weft-systems-text.origin0,
  .weft-systems-text.origin3
  {
    flex-direction: column; 
  }

  .weft-systems-text.origin1,
  .weft-systems-text.origin2
  {
    flex-direction: column-reverse;
 
  }

  .weft_actions{
    display: flex;
    width: 60px;
    flex-direction: row;
  }

  .weft-system-row{
    height: 15px;
    display: flex;
    flex-grow: 1;
    color: #333;
    z-index: 1;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    justify-content: flex-start;
    line-height: 8px;

    .weft_indicies{
      width: 20px;
      display: block;
    }
  
    &:hover {
      .weft_insert,
      .weft_clone,
      .weft_delete{
          display: block;
      }
    }
  
  }

  .weft-system-row.origin0,
  .weft-system-row.origin1
  {
    flex-direction: row; 
  }

  .weft-system-row.origin2,
  .weft-system-row.origin3
  {
    flex-direction: row-reverse;
 
  }
  
  .weft_system_code{
    display: block;
    width: 10px;
    height: 10px; 
    border-left: thin solid #333;
    border-top: thin solid #333;
  }
  
  .weft_number{
    display: block;
    position: relative;
    border-bottom: thin solid #333;
    width: 20px;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
  }

  .weft_number.origin0,
  .weft_number.origin3
  {
    top: -9px;
    padding-top: -9px;

  }

  .weft_number.origin1,
  .weft_number.origin2
  {
    top: 1px;
    padding-top: 0px; 
  }

  .weft_number_last{
    display: block;
    position: relative;
    top: 0px;
    width: 20px;
  }

  .weft_number_last.origin0,
  .weft_number_last.origin3
  {
    border-bottom: thin solid #333;


  }

  .weft_number_last.origin1,
  .weft_number_last.origin2
  {
    border-top: thin solid white;

  }
  
  .weft_insert,
  .weft_clone,
  .weft_delete{

    align-items: right;
    justify-content: right;
    cursor: pointer;
    width: 20px;
    padding-right: 5px;
    z-index: 2;
    display: none;
  
  }

  a{
    color: black;
  }

  .weft-material,
  .warp-material{
    position: relative;
    top: 1px;
    width: 9px;
    height: 9px;
    border: thin solid grey;
}

.warp-system{
  display: block;
  padding: 4px 0px;

}

.warp-material{
  display: block;
}

.weft-material,
.weft-system{
  display: inline-block;
  margin: 0px 2px;

}
  
  
