<app-sidebar id="draft_sidebar"
#sidebar
[expanded]="expanded"
(onDesignModeChange)='designModeChange($event)'
(onZoomChange) ="renderChange($event);"
(onViewChange) ="viewChange($event);"
(onHideWeftSystem)="hideWeftSystem($event);"
(onShowWeftSystem)="showWeftSystem($event);"
(onHideWarpSystem)="hideWarpSystem($event);"
(onShowWarpSystem)="showWarpSystem($event);"
(onLocalLoomNeedsRedraw)="redrawLoomAndDraft()"
(onUpdateWarpSystems) = "updateWarpSystems($event)"
(onUpdateWeftSystems) = "updateWeftSystems($event)"
(onUpdateWarpShuttles) = "updateWarpShuttles($event)"
(onUpdateWeftShuttles) = "updateWeftShuttles($event)"
(onExpand)="expand()"
></app-sidebar>



<div class="draft-container {{source}}"  [class.expanded] ="expanded" id="draft-container">


    <div id = 'draft-scale-container' class="origin{{ws.selected_origin_option}}" [class.hide]="render.current_view == 'simulate'">


      <app-selection 
      #selection
      [id]="id"
      (onCopy)="onCopy()"
      (onClear)="onClear($event)"
      (onPaste)="onPaste($event)"
      (onSelectionEnd)="onSelectionEnd()"
      ></app-selection>
     
      
      

      <div class="warp-systems-container origin{{ws.selected_origin_option}} ">
        <div class="warp-systems-text origin{{ws.selected_origin_option}}"  id="warp-systems-text">
         
          <div class="warp-system-col origin{{ws.selected_origin_option}}" 
          [style.width.px] = "cell_size"
          *ngFor="let i of colSystemMapping; let j = index;" >
          <a class="warp-material"
          id="warp-material-{{j}}"
          [style.background-color]="this.ms.getColor(colShuttleMapping[j])" 
          [style.width.px]="cell_size-1"
          [style.height.px]="cell_size-1"
          (mouseover)="checkForPaint('warp', j, $event)"
          (click)="incrementWarpMaterial(j)">   
          </a>
            <a class="warp-system" (click)="incrementWarpSystem(j)"> {{i+1}}</a>
     
          <div class="warp-number-container">
            <span *ngIf="j % render?.getTextInterval() == 0" class="warp_number origin{{ws.selected_origin_option}}">
              <ng-container *ngIf='ws.selected_origin_option == 2 || ws.selected_origin_option == 3'>{{j}}</ng-container>
              <ng-container *ngIf='ws.selected_origin_option == 0 || ws.selected_origin_option == 1'>{{getFlippedWarpNum(j)}}</ng-container>
            </span>      
          
            <!-- <span *ngIf="isLastCol(j)" class="warp_number_last origin{{ws.selected_origin_option}}">
              <ng-container *ngIf='ws.selected_origin_option == 2 || ws.selected_origin_option == 3'>{{j+1}}</ng-container>
              <ng-container *ngIf='ws.selected_origin_option == 0 || ws.selected_origin_option == 1'>{{getFlippedWarpNum(j) - 1}}</ng-container>
              
            </span>       -->
          </div>
            <div  class="warp_selectors">
            <span *ngIf="!viewonly"class="warp_delete" (click)="deleteCol(j);"><i class="fa fa-trash"></i>
              </span>
      
            <span *ngIf="!viewonly" class="warp_clone"
            (click)="cloneCol(j);">
              <i class="fa fa-clone"></i>
            </span>
      
      
            <span *ngIf="!viewonly" class="warp_insert" 
            (click)="insertCol(j + 1);">
            <i class="fa fa-plus-circle"></i></span>
            </div>
         
          </div>

            <!-- <div class="warp-system-col" >
              <span class="last-warp">{{draft?.warps}}</span>
            </div>  -->

          </div>  

      </div>
      <div [class.hidden]="!isFrame" class="threading-tieup-container origin{{ws.selected_origin_option}} editable-{{dm.getSelectedDesignMode('drawdown_editing_style').value}}">
        <canvas id="threading" class=""></canvas>
        <div class="threading-tieup-spacer origin{{ws.selected_origin_option}}"></div>
        <canvas id="tieups" #tieups ></canvas>
      </div>

      <div class="drawdown-container origin{{ws.selected_origin_option}} editable-{{dm.getSelectedDesignMode('drawdown_editing_style').value}}" >
        <canvas id="drawdown" #drawdown  >  </canvas>
        <canvas [class.hidden]="!isFrame" id="treadling" #treadling></canvas>
        
        <div class="weft-systems-container origin{{ws.selected_origin_option}}">
          <div class="weft-systems-text origin{{ws.selected_origin_option}}" id="weft-systems-text">
            <div class="weft-system-row origin{{ws.selected_origin_option}}" 
            [style.height.px]="cell_size"
            *ngFor="let i of (render?.visibleRows); let j = index;" >
               
            <a class="weft-material" 
            id="weft-material-{{j}}"
            [style.background-color]="this.ms.getColor(rowShuttleMapping[i])" 
            [style.width.px]="cell_size-1"
            [style.height.px]="cell_size-1"
            (mouseover)="checkForPaint('weft', j, $event)"
            (click)="incrementWeftMaterial(j)"> 
            </a>
            
            <a class="weft-system" (click)="incrementWeftSystem(j)"> 
                  {{ system_codes[rowSystemMapping[i]]}}</a>

               


                <div class="weft_indicies">

                <ng-container *ngIf="ws.selected_origin_option == 1 || ws.selected_origin_option == 2">
                  <span *ngIf="(i % render?.getTextInterval() == 0)" class="weft_number origin{{ws.selected_origin_option}}">{{getFlippedWeftNum(j)}}</span>      
                  <!-- <span *ngIf="(isLastRow(i))" class="weft_number_last origin{{ws.selected_origin_option}}">{{getFlippedWeftNum(j)-1}}</span>       -->
                </ng-container>  
                <ng-container *ngIf="ws.selected_origin_option == 0 || ws.selected_origin_option == 3">

                <span *ngIf="i % render?.getTextInterval() == 0" class="weft_number origin{{ws.selected_origin_option}}">{{j}}</span>      
                <!-- <span *ngIf="(isLastRow(i))" class="weft_number_last origin{{ws.selected_origin_option}}">{{i+1}}</span>       -->
              </ng-container>  
                </div>

                <div class="weft_actions">
                  <span *ngIf="!viewonly" class = "weft_insert" 
                  (click)="insertRow(j, i)">
                  <i class="fa fa-plus-circle"></i>
                  </span>
        
                  <span *ngIf="!viewonly"class = "weft_clone" 
                  (click)="cloneRow(j, i);">
                  <i class="fa fa-clone"></i>
                  </span>
                  
                  <span *ngIf="!viewonly"class="weft_delete" 
                   (click)="deleteRow(i);">
                   <i class="fa fa-trash"></i>
                  </span>
                </div>
            </div> <!-- end weft system row-->
          </div> 
        </div>
      </div>


    
    
    
    
          

    
    
    </div>


 
 
 

 
          
  
 
 
   
     <!-- <svg #activeRow class="active_row">
     </svg>
 
     <svg #activeCol class="active_col">
     </svg>
                -->
 
 
     <canvas #bitmapImage hidden></canvas>
    </div>

      <div class="controls" 
      [style.display]="(expanded) ? 'flex' : 'none'" 
      *ngIf="id !== -1">

        <div class="left-side">
        <form #envt="ngForm" novalidate>

          <mat-form-field class="fullwidth">
  
          <mat-label>Loom Type</mat-label>
          <mat-select  (selectionChange) ="loomChange(envt)" [(value)]="loom_settings.type" [(ngModel)]="loom_settings.type" name="loomtype">
            <mat-option *ngFor="let loomtype of loomtypes" [value]="loomtype.value">
              {{loomtype.viewValue}}
            </mat-option>
          </mat-select>
          </mat-form-field>
  
           
          <mat-form-field class="fullwidth">
            <input matInput name="warps" 
            [(ngModel)]="warps" 
            type="number" 
            min="2" 
            placeholder="Warp Ends" 
            (change)="warpChange(envt)"
            (blur)="warpChange(envt)"> 
            
         
          </mat-form-field>
  
          <mat-form-field class="fullwidth">
            <input matInput name="wefts" 
            [(ngModel)]="wefts" 
            type="number" 
            min="2" 
            placeholder="Weft Pics" 
            (change)="weftChange(envt)"
            (blur)="weftChange(envt)"> 
         
          </mat-form-field>
  
          <mat-form-field class="fullwidth">
            <mat-label>Density Units</mat-label>            
            <mat-select [(value)]="units" [(ngModel)]="loom_settings.units" name="units" (selectionChange) ="unitChange(envt)">
              <mat-option *ngFor="let unit of density_units" [value]="unit.value">
                {{unit.viewValue}}
              </mat-option>
            </mat-select>
            </mat-form-field>
  
            <mat-form-field class="fullwidth">
            <mat-label>Density</mat-label>    
            <input matInput  
            name="epi" 
            [(ngModel)]="loom_settings.epi" 
            type="number" 
            min= "0" 
            (change)="epiChange(envt)"
            (blur)="epiChange(envt)">  
    
            <ng-container *ngIf="loom_settings.units === 'cm'">
              <span matSuffix>ends / 10cm</span>
            </ng-container>
            <ng-container *ngIf="loom_settings.units == 'in'">
             <span matSuffix>epi</span> 
            </ng-container>
          </mat-form-field>
  
  
  
          <mat-form-field class="fullwidth">
            <input matInput 
            name="width" 
            [(ngModel)]="width" 
            step="0.125" 
            type="number" 
            min= "0.25" 
            max ="60" 
            placeholder="Width" 
            (change)="widthChange(envt)"
            (blur)="widthChange(envt)"> 
  
            <ng-container *ngIf="loom_settings.units === 'in'">
              <span matSuffix>inches</span> 
            </ng-container>
    
             <ng-container *ngIf="loom_settings.units === 'cm'">
              <span matSuffix>cm</span> 
           </ng-container>
    
          </mat-form-field>
  
  
    
            <mat-form-field class="fullwidth">
              <mat-label >Number of Frames</mat-label>    
              <input matInput 
              name="frames" 
              [disabled]="loom_settings.type == 'jacquard'"
              [(ngModel)]="frames"  
              step="1" 
              type="number" 
              min= "2" 
              max ="1000" 
              (change)="updateMinFrames(envt)" 
              (blur)="updateMinFrames(envt)"> 
               <span matSuffix>frames</span> 
             </mat-form-field>
      
      
            <mat-form-field class="fullwidth">
              <mat-label>Number of Treadles</mat-label>      
              <input matInput 
              name="treadles" 
              [disabled]="loom_settings.type == 'jacquard'"
              [(ngModel)]="treadles" 
              step="1" 
              type="number" 
              min= "2" 
              max ="1000" 
              (change)="updateMinTreadles(envt)"
              (blur)="updateMinTreadles(envt)"
              > 
               <span matSuffix>treadles</span> 
             </mat-form-field>
    

          </form> 
        </div>
  
           <div class="right-side fullwidth" > 
            <mat-label>Editing Mode: </mat-label>
            <mat-slide-toggle
            [disabled]="loom_settings.type == 'jacquard'"
            (click)="swapEditingStyle()">
            </mat-slide-toggle>
            <div><mat-label>{{dm.getSelectedDesignMode('drawdown_editing_style').viewValue}}</mat-label></div>
            </div>
          
      </div>
