.inlet_connector {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.open_inlet {
    font-size: var(--form-field-entry-size);
    display: flex;
    flex-direction: row;
    align-items: center;

}


.has_connection {
    font-size: var(--form-field-entry-size);
    background-color: black;
    color: white;
    margin-right: 12px;
}


.inlet_block {
    display: flex;
    flex-direction: row;
    position: relative;
    height: max-content;
    top: -24px;
}

.inlet_block .mat-mdc-raised-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: max-content;
    padding: 16px;
}


.input-color {
    display: inline-flex;
    width: var(--form-field-entry-size);
    height: var(--form-field-entry-size);
    border: 2px solid grey;
}



.inputs {
    display: flex;
    justify-content: flex-start;
    text-align: center;
}



input {
    width: 35px;
}



// .draft-inlet-icon {
//     display: block;
//     width: 28px;
//     height: 28px;
//     background: url(../../../../../assets/svg/draft_inlet.svg);
//     background-size: 28px 28px;
//   }

//   .material-inlet-icon {
//     display: block;
//     width: 28px;
//     height: 28px;
//     background: url(../../../../../assets/svg/material_inlet.svg);
//     background-size: 28px 28px;
//   }