.loom-form {
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.frame-comment {
    color: red;
    font-size: 0.8em;
    margin-top: 0px;
    padding: 0px;
}

.treadle-comment {
    color: red;
    font-size: 0.8em;
    margin-top: 0px;
    padding: 0px;
}

.section-title {
    display: block;
    font-weight: bold;
    padding: 16px 0px 16px 0px;
}