
<mat-expansion-panel  expanded [hideToggle] = "collapsed">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <i class="warpicon fas fa-pencil" aria-hidden="true"></i>
     <span>Design</span>
    </mat-panel-title>
    <mat-panel-description>
    </mat-panel-description>
  </mat-expansion-panel-header>




<!--  <div class="select_slider">
     Select Cell
      <mat-slide-toggle
          [checked]="design_mode === 'select'"
          (change)="toggleChange($event)">
      </mat-slide-toggle>
    Select Region
  </div> -->


    <button matTooltip= "Drawing Tools"
    [matMenuTriggerFor]="drawTools"
    name="Drawing Tools" 
    class="button is-small is-primary fas fa-pen"
    [class.is-active]="design_modes.isSelected('draw')"
    [style.color]="button_color"
    (click)="designModeChange($event)">
  </button> 

  <mat-menu #drawTools="matMenu">
    <ng-container *ngFor="let mode of design_modes.getMode('draw').children">
      <button mat-menu-item
      [matTooltip]=mode.viewValue 
      [name]=mode.value 
      class="button is-small is-primary {{mode.icon}}"
      [class.is-active]="design_modes.isSelected(mode.value)"
      [style.color]="button_color"
      (click)="designModeChange($event)">
      </button> 
      </ng-container>     
 </mat-menu>


<button matTooltip= "Select Region"
      name="select" 
      class="button is-small is-primary fas fa-expand"
      [class.is-active]="design_modes.isSelected('select')"
      [style.color]="button_color"
      (click)="designModeChange($event)">
</button>

<button matTooltip= "Move Subdrafts"
      name="move" 
      class="button is-small is-primary fas fa-arrows-alt"
      [class.is-active]="design_modes.isSelected('move')"
      [style.color]="button_color"
      (click)="designModeChange($event)">
</button>




<!-- 
<h3> Interlacement Tools</h3>

  <ng-container *ngFor="let mode of design_modes">
     <button [matTooltip]=mode.viewValue 
      [name]=mode.value 
      class="button is-small is-primary {{mode.icon}}"
      [class.is-active]="design_mode.name === mode.value"
      [style.color]="button_color"
      (click)="designModeChange($event)">
      </button>
  </ng-container> -->

<!-- <h3> Draw with Materials</h3>
  <ng-container *ngFor="let shuttle of materials">
     <button [matTooltip]=shuttle.name 
      [name]=shuttle.id 
       class="button material is-small is-primary fas fa-square"
      [class.is-active]="design_mode.id === shuttle.id"
      [style.color]="shuttle.color"
      (click)="drawWithMaterial($event)">
      </button>
  </ng-container> -->


<!-- <h3> Selection tools </h3>


  <ng-container *ngFor="let action of design_actions">
     <button [matTooltip]=action.viewValue 
      [name]=action.value 
      [disabled] = "!(design_mode.name === 'select' || design_mode.name === 'copy')"
      class="button is-small is-primary {{action.icon}}"
      [style.color]="button_color"
      (click)="designActionChange($event)">
      </button>
  </ng-container> -->

</mat-expansion-panel>



