h1{
    transform: rotate(-90deg);
    color: #3f51b5;
    font-weight: bold;
  }

.tool-chunk{
    height: 10%;
    display: flex;
    flex-direction: column;
}

.spacer{
  height: 100px;
  padding-top: 35px;
}
  

