
<h2 mat-dialog-title>Select Your Version</h2>
<mat-dialog-content>
  <p>We've been making changes to our Beta Release!</p>
  <div class="container">
    <div class="left">
      Would you like to use the newest beta release (currently loaded)
      <button mat-raised-button cdkFocusInitial mat-dialog-close color="primary">Use Newer Beta</button>

    </div>
    <div class="right">
      Or would you prefer to use the older beta release?
      <button mat-raised-button >Use Older Beta</button>
    </div>
  </div>
<p>questions and comments are always welcome via <a href="https://groups.google.com/g/adacad-forum">the AdaCAD forum</a> or <a href="https://github.com/UnstableDesign/AdaCAD/issues">Github</a></p>

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button >Close</button>
</mat-dialog-actions>

