.textfield{
	width: 200px;
}

.note-container{
	position: absolute;
	top: 0px;
	left: 0px;
	display: flex;
	flex-direction: column;
	width: 200px;
	background: yellow;

}



.text-entry{
	display: flex;
	flex-direction: column;
}

.scale-container{

	position: absolute;
	top: 0px;
	left: 0px;
	color: grey;
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}

.note-opts{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}







