/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import '~bulma/bulma';

body {
  margin: 0;
}

svg {
  overflow: visible;
}

mat-sidenav {
  width: 60px;
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.hidden {
  display: none !important;
}

// .mat-drawer-content{
//    // background: #dddddd;
  
// }



.mat-focused .mat-form-field-label {
  color: rgba(255,255,255,.7);
}

.mat-radio-button {
  padding-right: 10px;
}

.mat-form-radio-label {
  color: rgba(255,255,255,.7);
  padding-right: 10px;
}



.mat-drawer-container {
  width: 100%;
  height: calc(100vh - 64px) !important;
}

mat-drawer{
  width: 60px;
}


.is-outlined.is-active {
  background-color: #00d1b2 !important;
  border-color: transparent !important;
  color: #fff !important;
}


.is-fullwidth {
  width: 100%;
}

.mat-form-field-infix.mat-form-field-infix {
  display: flex;
}
