/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'bulma/bulma';
@import '@fortawesome/fontawesome-free/css/all.css';


body {
  margin: 0;
  overscroll-behavior-x: none;
}

svg {
  overflow: visible;
}



.no-text-select {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.fill-remaining-space {
  /* This fills the remaining space, by using flexbox. 
     Every toolbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.hidden {
  display: none !important;
}

// .mat-drawer-content{
//    // background: #dddddd;
  
// }



.mat-focused .mat-form-field-label {
  color: rgba(255,255,255,.7);
}

.mat-radio-button {
  padding-right: 10px;
}

.mat-form-radio-label {
  color: rgba(255,255,255,.7);
  padding-right: 10px;
}


.is-outlined.is-active {
  background-color: #00d1b2 !important;
  border-color: transparent !important;
  color: #fff !important;
}


.is-fullwidth {
  width: 100%;
}

.mat-form-field-infix.mat-form-field-infix {
  display: flex;
}
