<!-- <button mat-icon-button (click)="close()"><i class="fas fa-times"></i></button> -->

<h2 mat-dialog-title>Material Library</h2>
<mat-dialog-content>




  <mat-accordion [formGroup]="materialsForm">
    <div formArrayName="materials">
      @for (materialControl of materialsFormArray.controls; track $index) {
      <mat-expansion-panel [formGroupName]="$index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <i [style.color]="materialControl.get('color')?.value" class="fas fa-square"></i>
            {{materialControl.get('name')?.value}}
          </mat-panel-title>
          <mat-panel-description>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-form-field class="is-fullwidth">
          <mat-label>color</mat-label>
          <input matInput #colorpicker type="color" placeholder="Color" class="colorpicker"
            [style.background]="materialControl.get('color')?.value" formControlName="color"
            (change)="materialColorChange(materialControl.get('id')?.value, $event.target.value)" />
        </mat-form-field>
        <mat-form-field class="is-fullwidth">
          <mat-label>name</mat-label>
          <input matInput placeholder="Material Name" formControlName="name">
        </mat-form-field>
        <mat-form-field class="form-field is-fullwidth">
          <mat-label>diameter (in mm)</mat-label>
          <input matInput type="number" placeholder="Yarn Diameter (in mm)" min="0" max="100" step=".5"
            (change)="diameterChange()" formControlName="diameter">
          <span matTextSuffix>mm</span>
        </mat-form-field>
        <div class="is-fullwidth">
          <mat-form-field class="is-fullwidth">
            <mat-label>Add Notes</mat-label>
            <textarea matInput formControlName="notes"></textarea>
          </mat-form-field>
        </div>
        @if (ms.materials.length > 1) {
        <div class="is-fullwidth">
          <button class="is-fullwidth" mat-flat-button [matMenuTriggerFor]="replacements">
            <i class="fa fa-trash"></i> Delete
          </button>
          <mat-menu #replacements="matMenu">
            @for (rep of ms.materials; track rep) {
            <button mat-button (click)="delete(materialControl.get('id')?.value, rep.id)">
              {{ rep.name }}
            </button>
            }
          </mat-menu>
        </div>
        }
      </mat-expansion-panel>
      }
    </div>

    <mat-expansion-panel [formGroup]="newMaterialForm">

      <mat-expansion-panel-header>
        <mat-panel-title>
          <i class="fas fa-plus" (click)='addmaterial = !addmaterial'></i> Add Material
        </mat-panel-title>
        <mat-panel-description>

        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field class="is-fullwidth">
        <mat-label>color</mat-label>
        <input matInput #colorpicker type="color" placeholder="Color" class="colorpicker"
          [style.background]="newMaterialForm.get('color')?.value" formControlName="color" />
      </mat-form-field>

      <mat-form-field class="is-fullwidth">
        <mat-label>name</mat-label>
        <input matInput placeholder="Material Name" formControlName="name">
      </mat-form-field>



      <mat-form-field class="form-field is-fullwidth">
        <mat-label>diameter (in mm)</mat-label>
        <input matInput type="number" placeholder="Yarn Diameter (in mm)" min="0" max="100" step=".5"
          (change)="diameterChange()" formControlName="diameter">
        <span matTextSuffix>mm</span>
      </mat-form-field>





      <div class="is-fullwidth">
        <mat-form-field class="is-fullwidth">
          <mat-label>Add Notes</mat-label>
          <textarea matInput formControlName="notes"></textarea>
        </mat-form-field>

        <button mat-flat-button color="primary" (click)="addNewShuttle()"> Add This Material</button>
      </div>


    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="save()">Save</button>
</mat-dialog-actions>