.mat-stroked-button{
    margin: 0px 4px 4px 0px;
    /* background-color: #00d1b2; */
    background: #333333;
    color: white;
    text-align: left;
    font-weight: bold;
}

.mat-form-field{
    width: 100%;
}



.op-group h3{
    width: 95%;
    font-size: 100%;
    font-weight: bold;
    padding: 20px 0px 10px 14px;
}

.op-group  p{
    width: 95%;
    font-size: .8em;
    padding: 0px 0px 10px 14px;
}

.toprow{
    display: flex;
    flex-direction: row;
    line-height: 1em;
}



.visibleTooltip{
    font-size: 2em;
    background: #b71c1c;

}

.op-group{
    display: flex;
    flex-direction: column;
}

