
.global_view{
    border:thin solid #ff3860;
    background-color: white;
    width: 200px;
    height: 200px;
}


svg{
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
}

.local{
    border:2px solid #ff3860;
    z-index: 3;
    position: relative;
    top: -257px;
    transform-origin: top left;
   
}



// button{
//     background: white;
// 	color: #ff4081;
//     border: thin solid #ff4081;
//     width: 30px;
//     height: 30px;
//     line-height: 1em;
//     margin: 2px;
// }





