@use '@angular/material' as mat;


.view-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include mat.toolbar-overrides((standard-height: 54px));

}





.mat-mdc-icon-button {
  font-size: 14px;
  position: relative;
  top: 0px;
}



.copypaste {
  display: flex;
  flex-direction: row;
  gap: 8px;
  font-size: 14px;
  flex: 1 1;
  align-items: center;
  overflow: hidden;

}

.examples {
  button {
    color: #3f51b5;
  }
}

.library-container {

  margin: 0 auto;
  padding: 16px;
  flex-direction: column;
}


.filename {
  height: 30px;
  background: whitesmoke;
  border: thin solid #3f51b5;
  margin: 0px 8px 0px 0px;
  border-radius: 3px;
  color: #3f51b5;
}



.header-container {


  display: flex;
  flex-direction: column;
  flex: 0 1 54px;
  background-color: #3f51b5;
  overflow: hidden;
  position: fixed;
  width: 100%;

}

.view-adjust-overlay {
  height: 100%;
  width: 1px;
  position: absolute;
}

.ui-left {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: scroll;

}

.ui-right {
  display: flex;
  flex-direction: column;
}


.ui-grid {
  position: relative;
  top: 54px;
  height: calc(100vh - 54px);
  display: flex;
  background: white;
  flex-direction: row;
  align-items: stretch;
}

.test {
  font-size: 12px;
  color: white;
  background-color: #ff4081;
  padding: 2px 4px;
  border-radius: 4px;
}


.mixer-container {


  display: flex;
  flex-direction: row;
  background-color: #f0f0f0;
  overflow: hidden;
  height: 100%;

}

.detail-container {
  display: flex;
  flex: 0 1 100%;
  flex-direction: row;
  background-color: #f0f0f0;
  padding-bottom: 100px;
}

.static-container {
  display: flex;
  flex: 1 1 100%;
  align-items: stretch;
  flex-direction: column;
  overflow: hidden;
  background-color: whitesmoke;

  &.collapsed {
    flex: 0 1 40px;
  }

}

.toggle {
  font-size: .5em;



}

.sparkle {
  margin: 0 15px;

  @keyframes sparkle {
    0% {
      opacity: 1;
    }

    50% {
      opacity: 0;
    }
  }

  button:hover {
    color: yellow;
  }


  .sparkle-1 {
    animation: sparkle 2s infinite;
    position: fixed;
    top: 15px;
    left: 110px;
    font-size: 24px;
    z-index: 1000;
  }

  .sparkle-2 {
    animation-delay: 1s;
    animation: sparkle 2s infinite;
    font-size: 24px;
    position: absolute;
    top: -6px;
    left: 220px;
    z-index: 1000;
  }

  .sparkle-3 {
    animation-delay: 2.5s;
    animation: sparkle 2s infinite;
    font-size: 24px;
    position: absolute;
    top: 30px;
    left: 290px;
    z-index: 1000;
  }
}


.download {
  width: 18vw;
}

.mat-button-toggle-appearance-standard {
  font-size: 14px;
  color: #3f51b5;
  background-color: white;
}

.toggle {
  line-height: 10px;
}

.logo-text {
  margin: 0 8px 0 0;
}

.banner {
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

.topbar {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #3f51b5;

  @include mat.button-toggle-overrides((background-color: white,
      selected-state-text-color: #ff4081,
      selected-state-background-color: white,
      text-color: #3f51b5,
      height: 40px));


}

.footer-container {
  border-top: thin solid #3f51b5;
  color: #3f51b5;
  position: fixed;
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  flex-direction: row;
  top: calc(100vh - 54px);
  display: flex;
  background-color: white;
  justify-content: space-between;
  padding: 0px 16px;
}


.footer-left {
  display: flex;
  overflow: hidden;
  flex: 1 1;
  align-items: center;

  button {
    color: #3f51b5;
  }
}

.footer-center,
.footer-right {
  font-size: 14px;
  display: flex;
  flex: 0 1;
  gap: 8px;
  align-items: center;

}

.design_mode {
  margin-right: 12px;
}

.topbar-button-group {
  justify-content: flex-start;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 14px;
}

.hide {
  display: none;
}

.show {
  display: flex;
}



.active {
  color: #ff4081;
}


.offline {
  font-size: .6em;
}


.selected,
.active {
  opacity: .9;
}