@use '@angular/material' as mat;


.upload-container-mixer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;

    @include mat.form-field-overrides((container-text-size: var(--form-field-entry-size),
            filled-input-text-color: black,
            filled-label-text-color: black,
            container-height: var(--input-container-height),
            filled-label-text-size: var(--floating-label-size),
            filled-with-label-container-padding-top: calc(var(--floating-label-padding))));



}


.upload-container-share,
.upload-container-import {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;

    .mat-mdc-form-field {
        display: flex;
        width: 100%;
    }

    @include mat.form-field-overrides((container-text-size: 14px,
            filled-input-text-color: black,
            filled-label-text-color: black,
            filled-label-text-size: 12px));



}




// .progress-bar,
// .upload-button{
//     width: 100%;
// 