.upload-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 8px;
}

.upload_field,
.upload_form_field,
.mat-mdc-form-field{
    width: 300px;
}

.upload{
    height: 60px;
}

// .progress-bar,
// .upload-button{
//     width: 100%;
// }
