
  

  .is-active{
    color: red;
  }


.slider{
    display: flex;
    flex-direction: column;
    max-width: 33%;
}

.swatch{
    width: 9px;
    height: 9px;
    margin-right: 4px;
    display: inline-block;
    border: thin solid grey;
}

.menu-item{
    font-style: inherit;
    display: inline-block;
    padding-left: 12px;
    font-weight: inherit;
}




