.sidebar {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    width: 42px;
    height: 100%;
    font-size: .8em;
}

.slider{
    display: flex;
    flex-direction: column;
    max-width: 33%;
}

.swatch{
    width: 9px;
    height: 9px;
    margin-right: 4px;
    display: inline-block;
    border: thin solid grey;
}





// .sidebar{
//     display: flex;
//     flex-direction: column;
//     justify-content:flex-start;
//     font-size: .8em;

// }

// .swatch{
//     width: 10px;
//     height: 10px;
//     display: inline-block;
//     border: 1px solid grey;
// }

// .is-active{
//    color:#ff3860;
// }


// span{
//     padding-right: 10px;
// }