#palette-scale-container {
    width: 100%;
    height: 100%;
}

.palette_base {
    width: 64000px;
    height: 64000px;
}

svg {
    position: absolute;
}


.multi_select_bounds_overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 4px dashed #ff4081;
    z-index: 1000;
}